<ion-view id="pg_settings" view-title="Settings">
  <ion-content>
		<div class="status">
			<div class="msg">{{login.msg}}</div>
			<button ng-click="logInOut()">{{login.btntxt}}</button>
		</div>
        <div ng-show="login.status">
            <div class="ion-list-header">ACCOUNT</div>
            <ion-list id="userinfo">
                <ion-item>Name <span>{{user.name}}</span></ion-item>
                <ion-item>Email <span>{{user.email}}</span></ion-item>
                <ion-item>Phone No. <span>{{user.telephone}}</span></ion-item>
                <ion-item ng-click="showBookingHistory()">
					Booking History
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>
            </ion-list>
		</div>
		<div class="ion-list-header">ABOUT BEELINE</div>
    		<ion-list id="toggles">
                <ion-item>Quick Tour</ion-item>
                <ion-item>FAQ</ion-item>
                <ion-item>Random Settings</ion-item>
    		</ion-list>
  </ion-content>
</ion-view>

<script id="logout-modal.html" type="text/ng-template">
    <div class="logout modal">
      <ion-header-bar class="bar-modalhead">
		<h1 class="title">Confirm Log Out</h1>
		<a class="item-icon-right" ng-click="logoutModal.hide()">
			<i class="icon ion-ios-close-outline"></i>
		</a>
	  </ion-header-bar>
	  <ion-content has-bouncing="false">
		<h4>Do you want to log out?</h4>
		<button id="btnlogout" ng-click="logoutConfirm()">YES</button>
	  </ion-content>
    </div>
</script>
