<ion-view id="pg_settings" view-title="Settings">
  <ion-content>
		<div class="status">
			<div class="msg">{{login.msg}}</div>
			<button ng-click="logInOut()">{{login.btntxt}}</button>
		</div>
        <div ng-show="loggedIn">
            <div class="ion-list-header">ACCOUNT</div>
            <ion-list id="userinfo">
                <ion-item>Name <span>{{login.name}}</span></ion-item>
                <ion-item>Email <span>{{login.email}}</span></ion-item>
                <ion-item>Phone No. <span>{{login.contact}}</span></ion-item>
                <ion-item ng-click="showBookingHistory()">
					Booking History
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>
            </ion-list>
		</div>
		<div class="ion-list-header">ABOUT BEELINE</div>
    		<ion-list id="toggles">
                <ion-item ng-click="intro()">Quick Tour</ion-item>
                <ion-item>FAQ</ion-item>
                <ion-item>Random Settings</ion-item>
    		</ion-list>
  </ion-content>
</ion-view>
