<ion-view id="pg_login" view-title="Enter Your Phone No.">
	<ion-content has-bouncing="false">
		<div class="content">
			<div class="err ng-hide" ng-show="login.errmsg != ''">
				<i class="icon ion-alert-circled"></i>
				<span class="txt">{{login.errmsg}}</span>
			</div>
			<div class="holder">
				<input id="loginphone" type="tel" ng-model="loginphone" ng-change="phoneNumCheckOK()" data-role="none" name="telephoneNo" id="login-telephoneNo">	
				<div class="phtxt">
					<i class="icon ion-ios-telephone-outline"></i> +65
				</div>
			</div>
			<div class="loginqn">
				<i class="icon ion-ios-help-outline"></i>
				<a ng-click="loginFAQModal.show()">Why does the Beeline login use my number?</a>
			</div>
			<div class="terms">
				By creating an account, you agree to Beeline's <a href="#">Term of Use</a> and <a href="#">Privacy Policy</a>.
				<button id="btnloginnext" ng-click="phoneNumSubmit()" ng-disabled="login.nextDisabled">NEXT</button>
			</div>
		</div>
	</ion-content>
</ion-view>

<script id="login-faq.html" type="text/ng-template">
	<div class="loginfaq modal">
	  <ion-header-bar class="bar-modalhead">
		<h1 class="title">Beeline login FAQ</h1>
		<a class="item-icon-right" ng-click="loginFAQModal.hide()">
		<i class="icon ion-ios-close-outline"></i>
		</a>
	  </ion-header-bar>
	  <ion-content has-bouncing="false">
		  <h4>Why does the Beeline account login use my phone number?</h4>
		  <section>
			  <div class="title"><i class="icon ion-locked"></i> Security and Convenience</div>
			  <ul>
				  <li>
					  To ensure the security of your Beeline account, 
					  and safeguard against account theft, a text message 
					  containing a special code will be sent via SMS to your 
					  phone number to verify your identity during the login process.
				  </li>
				  <li>
					  Beeline will also be able to update you about the status 
					  of your bus in the event of unforseen emergencies or 
					  a disruption of service.
				  </li>
			  </ul>
		  </section>
		  <section>
			  <div class="title"><i class="icon ion-ios-telephone"></i> What If I Change My Number?</div>
			  <ul>
				  <li>
					  To transfer your Beeline account to your new number, 
					  simply update your phone number in your Account Settings
					  and we will send your new number a verification code you 
					  can use to log into your account.
				  </li>
			 </ul>
		  </section>
	  </ion-content>
	</div>
</script>
