<ion-view id="pg_smscode" view-title="Verification code">
	<ion-content>
		<div class="msg">
			Please enter the code we sent to
			<div class="num">+65 {{login.phoneNum || 12345678}}</div>
		</div>
		<input type="input" ng-model="code" data-role="none" name="telephoneNo" id="login-telephoneNo" placeholder="Code" value="">
		<div class="spacing"></div>

		By creating an account, you agree to Beeline's Term of Use and Privacy Policy.</br>
		<button id="btn-login" ng-click="submit(code)">Submit</button>
	</ion-content>
</ion-view>
