<ion-view title="Booking History" class="booking-history">
  <ion-content>
    <ion-list>
      <div class="card" ng-repeat="transaction in transactions track by transaction.id">
        <div class="item item-divider">
          Transaction # {{transaction.id}}
          <span ng-if="transaction.committed" class="item-note balanced">Success</span>
          <span ng-if="!transaction.committed" class="item-note assertive">Failed</span>
        </div>
        <!--<div class="item item-divider" ng-if="transaction.itemsByType.payment">Payment</div> -->
        <div class="item">
          <table class="booking-history">
            <tr>
              <th>
                Transaction Date
              </th>
              <td>
                {{transaction.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}
              </td>
            </tr>
            <tr ng-repeat-start="payment in transaction.itemsByType.payment track by payment.id">
              <th>
                Amount
              </th>
              <td>
                ${{payment.debit | number:'2'}}
              </td>
            </tr>
            <tr ng-if="payment.payment.data.source.funding === 'credit'" ng-repeat-end>
              <th>
                Card No.
              </th>
              <td>
                XXXX XXXX XXXX {{payment.payment.data.source.last4}}
              </td>
            </tr>
          </table>
        </div>
        <!-- FIXME: show the other transaction types -- refunds, free tickets -->
        <div class="item item-divider" ng-if="transaction.itemsByType.ticketSale">
          Tickets Selected
        </div>

        <div ng-repeat="ti in transaction.itemsByType.ticketSale track by ti.id" class="item item-text-wrap">
          <table class="booking-history">
            <tr>
              <th>
                Route
              </th>
              <td>
                {{ti.route.label}}: {{ti.route.from}} &mdash; {{ti.route.to}}
              </td>
            </tr>
            <tr>
                <th>
                  Trip Date
                </th>
              <td>
                {{ti.ticketSale.boardStop.trip.date | date:'dd MMM yyyy'}}
              </td>
            </tr>
            <tr>
              <th>
                Pick-up
              </th>
              <td>
                {{ti.ticketSale.boardStop.time | date:'h:mm a'}}&nbsp; {{ti.ticketSale.boardStop.stop.description}}
              </td>
            </tr>
            <tr>
              <th>
                Drop-off
              </th>
              <td>
                {{ti.ticketSale.alightStop.time | date:'h:mm a'}}&nbsp; {{ti.ticketSale.alightStop.stop.description}}
              </td>
            </tr>
          </table>

        </div>
      </div>
    </ion-list>

    <ion-infinite-scroll on-infinite="loadMore()" ng-if="hasMoreData">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
