
<ion-view title="Booking History">
  <ion-content>
    <ion-list>
      <div class="card" ng-repeat="transaction in transactions track by transaction.id">
        <div class="item">
          Transaction Date:
          <span class="item-note">
            {{transaction.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}
          </span>
        </div>

        <h3 class="item item-divider" ng-if="transaction.$items.ticketSale">
          Tickets Purchased
          <span ng-if="!transaction.committed">(FAILED)</span>
        </h3>

        <dl ng-repeat="ti in transaction.$items.ticketSale track by ti.id">
          <dt>Route</dt>
          <dd>
          {{transactionItem.route.label}}:
          {{transactionItem.route.from}}
            &mdash;
          {{transactionItem.route.to}}
          </dd>

          <dt>Date</dt>
          <dd>
            {{ti.ticketSale.boardStop.trip.date | date:'dd MMM yyyy'}}
          </dd>

          <dt>Pickup / Dropoff</dt>
          <dd>
          {{transactionItem.ticketSale.boardStop.stop.description}} /
          {{transactionItem.ticketSale.alightStop.stop.description}}
          </dd>
        </dl>

        <h3 ng-if="transaction.itemsByType.payment">Payment</h3>
        <ul ng-if="transaction.itemsByType.payment">
          <li ng-repeat="payment in transaction.itemsByType.payment track by payment.id">
            ${{payment.debit | number:'2'}}
          </li>
        </ul>
        <!-- FIXME: show the other transaction types -- refunds, free tickets -->
      </div>
    </ion-list>

    <ion-infinite-scroll on-infinite="loadMore()" ng-if="hasMoreData">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
