<!-- Placeholder Intro Template -->
<ion-view id="pg_intro">
    <ion-slides  options="options" slider="data.slider"  id="slides">
      <ion-slide-page>
        <div class="box blue">
            <div class="header">Book a ride</div>
            <img src="img/Tutorial1_Book.png">
            <div class="notes">
                Search for your route and book a guaranteed seat on a
                direct bus to your destination.
            </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box yellow">
            <div class="header">Suggest a new route</div>
            <img src="img/Tutorial2Suggest.png">
            <div class="notes">
                No suitable routes for you? Submit suggestions
                to convince operators to propose new routes.
            </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box pink">
            <div class="header">Activate and book rides</div>
            <img src="img/Tutorial3Suggest.png">
            <div class="notes">
                Operators will propose routes based on suggestions.
                If enough people book the route, it will be activated!
            </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <div id="bottom">
        <a href="#/tabs/routes/map">SKIP</a>
    </div>
</ion-view>
