<ion-view id="pg_kickstarter_commit" view-title="Commit Success" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button button-clear"
       ui-sref="tabs.kickstarter">
       <i class="icon ion-ios-close-outline"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="booking-content" scroll=false>
    <ion-item class="item item-text-wrap">
      <div class="row">
        <div class="col-33 success-image"><img src="img/paymentComplete_paid.svg"></div>
        <div class="col-67 success-text">You joined the route!</div>
      </div>
      <div class="row">
        <div class="kickstarter-info item">
          <route-item>
            <route-item-bus-number>
              {{ book.route.label }}
            </route-item-bus-number>
            <route-item-start-time>
              {{ book.route | routeStartTime | formatTime:true }}
            </route-item-start-time>
            <route-item-start-location>
              {{ book.route.from }}
            </route-item-start-location>
            <route-item-end-time>
              {{ book.route | routeEndTime | formatTime:true }}
            </route-item-end-time>
            <route-item-end-location>
              {{ book.route.to }}
            </route-item-end-location>
            <route-item-additional-info>
              <company-info-broker company-id="book.route.transportCompanyId"
                                    company="companyInfo">
              </company-info-broker>
              <div class="icon-and-schedule">
                <span class="icon-span company-logo">
                  <img class="mini-icon" ng-src="{{book.route.transportCompanyId | companyLogo}}">
                </span>
                <span class="schedule">
                  {{companyInfo.name}}
                </span>
              </div>

              <div class="icon-and-schedule">
                <span class="icon-span">
                  <img class="mini-icon" src="img/icon_schedule.svg">
                </span>
                <span class="schedule" ng-if="book.route.daysLeft && book.route.daysLeft>1">
                  {{book.route.daysLeft}} days left to activate
                </span>
                <span class="schedule" ng-if="book.route.daysLeft && book.route.daysLeft==1">
                  {{book.route.daysLeft}} day left to activate
                </span>
              </div>
            </route-item-additional-info>
          </route-item>
          <div class="price">
            <fancy-price value="book.route.bidPrice"></fancy-price>
          </div>
        </div>
      </div>

      <button class="primary-button button" ui-sref="tabs.kickstarter">
        ok
      </button>
    </ion-item>
  </ion-content>
</ion-view>
