<ion-view id="pg_kickstarter_recap" view-title="Kickstart Route Details"
  hide-back-button="false" can-swipe-back="false">
  <ion-content class="has-header">
    <!-- price u bid for -->
    <div class="item item-icon-left">
        <i class="icon activebid">
            <img src="img/icon_kickstarter_activebid.svg">
        </i>
      You joined this route at ${{book.bidPrice | number:2}} per trip.
    </div>
    <!-- route detail -->
    <div class="item">
      <route-item>
        <route-item-bus-number>
          {{ book.route.label }}
        </route-item-bus-number>
        <route-item-start-time>
          {{book.boardStop.time | formatTime:true}}
        </route-item-start-time>
        <route-item-start-location>
          {{book.boardStop.stop.description}}
        </route-item-start-location>
        <route-item-end-time>
          {{book.alightStop.time | formatTime:true}}
        </route-item-end-time>
        <route-item-end-location>
          {{book.alightStop.stop.description}}
        </route-item-end-location>
        <route-item-additional-info>
          <company-info-broker company-id="book.route.transportCompanyId"
                                company="book.companyInfo">
          </company-info-broker>
          <div class="icon-and-schedule">
            <span class="icon-span company-logo">
              <img class="mini-icon" ng-src="{{book.route.transportCompanyId | companyLogo}}">
            </span>
            <span class="mini-info">
              {{book.companyInfo.name}}
            </span>
          </div>

          <div class="icon-and-schedule">
            <span class="icon-span">
              <img class="mini-icon" src="img/icon_kickstarter_timeleft.svg">
            </span>
            <span class="mini-info" ng-if="book.route.daysLeft && book.route.daysLeft>1">
              {{book.route.daysLeft}} days left to activate
            </span>
            <span class="mini-info" ng-if="book.route.daysLeft && book.route.daysLeft==1">
              {{book.route.daysLeft}} day left to activate
            </span>
            <span class="mini-info" ng-if="book.route.isExpired">
              Campaign has expired
            </span>
          </div>
          <div class="icon-and-schedule">
            <span class="icon-span">
              <img class="mini-icon" src="img/icon_schedule.svg">
            </span>
            <span class="mini-info">
              Start on {{book.route.trips[0].date | date:'dd MMM yyyy'}} if activated
            </span>
          </div>
        </route-item-additional-info>
      </route-item>
      <progress-bar backer1={{book.route.notes.tier[0].count}}
        price1={{book.route.notes.tier[0].price}}
        pax1={{book.route.notes.tier[0].pax}}
        detail=true>
      </progress-bar>
      <div class="icon-and-schedule">
        <span class="icon-span">
          <img class="mini-icon" src="img/icon_kickstarter_status.svg">
        </span>
        <span class="mini-info">
          {{book.route.status}}
        </span>
      </div>
    </div>
    <div class="item item-text-wrap">
      <div class="item-subtitle">
      How to activate
      </div>
      Purchase a <strong> pass for {{book.route.notes.noPasses}} trips</strong> to show your support to activate this route. When <strong>{{book.route.notes.tier[0].pax}} people</strong> purchase the pass, this route will activate.
      <br />
      <br />
      If the route is activated, it will
      <br />
      <div class="features">
        <ul>
          <li>
          start on <strong>{{book.route.trips[0].date | date:'dd MMM yyyy'}} ({{book.route.trips[0].date | date:'EEE'}})</strong>
          </li>
          <li>
          run every Mon - Fri, except public holidays
          </li>
          <li>
          operate for at least a month.
          </li>
        </ul>
      </div>
      <br />
        This campaign ends on <strong>{{book.route.notes.lelongExpiry | date:'dd MMM yy'}}</strong>. Payment for the  <strong>pass for {{book.route.notes.noPasses}} trips</strong> will only be deducted at the end of the campaign if the route is activated.
      <br />
      <br />
      Thereafter, you will receive the pass in your account and you can use it to book any {{book.route.notes.noPasses}} trips within the 1st month of the activated route.
    </div>

    <div class="item item-text-wrap">
      <div class="item-subtitle">Operated by</div>
      <div class="row">
        <div class="col-20 bus-logo">
          <img ng-src="{{book.companyInfo.id | companyLogo}}">
        </div>
        <div class="col-80 col-center bus-co-info">
          <p class="name">{{book.companyInfo.name}}</p>
          <p class="email">{{book.companyInfo.email}}</p>
        </div>
      </div>
    </div>

    <!-- When will I be charged -->
    <div class="item item-text-wrap">
      <div class="charge-note">
        <h3 class="item-subtitle">When will payment be charged?</h3>
        <p>
          This campaign ends on <strong>{{book.route.notes.lelongExpiry | date:'dd MMM yy'}}</strong>. Payment for the <strong>{{book.route.notes.noPasses}} trips</strong> will only be deducted at the end of the campaign if the route is activated.
        </p>
        <br />
        <p>
          No one will be charged for the route unless it is activated. You will only be charged the unlocked price if it matches or is lower than your pledged amount per ride.
        </p>
      </div>
    </div>



  </ion-content>
</ion-view>
