<ion-view id="pg_kickstarter_summary" view-title="Pre-Order Summary" hide-back-button="false" can-swipe-back="false">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ui-sref="tabs.routes">
       <i class="icon ion-ios-close-outline"></i>
    </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader item kickstarter-breadcrumbs">
    <img src="img/KickstarterProgressBar03_ReviewPreorder.svg" />
  </div>
  <ion-content class="has-header has-subheader">
    <div class="item">
      <div class="item-subtitle">Route Pass Price Calculator </div>
      <table class="booking-info">
        <tr>
          <td><b>No. of Trips</b></td>
          <td class="right">{{priceInfo.tripCount || 0}} trips</td>
        </tr>
        <tr>
          <td><b>Price per Trip</b></td>
          <td class="right">$ {{priceInfo.bidPrice | number:2}}</td>
        </tr>
        <tr class="total-sum">
          <td class="total-sum"><b>Total Cost of Route Pass</b></th>
          <td class="total-sum right"><b>$ {{priceInfo.totalDue | number:2}}</b></th>
        </tr>
      </table>
    </div>
    <div class="item item-text-wrap">
      <div class="item-subtitle">
      When will payment be deducted?
      </div>
      <kickstart-info route="book.route"
       pass-hide="true"
       preorder-hide="true"
       ></kickstart-info>
    </div>

    <company-info-broker company-id="book.route.transportCompanyId" company="book.companyInfo">
    </company-info-broker>


    <div class="item">
      <div class="item-subtitle">Operated by</div>
      <div class="row">
        <div class="col-20 bus-logo">
          <img ng-src="{{book.companyInfo.id | companyLogo}}">
        </div>
        <div class="col-80 col-center bus-co-info">
          <p class="name">{{book.companyInfo.name}}</p>
          <p class="email">{{book.companyInfo.email}}</p>
        </div>
      </div>
    </div>

    <div class="item item-text-wrap" ng-if="!isLoggedIn || !book.isBid">
      <div class="checkTerms">
        Please read {{book.companyInfo.name}} <a ng-click="showTerms()">Terms and Conditions of Service</a>.
        <ion-checkbox ng-model="book.acceptPolicy">
          I read and agree to the above terms and would like to proceed using {{o.APP.NAME}}.
        </ion-checkbox>
      </div>
    </div>

    <div class="item item-text-wrap" ng-if="!isLoggedIn">
      <p class="text-center">
        You are not logged in. Please enter your mobile number to complete pre-order.
      </p>

      <button class="button primary-button" ng-click="login()" ng-disabled="!book.acceptPolicy || waitingForPaymentResult">
        Log In
      </button>
    </div>

    <div class="item item-text-wrap text-center" ng-if="isLoggedIn && !book.isBid">

      <div ng-if="!data.hasCreditInfo">
        <p class="text-center">
          Please add your card details for future payment when the route activates.
        </p>
        <!-- will be prompted to add card -->
        <button class="button primary-button" ng-click="createBid()" ng-disabled="!book.acceptPolicy || waitingForPaymentResult">
          Confirm Pre-order
        </button>
      </div>
      <div ng-if="data.hasCreditInfo">
        <p class="text-center">
          This payment will be charged to your <br /><b>{{data.brand}}</b> ending in <b> {{data.last4Digtis}}</b> if route is activated.
        </p>
        <button class="button primary-button"
                ng-click="createBid()"
                ng-disabled="!book.acceptPolicy || waitingForPaymentResult">
          Confirm Pre-order
        </button>
        <div class="text-link-div">
          <a ng-click="updateSavingCard()" ng-if="book.acceptPolicy && !waitingForPaymentResult">
           Use a different card for this payment</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
