<ion-view id="pg_booking" view-title="Select Bid"
  hide-back-button="true" can-swipe-back="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button"
       ui-sref="tabs.kickstarter">
       <i class="icon ion-ios-arrow-back"></i> Kickstarter
    </button>
  </ion-nav-buttons>

  <ion-content class="fullscreen-map" scroll="false">
    <form class="stops-form" name="stopsForm">
      <!-- <booking-breadcrumbs step="0" class="flex-shrink"></booking-breadcrumbs> -->

      <div class="route-info item">
        <route-item hide-additional-info="true">
          <route-item-bus-number>
            {{ book.route.label }}
          </route-item-bus-number>
          <route-item-start-time>
            {{ book.route | routeStartTime | formatTime:true }}
          </route-item-start-time>
          <route-item-start-location>
            {{ book.route.from }}
          </route-item-start-location>
          <route-item-end-time>
            {{ book.route | routeEndTime | formatTime:true }}
          </route-item-end-time>
          <route-item-end-location>
            {{ book.route.to }}
          </route-item-end-location>
        </route-item>
      </div>

      <!-- contains the map, the stop selectors
        and the locate me button -->
      <div class="map-area">
        <ui-gmap-google-map
            center="map.center"
            zoom="map.zoom"
            bounds="map.bounds"
            control="map.control"
            options="map.options">
          <my-location></my-location>

          <ui-gmap-window ng-if="disp.popupStop"
                          coords="disp.popupStop.coordinates"
                          show="disp.popupStop"
                          closeClick="closeWindow">
            <div class="popUpStopSelect">
              <b>{{disp.popupStop.time | formatTime }}</b><br/>
              {{disp.popupStop.description}}<br/>{{disp.popupStop.road}}<br/>
            </div>
          </ui-gmap-window>

          <ui-gmap-marker
            ng-repeat="stop in book.boardStops"
            idKey="stop.id"
            coords="stop.coordinates"
            options="map.markerOptions.boardMarker"
            click="applyTapBoard(stop)"
          ></ui-gmap-marker>
          <ui-gmap-marker
            ng-repeat="stop in book.alightStops"
            idKey="stop.id"
            coords="stop.coordinates"
            options="map.markerOptions.alightMarker"
            click="applyTapAlight(stop)"
          ></ui-gmap-marker>

          <ui-gmap-polyline
            path="routePath"
            static="true"
            stroke="map.pathOptions.routePath"
          >
          </ui-gmap-polyline>

          <ui-gmap-marker
            idkey="'bs'"
            coords="book.boardStop.coordinates"
            options="map.markerOptions.startMarker">
          </ui-gmap-marker>

          <ui-gmap-marker
            idkey="'as'"
            coords="book.alightStop.coordinates"
            options="map.markerOptions.endMarker">
          </ui-gmap-marker>

        </ui-gmap-google-map>
      </div>

      <div class="item continue-button-item">

        <label>
          <div class = "input-label">
             Choose your bid
          </div>

          <select ng-model="book.bid">
            <option value="" disabled selected>Select A Bid</option>
            <option ng-repeat="price in book.route.notes.tier" value="{{$index}}">${{price.price}}    {{price.pax}}pax</option>
          </select>
       </label>
      </div>

      <section class="item item-text-wrap continue-button-item"
               ng-if="!isLoggedIn">
        You are not logged in. Please enter your mobile number to complete bidding.

        <button class="button primary-button"
                ng-click="login()">
          Log In
        </button>
      </section>

      <section class="item item-text-wrap continue-button-item"
               ng-if="isLoggedIn">
        Please ensure that your credit card is ready for the next step in the booking process.

        <button class="button primary-button"
                ng-click="pay()">
          Confirm and Bid
        </button>
      </section>

    </form> <!-- flex-col -->
  </ion-content>
</ion-view>
