<ion-view id="pg_kickstarter_detail" view-title="Kickstarter Route Details"
 can-swipe-back="false">
  <ion-nav-buttons side="right">
    <button class="button button-clear"
       ui-sref="tabs.kickstarter">
       <i class="icon ion-ios-close-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <form class="stops-form" name="stopsForm">
      <!-- contains the map, the stop selectors
        and the locate me button -->
      <div class="map-area">
        <ui-gmap-google-map
            center="map.center"
            zoom="map.zoom"
            bounds="map.bounds"
            control="map.control"
            options="map.options">
          <my-location></my-location>

          <ui-gmap-window ng-if="disp.popupStop"
                          coords="disp.popupStop.coordinates"
                          show="disp.popupStop"
                          closeClick="closeWindow">
            <div class="popUpStopSelect">
              <b>{{disp.popupStop.time | formatTime }}</b><br/>
              {{disp.popupStop.description}}<br/>{{disp.popupStop.road}}<br/>
            </div>
          </ui-gmap-window>

          <ui-gmap-marker
            ng-repeat="stop in book.boardStops"
            idKey="stop.id"
            coords="stop.coordinates"
            options="map.markerOptions.boardMarker"
            click="applyTapBoard(stop)"
          ></ui-gmap-marker>
          <ui-gmap-marker
            ng-repeat="stop in book.alightStops"
            idKey="stop.id"
            coords="stop.coordinates"
            options="map.markerOptions.alightMarker"
            click="applyTapAlight(stop)"
          ></ui-gmap-marker>

          <ui-gmap-polyline
            path="routePath"
            static="true"
            stroke="map.pathOptions.routePath"
          >
          </ui-gmap-polyline>

          <ui-gmap-marker
            idkey="'bs'"
            coords="book.boardStop.coordinates"
            options="map.markerOptions.startMarker">
          </ui-gmap-marker>

          <ui-gmap-marker
            idkey="'as'"
            coords="book.alightStop.coordinates"
            options="map.markerOptions.endMarker">
          </ui-gmap-marker>

        </ui-gmap-google-map>
      </div>
      <div class="item">
        <route-item>
          <route-item-bus-number>
            {{ book.route.label }}
          </route-item-bus-number>
          <route-item-start-time>
            {{ book.route | routeStartTime | formatTime:true }}
          </route-item-start-time>
          <route-item-start-location>
            {{ book.route.from }}
          </route-item-start-location>
          <route-item-end-time>
            {{ book.route | routeEndTime | formatTime:true }}
          </route-item-end-time>
          <route-item-end-location>
            {{ book.route.to }}
          </route-item-end-location>
          <route-item-additional-info>
            <company-info-broker company-id="book.route.transportCompanyId"
                                  company="companyInfo">
            </company-info-broker>
            <div class="icon-and-schedule">
              <span class="icon-span company-logo">
                <img class="mini-icon" ng-src="{{book.route.transportCompanyId | companyLogo}}">
              </span>
              <span class="mini-info">
                {{companyInfo.name}}
              </span>
            </div>

            <div class="icon-and-schedule">
              <span class="icon-span">
                <img class="mini-icon" src="img/icon_kickstarter_timeleft.svg">
              </span>
              <span class="mini-info" ng-if="book.route.daysLeft && book.route.daysLeft>1">
                {{book.route.daysLeft}} days left to activate
              </span>
              <span class="mini-info" ng-if="book.route.daysLeft && book.route.daysLeft==1">
                {{book.route.daysLeft}} day left to activate
              </span>
              <span class="mini-info" ng-if="book.route.isExpired">
                Campaign has expired
              </span>
            </div>
            <div class="icon-and-schedule">
              <span class="icon-span">
                <img class="mini-icon" src="img/icon_schedule.svg">
              </span>
              <span class="mini-info">
                Commence on {{book.route.trips[0].date | date:'dd MMM yyyy'}} if activated
              </span>
            </div>
          </route-item-additional-info>
        </route-item>

        <progress-bar backer1={{book.route.notes.tier[0].count}}
          price1={{book.route.notes.tier[0].price}}
          pax1={{book.route.notes.tier[0].pax}}
          detail=true>
        </progress-bar>

      </div>

      <ion-list>
        <ion-item class="text-center" ng-click="showStops()">
            View Stops
        </ion-item>
      </ion-list>

      <!-- TODO: if user bid kickstarter and it expiries must show in the list!-->
      <section class="item item-text-wrap"
               ng-if="!book.notExpired">
        The kickstarter is over.
        <button class="button primary-button"
          ui-sref="tabs.kickstarter">
          Show Kickstarter List
        </button>
      </section>

      <section class="item item-text-wrap"
               ng-if="book.notExpired">
        <button class="button primary-button"
                ng-disabled="stopsForm.$invalid"
                ui-sref="tabs.kickstarter-dates({
                          routeId: book.routeId,
                          boardStop: book.boardStop.id,
                          alightStop: book.alightStop.id
                        })">
          Next
        </button>
      </section>
    </form>

  </ion-content>
</ion-view>
