<ion-view id="pg_kickstarter_recap" view-title="Your Crowdstart Pre-Order"
  hide-back-button="false" can-swipe-back="false">
  <ion-content class="has-header">
    <!-- price u bid for -->
    <div class="item item-icon-left item-text-wrap">
        <i class="icon activebid">
            <img src="img/icon_kickstarter_activebid.svg">
        </i>
        You pre-ordered a Route Pass for {{book.route.notes.noPasses}} trips on this route at ${{book.bidPrice | number:2}} per trip.
        <span ng-if="!book.route.isExpired && book.route.isActived">Route is activated. Payment will be deducted when campaign ends and you will receive the Route Pass.</span>
        <span ng-if="book.route.isExpired && book.route.isActived && !book.passAvailable">Route is activated. Payment will be deducted and you will receive your route pass.</span>
        <span ng-if="book.route.isExpired && book.route.isActived && book.passAvailable">Route is activated. Payment has been processed. Your route pass is ready.</span>
        <span ng-if="!book.route.isExpired && !book.route.isActived">Route is not activated yet.</span>
        <span ng-if="book.route.isExpired && !book.route.isActived">Route is not activated. Payment will not be deducted.</span>

    </div>
    <!-- route detail -->
    <div class="item item-text-wrap">
      <route-item>
        <route-item-bus-number>
          {{ book.route.label }}
        </route-item-bus-number>
        <route-item-start-time>
          {{ book.route | routeStartTime | formatTime:true }}
        </route-item-start-time>
        <route-item-start-location>
          {{ book.route.from }}
        </route-item-start-location>
        <route-item-end-time>
          {{ book.route | routeEndTime | formatTime:true }}
        </route-item-end-time>
        <route-item-end-location>
          {{ book.route.to }}
        </route-item-end-location>
        <route-item-additional-info>
          <company-info-broker company-id="book.route.transportCompanyId"
                                company="book.companyInfo">
          </company-info-broker>
          <div class="icon-and-schedule">
            <span class="icon-span">
              <img class="mini-icon" src="img/icon_kickstarter_timeleft.svg">
            </span>
            <span class="mini-info" ng-if="book.route.daysLeft && book.route.daysLeft>1">
              Campaign ends in {{book.route.daysLeft}} days
            </span>
            <span class="mini-info" ng-if="book.route.daysLeft && book.route.daysLeft==1">
              Campaign ends in {{book.route.daysLeft}} day
            </span>
            <span class="mini-info" ng-if="book.route.isExpired">
              Campaign has expired
            </span>
          </div>
          <div class="icon-and-schedule">
            <span class="icon-span">
              <img class="mini-icon" src="img/icon_schedule.svg">
            </span>
            <span class="mini-info" ng-if="!book.route.isActived">
              Route starts on {{book.route.trips[0].date | date:'dd MMM yyyy'}} if activated
            </span>
            <span class="mini-info" ng-if="book.route.isActived">
              Route starts on {{book.route.trips[0].date | date:'dd MMM yyyy'}}
            </span>
          </div>
          <!-- show status if pass not granted yet -->
          <div class="icon-and-schedule" ng-if="!book.passAvailable">
            <span class="icon-span">
              <img class="mini-icon" src="img/icon_kickstarter_status.svg">
            </span>
            <span class="mini-info">
              {{book.route.status}}
            </span>
          </div>
          <!-- show no. of pass available -->
          <div class="icon-and-schedule" ng-if="book.passAvailable">
            <span class="icon-span">
              <img class="mini-icon" src="img/icon_kickstarter_status.svg">
            </span>
            <span class="mini-info">
              Your route pass is ready. You have {{book.passAvailable}} trips remaining in your Route pass.
            </span>
          </div>
        </route-item-additional-info>
      </route-item>
      <progress-bar ng-hide="book.route.isActived && book.passAvailable"
        backer1="book.route.notes.tier[0].count"
        price1="book.route.notes.tier[0].price"
        pax1="book.route.notes.tier[0].pax"
        detail=true
        needed="book.route.notes.tier[0].moreNeeded">
      </progress-bar>
    </div>
    <ion-list>
      <ion-item class="item-icon-right" ng-click="showStops()">
          View Stops
            <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>

    <div class="item item-text-wrap" ng-hide="book.route.isExpired && book.passAvailable">
      <div class="item-subtitle">
      What happens next?
      </div>
      <kickstart-info route="book.route" preorder-hide="true"></kickstart-info>
    </div>

    <div class="item item-text-wrap" ng-show="book.route.isExpired && book.passAvailable">
      <div class="item-subtitle">
      Here's your pass
      </div>
      <kickstart-info route="book.route" preorder-hide="true" content-hide="true"></kickstart-info>
    </div>

    <div class="item item-text-wrap">
      <div class="item-subtitle">Operated by</div>
      <div class="row">
        <div class="col-20 bus-logo">
          <img ng-src="{{book.companyInfo.id | companyLogo}}">
        </div>
        <div class="col-80 col-center bus-co-info">
          <p class="name">{{book.companyInfo.name}}</p>
          <p class="email">{{book.companyInfo.email}}</p>
        </div>
      </div>
    </div>

    <div class="item item-text-wrap">
      <p>
        Note: This page will be dismissed automatically when route pass expires.
      </p>
    </div>

    <button class="primary-button button" ui-sref="tabs.crowdstart" ng-if="!book.passAvailable">
      Back to Main Menu
    </button>
    <button class="primary-button button" ui-sref="tabs.routes" ng-if="book.passAvailable">
      Book my Trips
    </button>
  </ion-content>
</ion-view>
