<ion-view class="kickstarter-list" view-title="Kickstart Routes" hide-back-button="true">
  <ion-content scroll="false">
    <div class="item item-text-wrap item-ion-left" ng-if="error">
      <i class="icon ion-alert-circled"></i>
      <p class="text-center">
        There was a problem fetching kickstarter route information from the server.
        Please try again later.
      </p>
    </div>


    <!-- Region Filter  -->
    <label class="item item-input item-select region-filter">
      <div class="input-label">Filter By</div>
        <select ng-model="data.selectedRegionId">
          <option value="" disabled selected>Select A Region</option>
          <option value="">All Regions</option>
          <option ng-repeat="region in data.regions" value="{{region.id}}">{{region.name}}</option>
        </select>
    </label>

    <ion-content class="list">
      <ion-refresher pulling-text="Pull to refresh..."
                     on-refresh="refreshRoutes()">
      </ion-refresher>

      <!-- recently bid kickstarter -->
      <div class="item item-divider"
          ng-if="data.backedKickstarter.length > 0">
        Kickstarter routes you pre-ordered passes
      </div>

       <ion-item ng-repeat="route in data.filteredbackedKickstarter"
                 ui-sref="tabs.kickstarter-recap({
                   routeId: route.id
                  })"
                  class="item-icon-right">
        <route-item>
          <route-item-bus-number>
            {{ route.label }}
          </route-item-bus-number>
          <route-item-description>
            {{ route.notes.description }}
          </route-item-description>
          <route-item-start-time>
            {{ route | routeStartTime | formatTime:true }}
          </route-item-start-time>
          <route-item-start-location>
            {{ route.from }}
          </route-item-start-location>
          <route-item-end-time>
            {{ route | routeEndTime | formatTime:true }}
          </route-item-end-time>
          <route-item-end-location>
            {{ route.to }}
          </route-item-end-location>
          <route-item-additional-info>
            <company-info-broker company-id="route.transportCompanyId"
                                  company="companyInfo">
            </company-info-broker>
            <div class="icon-and-schedule">
              <span class="icon-span company-logo">
                <img class="mini-icon" ng-src="{{route.transportCompanyId | companyLogo}}">
              </span>
              <span class="mini-info">
                {{companyInfo.name}}
              </span>
            </div>

            <div class="icon-and-schedule">
              <span class="icon-span">
                <img class="mini-icon" src="img/icon_kickstarter_timeleft.svg">
              </span>
              <span class="mini-info" ng-if="route.daysLeft && route.daysLeft>1">
                {{route.daysLeft}} days left to activate
              </span>
              <span class="mini-info" ng-if="route.daysLeft && route.daysLeft==1">
                {{route.daysLeft}} day left to activate
              </span>
              <span class="mini-info" ng-if="route.isExpired">
                Campaign has expired
              </span>
            </div>
            <div class="icon-and-schedule">
              <span class="icon-span">
                <img class="mini-icon" src="img/icon_schedule.svg">
              </span>
              <span class="mini-info">
                Start on {{route.trips[0].date | date:'dd MMM yyyy'}} if activated
              </span>
            </div>

            <!-- TODO: show price infor in progress -->
            <progress-bar backer1={{route.notes.tier[0].count}} price1={{oute.notes.tier[0].price}}
              pax1={{route.notes.tier[0].pax}}>
            </progress-bar>
            <div class="icon-and-schedule">
              <span class="icon-span">
                <img class="mini-icon" src="img/icon_kickstarter_status.svg">
              </span>
              <span class="mini-info">
                {{route.status}}
              </span>
            </div>
            <div class="icon-and-schedule">
              <!-- <span class="icon ion-ios-flag-outline"></span> -->
              <span class="icon-span">
                <img class="mini-icon" src="img/icon_kickstarter_activebid.svg">
              </span>
              <span class="mini-info" ng-if="route.daysLeft && route.daysLeft>1">
                You joined this route at ${{recentBidsById[route.id].bidPrice | number:2 }} per ride.
              </span>
              <span class="mini-info" ng-if="route.daysLeft && route.daysLeft==1">
                {{route.daysLeft}} day left to activate
              </span>
              <span class="mini-info" ng-if="route.isExpired">
                Campaign has expired
              </span>
            </div>

          </route-item-additional-info>
        </route-item>
      </ion-item>


      <!-- available kickstarter -->
      <div class="item item-divider"
          ng-if="data.filteredkickstarter.length > 0">
        Kickstarter Routes
      </div>

      <ion-item ng-repeat="route in data.filteredkickstarter"
                ui-sref="tabs.kickstarter-detail({
                  routeId: route.id
                 })"
                 class="item-icon-right">
        <route-item>
          <route-item-bus-number>
            {{ route.label }}
          </route-item-bus-number>
          <route-item-description>
            {{ route.notes.description }}
          </route-item-description>
          <route-item-start-time>
            {{ route | routeStartTime | formatTime:true }}
          </route-item-start-time>
          <route-item-start-location>
            {{ route.from }}
          </route-item-start-location>
          <route-item-end-time>
            {{ route | routeEndTime | formatTime:true }}
          </route-item-end-time>
          <route-item-end-location>
            {{ route.to }}
          </route-item-end-location>
          <route-item-additional-info>
            <company-info-broker company-id="route.transportCompanyId"
                                  company="companyInfo">
            </company-info-broker>
            <div class="icon-and-schedule">
              <span class="icon-span company-logo">
                <img class="mini-icon" ng-src="{{route.transportCompanyId | companyLogo}}">
              </span>
              <span class="mini-info">
                {{companyInfo.name}}
              </span>
            </div>

            <div class="icon-and-schedule">
              <span class="icon-span">
                <img class="mini-icon" src="img/icon_kickstarter_timeleft.svg">
              </span>
              <span class="mini-info" ng-if="route.daysLeft && route.daysLeft>1">
                {{route.daysLeft}} days left to activate
              </span>
              <span class="mini-info" ng-if="route.daysLeft && route.daysLeft==1">
                {{route.daysLeft}} day left to activate
              </span>
              <span class="mini-info" ng-if="route.isExpired">
                Campaign has expired
              </span>
            </div>

            <!-- TODO: show price infor in progress -->
            <progress-bar backer1={{route.notes.tier[0].count}}
              price1={{oute.notes.tier[0].price}}
              pax1={{route.notes.tier[0].pax}}>
            </progress-bar>

            <div class="icon-and-schedule">
              <span class="icon-span">
                <img class="mini-icon" src="img/icon_kickstarter_status.svg">
              </span>
              <span class="mini-info">
                {{route.status}}
              </span>
            </div>
          </route-item-additional-info>
        </route-item>
      </ion-item>

    </ion-content>
  </ion-content>
</ion-view>
