<ion-view id="pg_kickstarter_dates" view-title="Pledge Your Support" hide-back-button="false" can-swipe-back="false">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ui-sref="tabs.kickstarter">
       <i class="icon ion-ios-close-outline"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="item">
      <div class="item-subtitle">
        Trip Dates
      </div>
      <div class="item-icon-left trip-dates">
        <i class="icon">
            <img src="img/icon_schedule.svg">
        </i>
        <div class="item-text-wrap">
          Route will commence on <strong>{{book.route.trips[0].date | date:'dd MMM yyyy'}}</strong> if activated and will run for at least a month. To activate this route, pledge to book the first 5 trips shown below.
        </div>
        <div class="kickstarter-dates-row">
          <div class="kickstarter-dates-box" ng-repeat="pinfo in book.route.trips" class="text-center">
            <span class="kickstarter-month">{{pinfo.date | date:'MMM'}}</span>
            <br /> {{pinfo.date | date:'dd'}}
            <br />
            <span class="kickstarter-day">{{pinfo.date | date:'EEE'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="item item-text-wrap">
      <div class="item-subtitle">
        Operated by
      </div>
      <company-info-broker company-id="book.route.transportCompanyId" company="book.companyInfo">
      </company-info-broker>

        <div class="row">
          <div class="col-20 bus-logo">
            <img ng-src="{{book.companyInfo.id | companyLogo}}">
          </div>
          <div class="col-80 col-center bus-co-info">
            <p class="name">{{book.companyInfo.name}}</p>
            <p class="email">{{book.companyInfo.email}}</p>
          </div>
        </div>

    </div>

    <div class="item">
      <div class="item-subtitle">
        Route Activation Criteria
      </div>
      <div class="row">
        <table class="price-table booking-info">
          <thead>
            <tr>
              <th>Price <br />per ride</th>
              <th>No. of pax<br />needed to activate</th>
              <th>No. of pax<br />who pledged</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="tier in book.route.notes.tier">
              <td>
                ${{tier.price | number:2}}
              </td>
              <td>
                {{tier.pax}} pax needed
              </td>
              <td>
                {{tier.no}} pax
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="select-bid item-text-wrap" ng-if="book.notExpired">
        <h3 class="item-subtitle">Select the maximum price per ride you are willing to pledge</h3>
        <ion-list>
          <ion-item class="item-checkbox" ng-repeat="item in book.route.notes.tier">
            <label class="checkbox">
                <input type="checkbox" ng-model="item.checked" ng-click="updateSelection($index, book.route.notes.tier, item.price)">
            </label>
            <span ng-if="$index==0">I am willing to join at ${{ item.price | number:2 }} per ride.<br />( {{item.pax-item.no}} more pax needed )</span>
            <span ng-if="$index==1">Count me in for ${{ item.price | number:2 }} per ride only.<br />( {{item.pax-item.no}} more pax needed )</span>
          </ion-item>
        </ion-list>
        <button class="button primary-button" ng-disabled="stopsForm.$invalid || waitingForPaymentResult || !book.bidPrice" ui-sref="tabs.kickstarter-summary({
                        routeId: book.routeId,
                        boardStop: book.boardStopId,
                        alightStop: book.alightStopId,
                        bidPrice: book.bidPrice
                      })">
        Review Selection
      </button>
      </div>
    </div>
  </ion-content>
</ion-view>
