<ion-view id="pg_kickstarter_commit" view-title="Pre-order Success" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button button-clear"
       ui-sref="tabs.kickstarter">
       <i class="icon ion-ios-close-outline"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
        <div class="item item-icon-left item-text-wrap">
            <i class="icon activebid">
                <img src="img/icon_kickstarter_activebid.svg">
            </i>
            You pre-ordered a Route Pass for {{book.route.notes.noPasses}} trips on this route at ${{book.bidPrice | number:2}} per trip.
            <span ng-if="book.route.isActived">Route is activated. Payment will be deducted when campaign ends and you will receive the Route Pass.</span>
            <span ng-if="!book.route.isActived">Route is not activated yet.</span>
        </div>
        <div class="item item-text-wrap">
          <route-item>
            <route-item-bus-number>
              {{ book.route.label }}
            </route-item-bus-number>
            <route-item-start-time>
              {{book.boardStop.time | formatTime:true}}
            </route-item-start-time>
            <route-item-start-location>
              {{book.boardStop.stop.description}}
            </route-item-start-location>
            <route-item-end-time>
              {{book.alightStop.time | formatTime:true}}
            </route-item-end-time>
            <route-item-end-location>
              {{book.alightStop.stop.description}}
            </route-item-end-location>
            <route-item-additional-info>
              <company-info-broker company-id="book.route.transportCompanyId"
                                    company="companyInfo">
              </company-info-broker>
              <div class="icon-and-schedule">
                <span class="icon-span company-logo">
                  <img class="mini-icon" ng-src="{{book.route.transportCompanyId | companyLogo}}">
                </span>
                <span class="mini-info">
                  {{companyInfo.name}}
                </span>
              </div>

              <div class="icon-and-schedule">
                <span class="icon-span">
                  <img class="mini-icon" src="img/icon_kickstarter_timeleft.svg">
                </span>
                <span class="mini-info" ng-if="book.route.daysLeft && book.route.daysLeft>1">
                  {{book.route.daysLeft}} days left to activate
                </span>
                <span class="mini-info" ng-if="book.route.daysLeft && book.route.daysLeft==1">
                  {{book.route.daysLeft}} day left to activate
                </span>
                <span class="mini-info" ng-if="book.route.isExpired">
                  Campaign has expired
                </span>
              </div>
              <div class="icon-and-schedule">
                <span class="icon-span">
                  <img class="mini-icon" src="img/icon_schedule.svg">
                </span>
                <span class="mini-info">
                  Start on {{book.route.trips[0].date | date:'dd MMM yyyy'}} if activated
                </span>
              </div>
            </route-item-additional-info>
          </route-item>

          <progress-bar backer1="book.route.notes.tier[0].count"
            price1="book.route.notes.tier[0].price"
            pax1="book.route.notes.tier[0].pax"
            detail=true
            needed="book.route.notes.tier[0].moreNeeded">
          </progress-bar>
          <div class="icon-and-schedule">
            <span class="icon-span">
              <img class="mini-icon" src="img/icon_kickstarter_status.svg">
            </span>
            <span class="mini-info">
              {{book.route.status}}
            </span>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="item-subtitle">
          What happens next?
          </div>
          <kickstart-info route="book.route" payment-hide="true"></kickstart-info>
        </div>
          <div class="item item-text-wrap">
            <div class="share-box">
            Share this route to your friends! </br>
            <div class="text-center">
              <textarea>{{shareLink}}</textarea>
            </div>
            <div class="text-right">
              <button class="button button-outline button-royal small-button" ng-click="shareAnywhere()" ng-if="!showCopy">Share anywhere</button>
              <button class="button button-outline button-royal small-button" ng-if="showCopy" ngclipboard data-clipboard-text={{shareLink}}>
                  Copy
              </button>
            </div>
          </div>
        </div>
        <button class="primary-button button" ui-sref="tabs.kickstarter">
          Back to Main Menu
        </button>

  </ion-content>
</ion-view>
