<ion-view id="lite_route_tracker" ng-init="activeTab=0"
  hide-back-button="true" can-swipe-back="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button"
       ui-sref="tabs.tickets">
       <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-title>Tracking for {{liteRouteLabel}}</ion-nav-title>
  <div class="tabs tabs-top tabs-icon-left tabs-light tabs-striped tabs-color-royal">
    <a class="tab-item" on-tap="activeTab=0" ng-class="{active: activeTab===0}">
      <span class="tab-title-large"><i class="track-nav"></i>Map</a>
    </span>
      <a class="tab-item" on-tap="activeTab=1" ng-class="{active: activeTab===1}">
        <span class="tab-title-large"><i class="track-moreInfo"></i>Info</span>
      </a>
  </div>
  <ion-content class="has-tabs-top" scroll=false>

    <!-- Map Tab -->
    <div ng-show="activeTab===0">
      <route-item class="lite item lite-tracked">
        <route-item-bus-number>
          {{ liteRoute.label }}
        </route-item-bus-number>
        <route-item-description>
          {{ liteRoute.notes.description }}
        </route-item-description>
        <route-item-start-time>
          {{ liteRoute.startTime | formatTime}}
        </route-item-start-time>
        <route-item-start-location>
          {{ liteRoute.from }}
        </route-item-start-location>
        <route-item-end-time>
          {{ liteRoute.endTime | formatTime}}
        </route-item-end-time>
        <route-item-end-location>
          {{ liteRoute.to }}
        </route-item-end-location>
      </route-item>
      <h2 class="item" ng-if="hasNoTrip">
        There is no service at the moment.
      </h2>
      <ui-gmap-google-map center="map.center" pan="true" zoom="map.zoom" options="map.options" events="map.events" bounds="map.bounds" dragging="map.dragging" control="map.control" data-tap-disabled="true">
        <my-location></my-location>
        <map-poly-route route-path="map.lines.route.path"></map-poly-route>
        <map-bus-poly-route route="liteRoute"
                            available-trips="availableTrips"></map-bus-poly-route>
        <map-bus-stops available-trips="availableTrips"
                       is-lite-frequent="liteRoute['tags'].includes('lite-frequent')">
        </map-bus-stops>
      </ui-gmap-google-map>
    </div>

    <!-- Info Tab -->
    <ion-content ng-show="activeTab===1">
      <more-info company-id="liteRoute.transportCompanyId"
                 features = "disp.features"
                 signage-text="liteRoute.notes.signage ? liteRoute.notes.signage : 'To ' + liteRoute.to">
      </more-info>
      <div class="item-text-wrap"
           ng-click="disp.showTerms()">
        <div class="item">
          Terms and Conditions of Service
        </div>
      </div>
      <div class="item-text-wrap"
           ng-click="promptUntrack()">
        <div class="item">
          Untrack this Route
        </div>
      </div>
    </ion-content>
  </ion-content>
</ion-view>
