<ion-modal-view>
    <div id="pg_login" class="modal">
         <ion-content class="padding">
            <div class="innerWrap sub-modal">
                <p>
                    Do you want to log out?
                </p>
                <form class="form-horizontal">
                    <div class="row btn-col min-btn">
                        <div class="col-sm-4 col-sm-offset-1 columns">
                            <button class="btn grn-btn m-t-0" type="" ng-click="ok()">Ok</button>
                        </div>
                        <div class="col-sm-5 col-sm-offset-1 columns">
                            <button class="btn grn-btn line-btn m-t-0" type="" ng-click="cancelLogout()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </ion-content>
    </div>
</ion-modal-view>
