<map-poly-route route-path="mapObject.routePath"></map-poly-route>
<!-- for lite route -->
<cd-gmap-marker
  ng-repeat="stop in mapObject.stops track by stop.id"
  lat-lng="stop.coordinates | geojsonToLatLng"
  icon="stop.canBoard ? map.markerOptions.boardMarker.icon : map.markerOptions.alightMarker.icon"
  click="applyTapBoard(stop)"
></cd-gmap-marker>
<cd-gmap-info-window ng-if="disp.popupStop"
                lat-lng="disp.popupStop.coordinates | geojsonToLatLng"
                show="disp.popupStop"
                closeClick="closeWindow">
  <div class="popUpStopSelect">
    <b>{{formatStopTime(disp.popupStop.time)}}<br/></b>
    {{disp.popupStop.description}}<br/>{{disp.popupStop.road}}<br/>
  </div>
</cd-gmap-info-window>
<cd-gmap-marker ng-if="mapObject.boardStop.stop"
                lat-lng="mapObject.boardStop.stop.coordinates | geojsonToLatLng"
                icon="map.markerOptions.startMarker.icon"></cd-gmap-marker>
<cd-gmap-marker ng-if="mapObject.alightStop.stop"
                lat-lng="mapObject.alightStop.stop.coordinates | geojsonToLatLng"
                icon="map.markerOptions.endMarker.icon"></cd-gmap-marker>
<cd-gmap-marker ng-if="mapObject.chosenStop"
                lat-lng="mapObject.chosenStop.coordinates | geojsonToLatLng"
                icon="mapObject.chosenStop.canBoard ? map.markerOptions.startMarker.icon : map.markerOptions.endMarker.icon">
</cd-gmap-marker>
<map-bus-icon ng-repeat="recentPings in mapObject.allRecentPings track by $index"
              ng-if="recentPings.isRecent"
              pings="recentPings.pings"
              overlay="$index + 1"></map-bus-icon>
