<ion-view id="pg_routemap" view-title="Explore Routes - Map">
  <ion-content class="has-footer" has-bouncing="false">

		<div class="locinputs">
			<label class="item item-input pickup fade">
				<input id="pickupinput" 
							 type="search" 
							 placeholder="Enter your pick-up location" 
							 ng-model="data.pickupText" 
							 ng-change="pickupTxtChange()"
							 ng-focus="pickupFocus()"
               ng-blur="pickupBlur()" />
				<a class="item item-icon-right" href="#" on-tap="clearPickup()">
					<i id="pclear" class="icon ion-ios-close-outline"></i>
				</a>
			</label>

			<label class="item item-input dropoff">
				<input id="dropoffinput" 
							 type="search" 
							 placeholder="Enter your drop-off location" 
							 ng-model="data.dropoffText" 
							 ng-change="dropoffTxtChange()" 
							 ng-focus="dropoffFocus()"
               ng-blur="dropoffBlur()"  />
				<a class="item item-icon-right" href="#" on-tap="clearDropoff()">
					<i id="dclear" class="icon ion-ios-close-outline"></i>
				</a>
			</label>
		</div>

		<div class="centmark" ng-show="data.centerMarkIsVisible"></div>
		
		<div class="locateme" ng-click="getUserLocation()"
                          ng-show="data.locateMeIsVisible"></div>

		<button class="btnnext" ng-click="nextAction()" 
                            ng-show="data.nextButtonIsVisible"">{{ data.nextActionName }}</button>

    <ui-gmap-google-map center="map.center" 
    										pan="true" 
    										zoom="map.zoom" 
    										options="map.options" 
    										events="map.events" 
    										bounds="map.bounds" 
    										dragging="map.dragging" 
    										control="map.control" 
    										data-tap-disabled="true">
			<ui-gmap-markers models="map.markers" 
                       coords="'self'" 
                       icon="'icon'" 
                       options="'options'">
			</ui-gmap-markers>
			<ui-gmap-polyline ng-repeat="line in map.lines" 
                        path="line.path" 
                        icons="line.icons">
			</ui-gmap-polyline>
    </ui-gmap-google-map>

  </ion-content>
</ion-view>
