<ion-view view-title="Routes">
  <ion-tabs class="tabs-striped tabs-icon-left tabs-top tabs-background-light tabs-color-stable">

		<!-- Routemap subtab -->
		<ion-tab title="MAP" 
						 icon="ion-map" 
						 href="#/tabs/routes/routemap">
			<ion-nav-view name="routes-map"></ion-nav-view>
		</ion-tab>

		<!-- Routelist subtab -->
		<ion-tab title="LIST" 
						 icon="ion-ios-list-outline" 
						 href="#/tab/routes/routelist">
			<ion-nav-view name="routes-list"></ion-nav-view>
		</ion-tab>

  </ion-tabs>
</ion-view>
