<ion-view class="routes-list" view-title="Explore Routes - List">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..."
                   on-refresh="requery(true)">
    </ion-refresher>

    <div class="item item-text-wrap" ng-if="errorMessage">
      <i class="icon ion-alert-circled"></i>
      There was a problem fetching the routes from the server.
      Please try again later.
    </div>

    <!-- Region Filter  -->
    <label class="item item-input item-select region-filter">
      <div class="input-label">Filter By</div>
        <select ng-model="data.selectedRegionId">
        <option value="" disabled selected>Select A Region</option>
          <option value="">All Regions</option>
          <option ng-repeat="region in data.regions" value="{{region.id}}">{{region.name}}</option>
        </select>
    </label>

    <ul class="list">
    <!-- Recent Routes Section -->
      <div class="item item-divider"
          ng-show="data.filteredRecentRoutes.length > 0">
        Recently Booked Routes
      </div>
      <ion-item
        ng-repeat="route in data.filteredRecentRoutes"
        ui-sref="tabs.bookingPickup({ routeId: route.id})"
        class="item-icon-right"
        >
        <route-item route="route"></route-item>
        <button class="button button-clear icon ion-ios-arrow-right"></button>
      </ion-item>

    <!-- Available Routes Section -->
      <div class="item item-divider">
        Available Routes
      </div>
      <ion-item
        ng-repeat="route in data.filteredActiveRoutes"
        ui-sref="tabs.bookingPickup({ routeId: route.id})"
        class="item-icon-right"
        >
        <route-item route="route"></route-item>
        <button class="button button-clear icon ion-ios-arrow-right"></button>
      </ion-item>
    </ul>
  </ion-content>
</ion-view>
