<!-- Simulating a tabs view ourselves since nav-view history doesnt play nice with nested tabs  -->
<ion-view view-title="Routes"
					ng-init="activeTab=0">

	<!-- The tabs at the top of the page -->
	<div class="tabs tabs-top tabs-icon-left tabs-light tabs-striped tabs-color-royal">
	  <a class="tab-item"
	  	 on-tap="activeTab=0"
	  	 ng-class="{active: activeTab===0}">
	  	 <i class="icon ion-map"></i>
	  	 <span class="tab-title">Search</span>
	  </a>
	  <a class="tab-item"
	  	 on-tap="activeTab=1"
	  	 ng-class="{active: activeTab===1}">
	  	 <i class="icon ion-ios-list-outline"></i>
	  	 <span class="tab-title">List</span>
	  </a>
	</div>

	<!-- The different "views" that get activated -->
	<ion-content class="has-tabs-top"
							 scroll=false>
		<div ng-include="'templates/routes-map.html'"
				 ng-controller="RoutesMapController"
				 ng-show="activeTab===0"></div>
		<div ng-include="'templates/routes-list.html'"
				 ng-controller="RoutesListController"
				 ng-show="activeTab===1"></div>
	</ion-content>

</ion-view>
