<ion-view class="routes-list-view" view-title="Explore Routes - List">
  <ion-content class="has-footer" has-bouncing="false">

    <!-- Region Filter  -->
    <label class="item item-select region-filter">
      Filter By
      <select ng-model="data.selectedRegionId">
        <option value="" disabled selected>Select A Region</option>
        <option value="">All Regions</option>
        <option ng-repeat="region in data.regions" value="{{region.id}}">{{region.name}}</option>
      </select>
    </label>

    <ul class="list">
      <div class="item item-divider" ng-show="data.filteredRecentRoutes.length > 0">
        Recently Booked Routes
      </div>
      <route-item ng-repeat="route in data.filteredRecentRoutes"></route-item>
      <div class="item item-divider">
        Active Routes
      </div>
      <route-item ng-repeat="route in data.filteredActiveRoutes"></route-item>
    </ul>
    
  </ion-content>
</ion-view>
