<ion-view id="pg_bookdate" view-title="Select Dates">
  <ion-content>
    <booking-breadcrumbs step="1"></booking-breadcrumbs>
    <multiple-date-picker ng-model="disp.selectedDatesLocal"
                          days-allowed="disp.daysAllowed"
                          month="disp.month"
                          highlight-days="disp.highlightDays"
                          disallow-back-past-months="true"
                          disable-days-before="disp.today">
    </multiple-date-picker>

    <div class="datepicker">
      <table class="table legend-table booking-info">
        <tr>
          <td class="picker-day exemplar">
            #
          </td>
          <td class="label">Available</td>
          <td class="picker-day picker-off exemplar">
            #
          </td>
          <td class="label">Not Available</td>
        </tr>
        <tr>
          <td class="picker-day picker-selected activated exemplar">
            #
          </td>
          <td class="label">Selected dates</td>
          <td class="picker-day picker-off previously-booked exemplar">
            #
          </td>
          <td class="label">Prior booking(s)</td>
        </tr>
        <tr>
          <td class="picker-day picker-off sold-out examplar">
            #
          </td>
          <td class="label">Sold out</td>
        </tr>
      </table>
    </div>

    <div class="item">
      <price-calculator booking="book" read-only="true"></price-calculator>
    </div>

    <div class="item">
      <button class="button primary-button button-item" ng-disabled="book.selectedDates.length == 0" ui-sref="tabs.booking-summary({
                routeId: book.routeId,
                boardStop: book.boardStopId,
                alightStop: book.alightStopId,
                selectedDates: book.selectedDates
              })">
        Review Booking
      </button>
    </div>
  </ion-content>
</ion-view>
