<ion-view view-title="Booking Summary">
  <ion-content>
      <table id="complete-info">
            <tr class="info-row">
                <td class="left-col">
                    <div class="paid"></div>
                </td>
                <td class="right-col">
                    Success! Your payment has been processed.
                </td>
            </tr>
            <tr class="info-row">
                <td class="left-col">
                    <div class="track"></div>
                </td>
                <td class="right-col">
                    Track your bus arrival on the day of the trip with the e-tickets
                </td>
            </tr>
            <tr class="info-row">
                <td class="left-col">
                    <div class="showTicket"></div>
                </td>
                <td class="right-col">
                    Show the bus driver the e-ticket when you board.
                </td>
            </tr>
        </table>
    <button ui-sref="tab.tickets">
        View Tickets
    </button>
  </ion-content>
</ion-view>
