<ion-view id="pg_bookdate" view-title="Select Dates"
  hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button button-clear back-button"
       ui-sref="tabs.route-detail({
        pickupStopId: book.boardStopId,
        dropoffStopId: book.alightStopId,
        routeId: book.routeId,
        routeDescription: book.routeDescription,
      })" nav-direction="back">
       <i class="icon ion-ios-arrow-back"></i> Stops
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear"
       ui-sref="tabs.routes">
       <i class="icon ion-ios-close-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <multiple-date-picker ng-model="disp.selectedDatesMoments"
                          days-allowed="disp.daysAllowed"
                          month="disp.month"
                          sunday-first-day="true"
                          highlight-days="disp.highlightDays"
                          disallow-back-past-months="true"
                          disable-days-before="disp.today"
                          month-changed="logMonthChanged">
    </multiple-date-picker>

    <div class="datepicker">
      <table class="legend-table">
        <tr>
          <td class="picker-day exemplar">
            #
          </td>
          <td class="label">Available</td>
          <td class="picker-day picker-off exemplar">
            #
          </td>
          <td class="label">Not Available</td>
        </tr>
        <tr>
          <td class="picker-day picker-selected activated exemplar">
            #
          </td>
          <td class="label">Dates Selected</td>
          <td class="picker-day picker-off previously-booked exemplar">
            #
          </td>
          <td class="label">Your Previous Bookings</td>
        </tr>
        <tr>
          <td class="picker-day picker-off sold-out examplar">
            #
          </td>
          <td class="label">Sold out</td>
        </tr>
      </table>
      <div class="labelDiv">
        <label>
          <input type="checkbox" ng-model="book.pickWholeMonth">
            Pick the whole month
          </input>
        </label>
      </div>
    </div>

    <div class="item"><b>{{book.selectedDates.length}} day(s)</b> were selected.</div>

    <div class="item">
      <button class="button primary-button button-item" ng-disabled="book.selectedDates.length == 0" ui-sref="tabs.route-summary({
                routeId: book.routeId,
                boardStop: book.boardStopId,
                alightStop: book.alightStopId,
                selectedDates: book.selectedDates.join(','),
                promoCode: book.promoCode,
              })">
        Review Booking
      </button>
    </div>
  </ion-content>
</ion-view>
