<ion-view id="pg_booking" view-title="Select Stops"
  hide-back-button="true" can-swipe-back="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button"
       ui-sref="tabs.routes">
       <i class="icon ion-ios-arrow-back"></i> Routes
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear"
       ui-sref="tabs.routes">
       <i class="icon ion-ios-close-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="fullscreen-map" scroll="false">
    <form class="stops-form" name="stopsForm">
      <!-- <booking-breadcrumbs step="0" class="flex-shrink"></booking-breadcrumbs> -->
      <div class="item item-icon-left item-text-wrap" ng-if="book.route.ridesRemaining && book.route.ridesRemaining > 0" >
          <i class="icon activebid">
              <img src="img/icon_kickstarter_activebid.svg">
          </i>
          You have {{ +book.route.ridesRemaining }} trip(s) remaining in your Route Pass. <!-- Use by DD/MM/YY. -->
      </div>
      <div class="route-info item">
        <route-item hide-additional-info="true">
          <route-item-bus-number>
            {{ book.route.label }}
          </route-item-bus-number>
          <route-item-start-time>
            {{ book.route | routeStartTime | formatTime:true }}
          </route-item-start-time>
          <route-item-start-location>
            {{ book.route.from }}
          </route-item-start-location>
          <route-item-end-time>
            {{ book.route | routeEndTime | formatTime:true }}
          </route-item-end-time>
          <route-item-end-location>
            {{ book.route.to }}
          </route-item-end-location>

        </route-item>

        <div class="price">
          <fancy-price value="book.route.trips[0].price"></fancy-price>
        </div>
      </div>

      <!-- contains the map, the stop selectors
        and the locate me button -->
      <div class="map-area">
        <ui-gmap-google-map
            center="map.center"
            zoom="map.zoom"
            bounds="map.bounds"
            control="map.control"
            options="map.options">
          <my-location></my-location>

          <ui-gmap-window ng-if="disp.popupStop"
                          coords="disp.popupStop.coordinates"
                          show="disp.popupStop"
                          closeClick="closeWindow">
            <div class="popUpStopSelect">
              <b>{{disp.popupStop.time | formatTime }}</b><br/>
              {{disp.popupStop.description}}<br/>{{disp.popupStop.road}}<br/>
              <a class="button button-block button-outline button-royal"
                ng-click="$parent.$parent.setStop($parent.$parent.disp.popupStop, $parent.$parent.disp.popupStopType)">
                Set {{disp.popupStopType === 'pickup' ? 'pick-up' : 'drop-off'}} stop
              </a>
            </div>
          </ui-gmap-window>

          <ui-gmap-marker
            ng-repeat="stop in book.boardStops"
            idKey="stop.id"
            coords="stop.coordinates"
            options="map.markerOptions.boardMarker"
            click="applyTapBoard(stop)"
          ></ui-gmap-marker>
          <ui-gmap-marker
            ng-repeat="stop in book.alightStops"
            idKey="stop.id"
            coords="stop.coordinates"
            options="map.markerOptions.alightMarker"
            click="applyTapAlight(stop)"
          ></ui-gmap-marker>

          <ui-gmap-polyline
            path="routePath"
            static="true"
            stroke="map.pathOptions.routePath"
          >
          </ui-gmap-polyline>

          <ui-gmap-marker
            idkey="'bs'"
            coords="book.boardStop.coordinates"
            options="map.markerOptions.startMarker">
          </ui-gmap-marker>

          <ui-gmap-marker
            idkey="'as'"
            coords="book.alightStop.coordinates"
            options="map.markerOptions.endMarker">
          </ui-gmap-marker>

        </ui-gmap-google-map>
      </div>

      <ion-list class="stop-inputs">
        <bus-stop-selector
          ng-model="book.boardStop"
          bus-stops="book.boardStops"
          placeholder="Select pick-up stop"
          title="Select pick-up stop"
          button="Select pick-up stop"
          marker-options="map.markerOptions.boardMarker"
          pin-options="map.markerOptions.startMarker"
          ng-required="true"
          name="boardStop"
          >
        </bus-stop-selector>
        <bus-stop-selector
          ng-model="book.alightStop"
          bus-stops="book.alightStops"
          placeholder="Select drop-off stop"
          title="Select drop-off stop"
          button="Select drop-off stop"
          marker-options="map.markerOptions.alightMarker"
          pin-options="map.markerOptions.endMarker"
          ng-required="true"
          name="alightStop"
          >
        </bus-stop-selector>
      </ion-list>

      <div class="item continue-button-item">
        <button class="button primary-button button-item"
          ui-sref="tabs.booking-dates({
            routeId: book.routeId,
            boardStop: book.boardStop.id,
            alightStop: book.alightStop.id,
            sessionId: session.sessionId,
            creditTag: book.creditTag,
          })"
          ng-disabled="stopsForm.$invalid">
          Continue
        </button>
      </div>
    </form> <!-- flex-col -->
  </ion-content>

  <script id="changes-message.html" type="text/ng-template">
    <div class="changes-message modal">
      <ion-header-bar class="bar-royal">
        <h1 class="title">Changes to Service #{{book.routeId}}</h1>
        <button class="button icon ion-ios-close-outline button-clear" ng-click="closeChangesModal()">
        </button>
      </ion-header-bar>
      <ion-content>
        <table class="route-changes-table">
          <thead>
            <tr>
              <th><!--icon--></th>
              <th>Date</th>
              <th>Changes</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="priceChange in book.changes.priceChanges">
              <td>$$</td>
              <td>
                {{priceChange.startDate | formatDate}}
              </td>
              <td>
                {{priceChange.humanReadable[0]}}
              </td>
            </tr>
              <tr ng-repeat="stopChange in book.changes.stopChanges">
              <td>S</td>
              <td>
                {{stopChange.startDate | formatDate}}
              </td>
              <td>
                <ul>
                  <li ng-repeat="hr in stopChange.humanReadable track by $index">
                {{hr}}
                </li>
                </ul>
              </td>
            </tr>
              <tr ng-repeat="timeChange in book.changes.timeChanges">
              <td>T</td>
              <td>
                {{timeChange.startDate | formatDate}}
              </td>
              <td>
                <ul>
                  <li ng-repeat="hr in timeChange.humanReadable track by $index">
                {{hr}}
                </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-content>
    </div>
  </script>
</ion-view>
