<ion-view id="pg_booking" view-title="Select Stops"
  hide-back-button="true" can-swipe-back="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button"
       ui-sref="tabs.routes">
       <i class="icon ion-ios-arrow-back"></i> Routes
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear"
       ui-sref="tabs.routes">
       <i class="icon ion-ios-close-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="fullscreen-map" scroll="false">
    <form class="stops-form" name="stopsForm">
      <!-- <booking-breadcrumbs step="0" class="flex-shrink"></booking-breadcrumbs> -->
      <div class="item item-icon-left item-text-wrap" ng-if="book.route.ridesRemaining && book.route.ridesRemaining > 0" >
          <i class="icon activebid">
              <img src="img/icon_kickstarter_activebid.svg">
          </i>
          You have {{ +book.route.ridesRemaining }} trip(s) remaining in your Route Pass. <!-- Use by DD/MM/YY. -->
      </div>

      <!-- contains the map, the stop selectors
        and the locate me button -->
      <div class="map-area">
        <ui-gmap-google-map
            center="map.center"
            zoom="map.zoom"
            bounds="map.bounds"
            control="map.control"
            options="map.options">
          <my-location></my-location>

          <ui-gmap-window ng-if="disp.popupStop"
                          coords="disp.popupStop.coordinates"
                          show="disp.popupStop"
                          closeClick="closeWindow">
            <div class="popUpStopSelect">
              <b>{{disp.popupStop.time | formatTime }}</b><br/>
              {{disp.popupStop.description}}<br/>{{disp.popupStop.road}}<br/>
              <a class="button button-block button-outline button-royal"
                ng-click="$parent.$parent.setStop($parent.$parent.disp.popupStop, $parent.$parent.disp.popupStopType)">
                Set {{disp.popupStopType === 'pickup' ? 'pick-up' : 'drop-off'}} stop
              </a>
            </div>
          </ui-gmap-window>

          <ui-gmap-marker
            ng-repeat="stop in book.boardStops"
            idKey="stop.id"
            coords="stop.coordinates"
            options="map.markerOptions.boardMarker"
            click="applyTapBoard(stop)"
          ></ui-gmap-marker>
          <ui-gmap-marker
            ng-repeat="stop in book.alightStops"
            idKey="stop.id"
            coords="stop.coordinates"
            options="map.markerOptions.alightMarker"
            click="applyTapAlight(stop)"
          ></ui-gmap-marker>

          <ui-gmap-polyline
            path="routePath"
            static="true"
            stroke="map.pathOptions.routePath"
          >
          </ui-gmap-polyline>

          <ui-gmap-marker
            idkey="'bs'"
            coords="book.boardStop.coordinates"
            options="map.markerOptions.startMarker">
          </ui-gmap-marker>

          <ui-gmap-marker
            idkey="'as'"
            coords="book.alightStop.coordinates"
            options="map.markerOptions.endMarker">
          </ui-gmap-marker>

          <map-bus-poly-route route="book.route"
                              available-trips="book.nextTripArray"
                              tikcet-code="book.ticketCode"></map-bus-poly-route>

        </ui-gmap-google-map>
      </div>

      <ion-list class="stop-inputs">
        <bus-stop-selector
          ng-model="book.boardStop"
          bus-stops="book.boardStops"
          placeholder="Select pick-up stop"
          title="Select pick-up stop"
          button="Select pick-up stop"
          marker-options="map.markerOptions.boardMarker"
          pin-options="map.markerOptions.startMarker"
          ng-required="true"
          name="boardStop"
          >
        </bus-stop-selector>
        <bus-stop-selector
          ng-model="book.alightStop"
          bus-stops="book.alightStops"
          placeholder="Select drop-off stop"
          title="Select drop-off stop"
          button="Select drop-off stop"
          marker-options="map.markerOptions.alightMarker"
          pin-options="map.markerOptions.endMarker"
          ng-required="true"
          name="alightStop"
          >
        </bus-stop-selector>
      </ion-list>

      <div class="item continue-button-item">
        <div class="notes">
          <fancy-price value="book.route.trips[0].price"></fancy-price> per trip
        </div>
        <div ng-if="book.showExpressCheckout && !book.hasNextTripTicket">
          <div ng-if="book.minsBeforeClose && book.minsBeforeClose >0 && book.minsBeforeClose<=30 && !book.bookingEnds && !book.hasNextTripTicket" class="notes">Booking for the next trip closes in {{book.minsBeforeClose}} mins.</div>
          <div ng-if="book.bookingEnds && !book.hasNextTripTicket" class="notes" >Booking for the next trip has ended.</div>
          <div ng-if="book.stopNotAvailable" class="notes">The selected stops are not available for the next trip.</div>
          <button class="button primary-button button-item"
            ng-click="fastCheckout()"
            ng-if="book.showExpressCheckout && !book.hasNextTripTicket"
            ng-disabled="stopsForm.$invalid || !book.nextTripIsAvailable || book.isVerifying || book.minsBeforeClose<=0 || book.stopNotAvailable || book.hasNextTripTicket">
            {{book.buttonText}}{{ ' '+(book.nextTripDate[0] | date:'dd MMM' : 'Z')+' '}}<span ng-show="book.nextTripDate[0]">{{'('+(book.nextTripDate[0] | date:'EEE' : 'Z')+')'}}</span>
          </button>
          <div ng-if="book.buttonNotes" class="notes">{{book.buttonNotes}}</div>
        </div>
        <div ng-if="book.hasNextTripTicket && !book.showExpressCheckout" class="text-center">
          <h4>You have already booked this trip.</h4>
          <div>
            <div ng-if="book.ticketCode">
              <trip-code code="book.ticketCode">
              </trip-code>
            </div>
            <span ng-if="!book.ticketCode">Not available</span>
          </div>
        </div>
        <div class="button button-clear button-royal"
          ui-sref="tabs.booking-dates({
            routeId: book.routeId,
            boardStop: book.boardStop.id,
            alightStop: book.alightStop.id,
            sessionId: session.sessionId,
          })"
          ng-disabled="stopsForm.$invalid">
          <u>Advance Booking</u>
        </div>
      </div>
    </form> <!-- flex-col -->
  </ion-content>
</ion-view>
