<ion-view view-title="Booking Summary" id="pg_booking-confirmation">
  <ion-content>
    <ion-item class="item-text-wrap">
      <table id="complete-info">
        <tr>
          <td>
            <img src="img/PaymentComplete_paid.svg">
          </td>
          <td>
            Success! Your payment has been processed.
          </td>
        </tr>
        <tr>
          <td>
            <img src="img/PaymentComplete_track.svg">
          </td>
          <td>
            Track your bus arrival on the day of the trip with the e-tickets
          </td>
        </tr>
        <tr>
          <td>
            <img src="img/PaymentComplete_showTicket.svg">
          </td>
          <td>
            Show the bus driver the e-ticket when you board.
          </td>
        </tr>
      </table>
    </ion-item>
    <ion-item class="button-bar">
      <button class="primary-button button"
          ui-sref="tabs.tickets">
        View Tickets
      </button>
    </ion-item>
  </ion-content>
</ion-view>
