<ion-view view-title="Booking Summary" id="pg_booking-confirmation">
  <ion-content>
    <ion-item class="item-text-wrap">
      <table id="complete-info">
        <tr class="info-row">
          <td class="left-col">
            <img src="img/BookingComplete_paid.png" style="width: 75px">
          </td>
          <td class="right-col">
            Success! Your payment has been processed.
          </td>
        </tr>
        <tr class="info-row">
          <td class="left-col">
            <img src="img/BookingComplete_track.png" style="width: 75px">
          </td>
          <td class="right-col">
            Track your bus arrival on the day of the trip with the e-tickets
          </td>
        </tr>
        <tr class="info-row">
          <td class="left-col">
            <img src="img/BookingComplete_showTicket.png" style="width: 75px">
          </td>
          <td class="right-col">
            Show the bus driver the e-ticket when you board.
          </td>
        </tr>
      </table>
    </ion-item>
    <ion-item class="button-bar">
      <button ui-sref="tabs.tickets" class="big-yellow button">
        View Tickets
      </button>
    </ion-item>
  </ion-content>
</ion-view>
