<ion-view id="pg_settings" view-title="Settings">
  <ion-content>
		<div class="status" ng-if="user">
		  <h3>{{user.name}}</h3>
      Telephone: {{user.telephone}}

      <div>
  			<button ng-click="logOut()">Log Out</button>
      </div>
		</div>

		<div class="status" ng-if="!user">
			<div class="msg">
        You are not logged in.
      </div>
			<button ng-click="logIn()">Log In</button>
		</div>

    <div ng-if="user">
      <div class="ion-list-header">Account</div>
      <ion-list id="userinfo">
          <ion-item ng-click="updateUserInfo('name')">Name <span>{{user.name}}</span></ion-item>
          <ion-item ng-click="updateUserInfo('email')">Email <span>{{user.email}}</span></ion-item>
          <ion-item ng-click="updateTelephone()">Phone No. <span>{{user.telephone}}</span></ion-item>
          <ion-item ng-click="showBookingHistory()">
      			Booking History
      			<i class="icon ion-ios-arrow-right"></i>
      		</ion-item>
      </ion-list>
		</div>

		<div class="ion-list-header">About Beeline</div>
  		<ion-list id="toggles">
        <ion-item ui-sref='intro'>Quick Tour</ion-item>
        <ion-item ng-click="viewFAQ()">
          <!-- using Javascript here because we want to enforce
          viewing a non-local page in inAppBrowser -->
          FAQ
        </ion-item>
        <ion-item ng-click="viewPrivacyPolicy()">Privacy Policy</ion-item>
        <ion-item ng-click="viewContactUs()">Contact Us
        </ion-item>
  		</ion-list>
  </ion-content>
</ion-view>
