<ion-view id="pg_bookdate" view-title="Select Dates"
  hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button button-clear back-button"
       ui-sref="tabs.bookingPickup({
        boardStop: book.boardStopId,
        alightStop: book.alightStopId,
        routeId: book.routeId,
        sessionId: session.sessionId,
      })" nav-direction="back">
       <i class="icon ion-ios-arrow-back"></i> Stops
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear"
       ui-sref="tabs.routes">
       <i class="icon ion-ios-close-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <booking-breadcrumbs step="1"></booking-breadcrumbs>
    <multiple-date-picker ng-model="disp.selectedDatesMoments"
                          days-allowed="disp.daysAllowed"
                          month="disp.month"
                          highlight-days="disp.highlightDays"
                          disallow-back-past-months="true"
                          disable-days-before="disp.today">
    </multiple-date-picker>

    <div class="datepicker">
      <table class="table legend-table booking-info">
        <tr>
          <td class="picker-day exemplar">
            #
          </td>
          <td class="label">Available</td>
          <td class="picker-day picker-off exemplar">
            #
          </td>
          <td class="label">Not Available</td>
        </tr>
        <tr>
          <td class="picker-day picker-selected activated exemplar">
            #
          </td>
          <td class="label">Dates Selected</td>
          <td class="picker-day picker-off previously-booked exemplar">
            #
          </td>
          <td class="label">Your Previous Bookings</td>
        </tr>
        <tr>
          <td class="picker-day picker-off sold-out examplar">
            #
          </td>
          <td class="label">Sold out</td>
        </tr>
      </table>
    </div>

    <div class="item">
      <price-calculator booking="book"></price-calculator>
    </div>

    <div class="item">
      <button class="button primary-button button-item" ng-disabled="book.selectedDates.length == 0" ui-sref="tabs.booking-summary({
                routeId: book.routeId,
                boardStop: book.boardStopId,
                alightStop: book.alightStopId,
                selectedDates: book.selectedDates,
                sessionId: session.sessionId
              })">
        Review Booking
      </button>
    </div>
  </ion-content>
</ion-view>
