<ion-view id="pg_tickets" view-title="Tickets">
  <ion-content has-bouncing="false">
    
  <!-- not logged in -->
  <section class="intro" ng-if="!user">
    <div class="gap"></div>
    <div class="msg">
      <div class="title">You are not logged in</div>
      <div class="txt">
        To view your e-tickets,<br />log in to your to your account.
      </div>
      <br/>
      <button id="btnloginpls"
          ng-click="logIn()">Log In to Account
      </button>
    </div>
    <div class="gap"></div>
  </section>

  <!-- logged in, no tickets -->
  <section class="intro" ng-if="user && (tickets.today.length == 0) && (tickets.soon.length == 0)">
    <div class="gap"></div>
    <div class="msg">
      <div class="title">No tickets to display</div>
      <div class="txt">You do not have any upcoming trips at the moment!</div>
      <br/>
      <button class="big-yellow"
        ui-sref="tabs.routes.routemap">
        Search Routes
      </button>
    </div>
    <div class="gap"></div>
  </section>

  <!-- tickets for today -->
  <section ng-if="tickets.today.length > 0">
    <div class="ion-list-header">Today's Trips</div>
    <ion-list id="ticktoday">
      <ion-item class="item-icon-right"
          ng-repeat="item in tickets.today"
          href="#/tabs/tickets/{{item.id}}">
        <span class="date">{{item.boardStop.time | date:'d MMM y'}}</span>{{item.boardStop.time | date:'h:mm a'}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </section>
  <!-- tickets for coming days -->
  <section ng-if="tickets.soon.length > 0">
    <div class="ion-list-header">Upcoming Trips</div>
    <ion-list id="ticksoon">
      <ion-item class="item-icon-right"
      ng-repeat="item in tickets.soon"
      href="#/tabs/tickets/{{item.id}}">
        <span class="date">{{item.boardStop.time | date:'d MMM y'}}</span>{{item.boardStop.time | date:'h:mm a'}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </section>
  </ion-content>
</ion-view>
