<ion-view id="pg_lite" view-title="Route Details"
  hide-back-button="true" can-swipe-back="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button"
       ui-sref="tabs.routes">
       <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="fullscreen-map" scroll="false">
    <form class="stops-form" name="stopsForm">
      <!-- <booking-breadcrumbs step="0" class="flex-shrink"></booking-breadcrumbs> -->

      <div class="route-info item">
        <route-item hide-additional-info="true" hide-timing="true">
          <route-item-bus-number>
            {{ book.route.label }}
          </route-item-bus-number>
          <route-item-start-location>
            {{ book.route.from }}
          </route-item-start-location>
          <route-item-end-location>
            {{ book.route.to }}
          </route-item-end-location>
        </route-item>
      </div>

      <div class="map-area">
        <ui-gmap-google-map
            center="map.center"
            zoom="map.zoom"
            bounds="map.bounds"
            control="map.control"
            options="map.options">
          <my-location></my-location>

          <ui-gmap-window ng-if="disp.popupStop" coords="disp.popupStop.coordinates"
            show="disp.popupStop">
            <div class="popUpStopSelect">
              <b>{{disp.popupStop.time | formatTime }}</b><br/>
              {{disp.popupStop.description}}<br/>{{disp.popupStop.road}}<br/>
            </div>
          </ui-gmap-window>

          <ui-gmap-marker
            ng-repeat="stop in book.boardStops"
            idKey="stop.id"
            coords="stop.coordinates"
            options="map.markerOptions.boardMarker"
            click="applyTapBoard(stop)"
          ></ui-gmap-marker>

          <ui-gmap-polyline
            path="routePath"
            static="true"
            stroke="map.pathOptions.routePath"
          >
          </ui-gmap-polyline>


        </ui-gmap-google-map>
      </div>

      <div class="item item-icon-right" ng-click="showTerms()">
        More Information
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="check-terms">
          Please read Beeline's <a ng-click="showPrivacyPolicy()">Privacy Policy</a> and <a ng-click="showTermsOfUse()">Terms of Use</a>.
        <ion-checkbox ng-model="acceptPolicy" ng-required="true">
          I read and agree to the above terms and would like to proceed using Beeline.
        </ion-checkbox>
      </div>

      <div class="item continue-button-item">
        <button class="button primary-button button-item"
          ui-sref="tabs.booking-dates({
            routeId: book.routeId,
            boardStop: book.boardStop.id,
            alightStop: book.alightStop.id,
            sessionId: session.sessionId
          })">
          Follow
        </button>
      </div>

    </form>
  </ion-content>

</ion-view>
