<ion-view id="pg_booking" view-title="Select Pick-up and Drop-off Points">
  <ion-content class="fullscreen-map" scroll="false">
    <form class="flex-col" name="stopsForm">
      <!-- <booking-breadcrumbs step="0" class="flex-shrink"></booking-breadcrumbs> -->

      <div class="route-info flex-shrink">
        <route-item route="book.route"></route-item>

        <div class="price">
          <div class="from">
            from
          </div>
          <fancy-price value="book.route.trips[0].price"></fancy-price>
        </div>
      </div>

      <!-- contains the map, the stop selectors
        and the locate me button -->
      <div class="map-area flex-grow">
        <ui-gmap-google-map
            center="map.center"
            zoom="map.zoom"
            bounds="map.bounds"
            control="map.control"
            options="map.options"
            data-tap-disabled="true">
          <ui-gmap-marker
            ng-repeat="stop in book.boardStops"
            idKey="stop.id"
            coords="{
              latitude: stop.coordinates.coordinates[1],
              longitude: stop.coordinates.coordinates[0],
            }"
            options="map.markerOptions.boardMarker"
            click="applyTapBoard(stop)"
          ></ui-gmap-marker>
          <ui-gmap-marker
            ng-repeat="stop in book.alightStops"
            idKey="stop.id"
            coords="{
              latitude: stop.coordinates.coordinates[1],
              longitude: stop.coordinates.coordinates[0],
            }"
            options="map.markerOptions.alightMarker"
            click="applyTapAlight(stop)"
          ></ui-gmap-marker>

          <ui-gmap-polyline
            path="routePath"
            stroke="{
              color: '#4b3863',
              weight: 3.0,
            }"
          >
          </ui-gmap-polyline>

          <ui-gmap-marker
            idkey="'bs'"
            coords="book.boardStop.coordinates"
            options="map.markerOptions.startMarker">

          <ui-gmap-marker
            idkey="'as'"
            coords="book.alightStop.coordinates"
            options="map.markerOptions.endMarker">

          <ui-gmap-window
            ng-if="infoStop"
            show="infoStop"
            coords="infoStop.coordinates"
            >
            <div class="booking-stops-infowindow">
              <b>{{infoStop.time | formatTime}}</b><br/>
              {{infoStop.description}}
              <br>{{infoStop.label}}
              <br>{{infoStop.road}}
              <br/>
              <button onclick="setStop()">
              Select {{infoType == 'board'? 'pick-up' : 'drop-off'}} stop
              </button>
            </div>
          </ui-gmap-window>
        </ui-gmap-google-map>
      </div>

      <ion-list class="stop-inputs flex-shrink">
        <bus-stop-selector
          model="book.boardStopId"
          bus-stops="book.boardStops"
          value="getStopId"
          display="getStopDescription"
          display2="getStopDescription2"
          placeholder="Select pick-up stop"
          title="Select pick-up stop"
          button="Select pick-up stop"
          marker-options="map.markerOptions.boardMarker"
          pin-options="map.markerOptions.startMarker"
          ng-required="true"
          name="boardStop"
          >
        </bus-stop-selector>
        <bus-stop-selector
          model="book.alightStopId"
          bus-stops="book.alightStops"
          value="getStopId"
          display="getStopDescription"
          display2="getStopDescription2"
          placeholder="Select drop-off stop"
          title="Select drop-off stop"
          button="Select drop-off stop"
          marker-options="map.markerOptions.alightMarker"
          pin-options="map.markerOptions.endMarker"
          ng-required="true"
          name="alightStop"
          >
        </bus-stop-selector>
      </ion-list>

      <div class="item flex-shrink">
        <button class="button primary-button button-item"
          ui-sref="tabs.booking-dates({
            routeId: book.routeId,
            boardStop: book.boardStopId,
            alightStop: book.alightStopId
          })"
          ng-disabled="stopsForm.$invalid">
          Continue
        </button>
      </div>
    </form> <!-- flex-col -->
  </ion-content>

  <script id="changes-message.html" type="text/ng-template">
    <div class="changes-message modal">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Changes to Service #{{book.routeid}}</h1>
        <button class="button icon ion-android-close button-clear" ng-click="closeChangesModal()">
        </button>
      </ion-header-bar>
      <ion-content>
        <table class="route-changes-table">
          <thead>
            <tr>
              <th><!--icon--></th>
              <th>Date</th>
              <th>Changes</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="priceChange in book.changes.priceChanges">
              <td>$$</td>
              <td>
                {{priceChange.startDate | formatDate}}
              </td>
              <td>
                {{priceChange.humanReadable[0]}}
              </td>
            </tr>
              <tr ng-repeat="stopChange in book.changes.stopChanges">
              <td>S</td>
              <td>
                {{stopChange.startDate | formatDate}}
              </td>
              <td>
                <ul>
                  <li ng-repeat="hr in stopChange.humanReadable track by $index">
                {{hr}}
                </li>
                </ul>
              </td>
            </tr>
              <tr ng-repeat="timeChange in book.changes.timeChanges">
              <td>T</td>
              <td>
                {{timeChange.startDate | formatDate}}
              </td>
              <td>
                <ul>
                  <li ng-repeat="hr in timeChange.humanReadable track by $index">
                {{hr}}
                </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-content>
    </div>
  </script>
</ion-view>
