<ion-view class="ticket-detail" ng-init="activeTab=0"
  hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button"
       ui-sref="tabs.tickets">
       <i class="icon ion-ios-arrow-back"></i> Tickets
    </button>
  </ion-nav-buttons>

  <ion-nav-title>Ticket for {{ticket.boardStop.time | date:'d MMM y'}}</ion-nav-title>
  <div class="tabs tabs-top tabs-icon-left tabs-light tabs-striped tabs-color-royal">
    <a class="tab-item" on-tap="activeTab=0" ng-class="{active: activeTab===0}">
      <i class="icon ion-bookmark"></i>
      <span class="tab-title-large">Ticket</span>
    </a>
    <a class="tab-item" on-tap="activeTab=1" ng-class="{active: activeTab===1}">
      <i class="icon ion-android-bus"></i>
      <span class="tab-title-large">Driver</span>
    </a>
    <a class="tab-item" on-tap="activeTab=2" ng-class="{active: activeTab===2}">
      <i class="icon ion-ios-location"></i>
      <span class="tab-title-large">Stops</span>
    </a>
  </div>
  <ion-content class="has-tabs-top" scroll=false>

    <!-- Ticket Tab -->
    <div class="trip-info item item-text-wrap" ng-show="activeTab===0">
      <div class="row route-info"><div class="col">
        <span class="bus-number">{{route.label}}</span>
        {{route.from}} -- {{route.to}}</div></div>
      <div class="row">
        <div class="col">
          <h4>Trip Code </h4>
          <trip-code class="trip-code" code="info.code" ng-if="info.code">
          </trip-code>
          <span ng-if="!info.code">Not available</span>
          <!-- <div class="trip-code"
            ng-bind="info.trip.id"></div> -->
        </div>
        <div class="col">
          <h4>Passenger</h4>
          <div ng-bind="user.name"></div>
        </div>
      </div>
    </div>

    <!-- Driver Tab -->
    <div class="trip-info item item-text-wrap" ng-show="activeTab===1">
      <div class="row">
        <div class="col">
          <h4>Operated By</h4>
          <span ng-bind="company.name"></span>
          <a ng-click="showTerms(company.id)"><i class="icon ion-information-circled tnc"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Vehicle Number</h4>
          <div ng-bind="info.trip.vehicle.vehicleNumber || 'Not provided'"></div>
        </div>
        <div class="col">
          <h4>Driver</h4>
          <div ng-bind="info.trip.driver.name  || 'Not provided'"></div>
        </div>
      </div>
    </div>

    <!-- Stops Tab -->
    <div class="trip-info item item-text-wrap" ng-show="activeTab===2">
      <div class="row row-top">
        <div class="time-column col col-25">
          <span ng-bind="ticket.boardStop.time | date:'h:mm a'"></span>
          <img class="route-icon" src="./img/RoutePairBigStart.svg" />
        </div>
        <div class="col">
          <span ng-bind="ticket.boardStop.stop.description"></span>
          <br />
          <span ng-bind="ticket.boardStop.stop.road"></span>
        </div>
      </div>
      <div class="row row-top">
        <div class="time-column col col-25">
          <span ng-bind="ticket.alightStop.time | date:'h:mm a'"></span>
          <img class="route-icon" src="./img/RoutePairBigEnd.svg" />
        </div>
        <div class="col">
          <span ng-bind="ticket.alightStop.stop.description"></span>
          <br />
          <span ng-bind="ticket.alightStop.stop.road"></span>
        </div>
      </div>
    </div>

    <ui-gmap-google-map ng-if="info.trip.status != 'cancelled'" center="map.center" pan="true" zoom="map.zoom" options="map.options" events="map.events" bounds="map.bounds" dragging="map.dragging" control="map.control" data-tap-disabled="true">
      <ui-gmap-polyline path="map.lines.route.path" stroke="map.pathOptions.routePath"></ui-gmap-polyline>
      <ui-gmap-polyline path="map.lines.actualPath.path" stroke="map.pathOptions.actualPath"></ui-gmap-polyline>
      <ui-gmap-marker idkey="'boardstop'"
                      ng-if="map.markers.boardStop.stop"
                      coords="map.markers.boardStop.stop.coordinates"
                      options="map.markerOptions.boardMarker"></ui-gmap-marker>
      <ui-gmap-marker idkey="'alightstop'"
                      ng-if="map.markers.alightStop.stop"
                      coords="map.markers.alightStop.stop.coordinates"
                      options="map.markerOptions.alightMarker"></ui-gmap-marker>
      <ui-gmap-marker ng-if="map.busLocation.coordinates"
                      idkey="bus-location"
                      coords="map.busLocation.coordinates"
                      icon="map.busLocation.icon"></ui-gmap-markers>
    </ui-gmap-google-map>

    <!-- Service cancellation when driver or ops press trip cancellation button, show the following -->
    <ion-scroll class="service-cancellation" ng-if="info.trip.status == 'cancelled'">
      <div class="item item-text-wrap">
        <div class="cancellation-content">
          <h2>Service is Cancelled</h2>
          <img src="img/TicketCancelledTrip.svg" />
          <!-- <i class="icon ion-alert-circled"></i> -->
          <p>Today's trip has been cancelled. Sorry for the inconvenience caused. </p>
          <p>
            Please make alternative transport arrangements.
            <strong>{{company.name}}</strong> will contact you and refund today's fare.
          </p>
          <p>
            For enquiries, please contact
            <strong>{{company.contactNo}}</strong>.
          </p>
        </div>
      </div>
    </ion-scroll>
    <!-- Service cancellation section ends -->
  </ion-content>
</ion-view>
