<ion-view view-title="Welcome to Beeline">
  <ion-content class="welcome-page">
    <div class="card welcome-content" ng-if='isLoaded'>
      <div class="item item-text-wrap" ng-form="form.validation">
        <h1 class="text-center">Welcome to Beeline</h1>
          <p ng-if='isValidReferral'>
            Your friend, {{ refCodeOwner.name }}, would like you to try Beeline.
          </p>
          <p>
            Beeline is Singapore's first marketplace for crowdsourced bus services. Our bus routes are derived from analysing transportation data and community demand.
          </p>
        <h2 class="text-center" ng-if='isValidReferral'>
          Register now with Beeline to claim $10 worth of ride credits*.
        </h2>
        <p>
          Please enter your telephone number.
        </p>
          <div class="list list-inset">
            <label class="item item-input signUp">
              <i class="icon ion-ios-telephone placeholder-icon"></i><span class="telPrefix">+65</span>
              <input ng-model="data.telephone" name="telephone" ng-required="true" ng-pattern="phonePattern" placeholder="91234567" type="tel">
            </label>
            <div class="has-error" ng-show="form.validation.telephone.$invalid
                      && form.validation.telephone.$dirty">
              The phone no. you provide does not appear to be in the correct format. Please provide a valid 8-digit phone no. starting with the number 8 or 9.
            </div>
            <div class="checkTerms">
              Please read Beeline's <a ng-click="showPrivacyPolicy()">Privacy Policy</a> and <a ng-click="showTermsOfUse()">Terms of Use</a>.
              <ion-checkbox ng-model="acceptPolicy" ng-required="true">I read and agree to the above terms and would like to proceed using Beeline.
              </ion-checkbox>
            </div>
            <button class="primary-button button" ng-click="register()" ng-disabled="form.validation.$invalid">
                REGISTER
              </button>
          </div>
          <p class="small-text">
            * Please note that Welcome credits can only be used for up to 50% of each checkout.
          </p>
      </div>
    </div>

  </ion-content>
</ion-view>
