<ion-modal-view class="ticket-detail">

  <ion-header-bar class="bar-light bar bar-header">
    <h1 class="title">Ticket {{ticket.boardStop.time | date:'d MMM y' : '+0800'}}</h1>
    <button class="button button-clear icon ion-ios-close-outline" ng-click="closeModal()">
    </button>
  </ion-header-bar>

  <ion-content scroll="true">
  <div class="trip-info">
    <div class="map map-area" ng-if="modalMap.center && disp.tripStatus !== 'cancelled' && disp.tripStatus !== 'void'">
      <ui-gmap-google-map
        control="modalControl"
        center="modalMap.center"
        pan="true"
        zoom="modalMap.zoom"
        bounds="modalMap.bounds"
        dragging="modalMap.dragging"
        control="modalMap.control"
        options="modalMap.options"
        data-tap-disabled="true"
      >
        <my-location></my-location>
        <map-poly-route route-path="mapObject.routePath"></map-poly-route>
        <!-- for lite route -->
        <ui-gmap-marker
          ng-repeat="stop in mapObject.stops"
          idKey="stop.id"
          coords="stop.coordinates"
          options="stop.canBoard ? modalMap.markerOptions.boardMarker : modalMap.markerOptions.alightMarker"
        ></ui-gmap-marker>
        <ui-gmap-marker idkey="'boardstop'"
                        ng-if="mapObject.boardStop.stop"
                        coords="mapObject.boardStop.stop.coordinates"
                        options="modalMap.markerOptions.startMarker"></ui-gmap-marker>
        <ui-gmap-marker idkey="'alightstop'"
                        ng-if="mapObject.alightStop.stop"
                        coords="mapObject.alightStop.stop.coordinates"
                        options="modalMap.markerOptions.endMarker"></ui-gmap-marker>
        <map-bus-icon ng-repeat="recentPings in mapObject.allRecentPings track by $index"
                      idkey="'bus-icon' + $index"
                      ng-if="recentPings.isRecent"
                      pings="recentPings.pings"
                      overlay="$index + 1"></map-bus-icon>
      </ui-gmap-google-map>
    </div>

    <div class="item item-text-wrap cancellation-item" ng-if="disp.tripStatus === 'cancelled' || disp.tripStatus === 'void'">
      <div class="service-cancellation">
        <div class="item item-text-wrap">
          <div class="cancellation-content">
            <h2>Today's trip is cancelled</h2>
            <img src="img/TicketCancelledTrip.svg" />

            <p>We are very sorry for the inconvenience caused. Please make alternative transport arrangements.</p>
            <p>
              <strong>{{company.name}}</strong> will contact you about the refund of this trip.
            </p>
          </div>
        </div>
      </div>
    </div>    

    <div class="item item-text-wrap" ng-if="disp.tripStatus !== 'cancelled' && disp.tripStatus !== 'void'">
      <div>
        <div class="row">
          <route-item hide-bus-label="true" hide-description="true" class="route-item">
            <route-item-start-time>
              {{ ticket.boardStop.time  | formatTime:true }}
            </route-item-start-time>
            <route-item-start-location>
              <div class="stop-desc">{{ ticket.boardStop.stop.description }}</div>
              <div class="stop-road">{{ticket.boardStop.stop.road}}</div>
            </route-item-start-location>
            <route-item-end-time>
              {{ ticket.alightStop.time  | formatTime:true }}
            </route-item-end-time>
            <route-item-end-location>
              <div class="stop-desc">{{ ticket.alightStop.stop.description }}</div>
              <div class="stop-road">{{ticket.alightStop.stop.road}}</div>
            </route-item-end-location>
          </route-item>
        </div>
        <div class="row">
          <div class="col col-50">
            <h4>Vehicle</h4>
            <div ng-if="disp.vehicle" class="vehicleNo" ng-bind="disp.vehicle">
            </div>
            <div ng-if="!disp.vehicle">
              Not provided
            </div>
          </div>
          <div class="col col-50">
            <h4>Trip Code</h4>
            <div class="company-info">
              <span ng-if="tripCode" class="mini-info">
                <trip-code class="trip-code" code="tripCode"/>
              </span>
              <span ng-if="!tripCode">
                Not available
              </span>
              <a ng-click="showTerms(company.id)"><i class="icon ion-information-circled tnc"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
</ion-modal-view>
