// Styling for elements that exist across the app

////////////////////////////////////////////////////////////////////////////////
// Ionic style overrides
// Try to change using variables first before adding new styles here
////////////////////////////////////////////////////////////////////////////////
.item-divider {
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: 400;
}

.scroll-content {
  background-color: $stable;
}

.item-input input:not([type]),
.item-input input[type="text"] {
  text-align: right;
}

.button-block {
  max-width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

//menu tab
.tab-title {
  text-transform: uppercase;
}

//routes page tab menu
.tab-title-large {
  font-size: $font-size-base;
}


////////////////////////////////////////////////////////////////////////////////
// New global styles
// Check to see if there's an applicable ionic style first before adding here
////////////////////////////////////////////////////////////////////////////////
// Remove Google logo and Map marker from Autocomplete dropdown
// Add some padding back to compensate for removed elements
.pac-logo::after { display: none !important; }
.pac-icon { display: none !important; }
.pac-item { padding: $item-padding !important; }

// Common big button which is the primary action for the view
.primary-button {
  @extend .button;
  @extend .button-block;
  @extend .button-energized;
  @include box-shadow($card-box-shadow);
}

// Hide the google maps boilerplate annotations
.gmnoprint,
.gm-style-cc,
.gm-style>div:last-child {
  display:none;
}

.primary-button {
  padding: 20px 20px;
  font-size: 16px;
  line-height: 0px;
  background-color: #ffe76e; // FIXME: variables?
  border: 0px;
  border-bottom: 4px solid #f7c639;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  color: #333;
  z-index: 3;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;

  &:active {
    border-bottom: 1px solid #f7c639;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  }

  &[disabled="disabled"] {
    background-color: #d6d6d6;
    border-bottom: 4px solid #b9b9b9;
    color: #6f6f6f;
  }
}

.primary-button-fixed {
  margin-left: -130px; /* Can we work around this hack? */
  width: 260px;
  left: 50%;
  position: fixed;
}

.primary-button-centered {
  display: block;
  margin: 0 auto;
}

th {
  font-weight: normal;
  text-align: center;
  background-color: $table-header-bg;
  color: $royal;
  padding: $table-cell-padding;
  border-bottom: solid $table-header-border-width $royal;
}

td {
  padding: $table-cell-padding;
  text-align: center;
  border-bottom: $table-cell-border-width solid $light-grey;
  vertical-align: middle;
}

.bus-number {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: $royal;
  color: $light;
  line-height: 40px;
  border-radius: 20px;
}

.locate-button {
  width: 60px;
  height: 59px;
  background: transparent url('../img/MapButtonLocateMe.svg') center center no-repeat;
  background-size: 60px 59px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 2px rgba(0,0,0,0.4);

  &.activated {
    transform: translateY(2px);
    opacity: 0.8;
  }
}

.tabs-sub {
  height: $tabs-height-short;
}

// Font-size overrides
// -------------------------------

.item-note {
  font-size: $item-font-size;
}


// popup overrides
// -------------------------------


.popup-title {
  padding: 30px 20px 10px;
  font-size: $font-size-large;
  font-weight: bold;
}
.popup-sub-title {
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: $font-size-base;
  line-height: $line-height-base;
}


// input overrides
// -------------------------------
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  padding-left: 10px;
}

/** FIXES FOR BUGS **/
/* Fix the wrong colour on Android subtabs */
.tabs-striped.tabs-royal .tabs.tabs-striped.tabs-light {
  background-color: $light;
}
