.booking-history {
  .item-note {
    font-size: $font-size-small;
  }
  table {
    width: 100%;
    td,
    tr {
      text-align: left;
      font-size: $font-size-small;
      padding: $padding-small-vertical;
      vertical-align: top;
      strong {
        white-space: nowrap;
      }
    }
  }
}
