.booking-bg {
  background-color: #fff;
}

.booking-content{
  top: 0;
  left:0;
  padding-top: 25%;
  padding-left: 8%;
  padding-right: 12%;
  border-bottom: 0px;
  background-color: transparent;
}

.success-image {
  text-align: center;
}

.success-text {
  padding-left: 5%;
}

.success-button {
  margin-top: 15%
}
