#pg_booking {

  .scroll, ui-gmap-google-map, .angular-google-map, .angular-google-map-container {
    width: 100%;
    height: 100%;
  }

  bus-stop-selector:nth-of-type(1) .stop-description {
    background: url('../img/RoutePairBigStart@2x.png') left 7px center no-repeat transparent;
    background-size: 24px 24px;
  }

  bus-stop-selector:nth-of-type(2) .stop-description {
    background: url('../img/RoutePairBigEnd@2x.png') left 7px center no-repeat transparent;
    background-size: 24px 24px;
  }

  ui-gmap-google-map, .angular-google-map {
    height: calc(90% - 60px);
  }

  .gmnoprint, .gm-style-cc {
    display:none;
  }

  .route-info {
    display: flex;
    flex-direction: row;
    background: white;

    route-item {
      padding: 10px;
      width: 100%;
      height: 60px;
      background-color: #FFF;
      z-index: 1;
      flex: 1 1 auto;

      .active {
        display: none;
      }
    }
    .price {
      padding: 3px 5px;
      flex: 0 0 auto;
      align-self: flex-end;

      .from {
        color: $text-gray;
        padding: 3px 0px;
      }
    }
  }

  #userpos {
    @include locate-me-button;
  }

  #stopinputs {
    width: 90%;
    position: absolute;
    bottom: calc(10% + 10px);
    left: 5%;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);

    .line {
      width: 2px;
      height: 14px;
      background: url('../img/RoutePairSmallLine.png') center center;
      top: 27px;
      left: 18px;
      position: absolute;
      z-index: 1;
    }
  }

  #transco {
    background-color: #FFF;
    position: relative;
    font-size: 13px;
    line-height: 1.4;
    padding-bottom: 20px;

    .coinfo {
      padding: 10px 16px;
      color: #666;

      h4 {
        color: #666;
      }

      .contact {
        height: 80px;
        background: url('../img/bus.jpg') left top no-repeat;
        background-size: 120px auto;
        padding-left: 135px;

        .logo {
          height: 40px;
          background: url('../img/logo-aedge.jpg') left top 5px no-repeat;
          background-size: auto 30px;
          margin-bottom: 5px;
          border-bottom: 1px solid #CCC;
        }
      }
    }

    .coterms {
      padding: 10px 16px;

      li {
        padding: 0px;
        margin: 0px 0px 0px 20px;
        list-style-type: disc;
      }

      .sign {
        margin: 15px 0px 0px 0px;
        font-size: 15px;
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        padding-top: 10px;

        .img {
          width: 100px;
          padding-top: 72px;
          background: url('../img/terms-sign.png') left top no-repeat;
          background-size: 100% auto;
          text-align: center;
          font-size: 11px;
          float: left;
          margin: 0px 10px 10px 0px;
        }

        .clear {
          clear: both;
        }
      }
    }

    .confirm {
      border: 0px;
      font-size: 12px;

      .checkbox-icon:before {
        background-color: #CCC;
      }

      .checkbox input:checked + .checkbox-icon:before {
        background-color: $stable;
      }

      .item-content {
        white-space: normal;
      }
    }
  }

  #btnbookcont {
    position: relative;
    bottom: 0;
  }

  .err {
    height: 20px;
    margin-top: 10px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #FF3333;
    text-align: center;
  }
}

// FIXME: big-white-button
.booking-stops-infowindow {
  button {
    border: solid 2px $stable;
    color: $stable;
    background: $light;
    border-radius: 15px;
    padding: 5px 15px;
    display: block;
    margin-left: 1em;
  }
}
