
.booking-content{
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
  padding-top: 25%;
  padding-left: 8%;
  padding-right: 12%;
}

.success-image {
  text-align: center;
}

.success-text {
  padding-left: 5%;
}

.success-button {
  margin-top: 15%
}
