
.booking-content{
  height: 100%;
  width: 100%;
  top: 0;
  left:0;
  padding-top: 25%;
}

.success-image {
  padding-left: 8%;
}

.success-text {
  padding-right: 8%;
  padding-left: 5%;
}

.success-button {
  margin-top: 15%
}
