.item {
  &.datepickerIntro{
      text-align: center;
      color: $hint-color;
      border-bottom: none;
      padding: $padding_large_vertical 0px 0px 0px;
  }
}

.multiple-date-picker {
  user-select: none;
  background-color: $picker-header-bg;
  width: 100%;

  .picker-days-row,
  .picker-days-week-row,
  .picker-top-row {
    width: 100%;
  }
  .picker-top-row {
    display: flex;

    .picker-month {
      flex: 1 1 auto;
    }
  }

  .picker-navigate {
    width: 16.66%;
    font-size: 2em;

    &:hover {
      cursor: pointer;
    }
    &.disabled,
    &.disabled:hover {
      color: #ddd;
      cursor: default;
    }
  }
  .picker-days-week-row {
    div {
      width: 14.28%;
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 1px solid #ddd;
    }
  }
  .picker-days-row {
    div {
      width: 14.28%;
      display: inline-block;
    }
  }
}

.picker-day,
.picker-top-row {
  padding: 10px 0;
}

.picker-day {
  background-color: $pickable-day-non-picked-background;
  border: 1px solid transparent;
  font-weight: bold;
  box-sizing: border-box;
  color: $pickable-day-non-picked-color;

  &.today {
    color: $picker-day-today;
    text-decoration: underline;
  }

  &:not(.picker-off):not(.picker-empty):not(.picker-selected):hover {
    background-color: darken($pickable-day-non-picked-background, 10%);
  }

  &.picker-off {
    background-color: $non-pickable-day-background;
    color: $non-pickable-day-color;
  }

  &.picker-selected {
    background-color: $pickable-day-picked-background;
    color: $pickable-day-picked-color;

    &:hover {
      background-color: lighten($pickable-day-picked-background, 10%);
    }
  }
  &.picker-empty {
    background-color: $empty-day-background;
  }
}

//legend stuff
#pg_bookdate {
  multiple-date-picker {
    margin: 0;
    display: block;
  }

  .button {
    margin-top: $content-padding*2;
    margin-bottom: $content-padding*2;
  }
  .sold-out {
    background: repeating-linear-gradient( 135deg, $empty-day-background, $empty-day-background 3px, #ddd 3px, #ddd 6px );
    color: $non-pickable-day-color;
    border: 1px solid $empty-day-background;
  }
  .previously-booked {
    color: $assertive;
  }
  .legend-table {
    margin: 0 auto;
    td {
      padding: 2px;
      border: 0;
      text-align: center;
    }
    .exemplar {
      width: 2em;
    }
    .label {
      text-align: left;
      padding-right: 1em;
      padding-left: 10px;
      font-size: $font-size-small;
    }
  }

  // Legend
  .datepicker {
    background-color: $empty-day-background;
    padding: 1em 0;
  }

  .picker-day {
    position: relative;

    .annotation {
      width: 0px;
      height: 0px;
      border-top: solid 1em $picker-notes-bg;
      border-left: solid 1em transparent;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

/* Style for the tap multiple days modal in booking dates*/

.tap-multiple-days {
  padding: $padding-large-vertical;

  img {
    width: 100%;
    height: auto;
  }
}
