#pg_bookdate {
  .monthsel {
    background-color: #FFF;
    padding: 10px 0px;
    border-bottom: 1px solid #CCC;

    .icon {
      width: 40px;
      height: 40px;
      font-size: 28px;
      color: #FFF;
      line-height: 40px;
      display: inline-block;
      background-color: $stable;
      border-radius: 40px;
      position: relative;

      &:active {
        top: 2px;
      }

      &.prev::before {
        padding-right: 3px;
      }

      &.next::before {
        padding-left: 3px;
      }
    }

    .mmyyyy-holder {
      width: calc(60% - 10px);
      height: 28px;
      display: inline-block;
      position: relative;
      margin: 0px 10px;
    }

    .mm, .yyyy {
      width: 45%;
      font-size: 15px;
      background-color: #FFF;
      border: 1px solid #CCC;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      top: 3px;
    }

    .mm {
      left: 5px;
    }
    .yyyy {
      right: 5px;
    }
  }

  .datepicker {
    text-align: center;

    table {
      width: 100%;
      padding: 0px;
      margin: 0px;
      border-spacing: 0px;
      background-color: #FFF;

      th {
        font-weight: bold;
        text-align: center;
        background-color: #999;
        color: #FFF;
        padding: 5px;
      }

      td {
        width: 14.2%;
        padding: 10px 5px 10px 5px;
        text-align: center;
        background-color: #EDA;
        border-right: 1px solid #F5F5F5;
        border-bottom: 1px solid #CCC;
      }

      tr td:last-of-type {
        border-right: 0px;
      }

      .selected {
        background-color: #029;
        color: #FFF;

        &.dragged {
          background-color: #66F;
        }
      }

      .dragged {
        background-color: #6AF;
      }

      .not-running, .sold-out, .invalid-stop {
        background-color: #D5D5D5;
        color: #888;
      }

      .primary:not(.not-running):not(.selected):not(.dragged) {
        background-color: #FFF;
      }
    }
  }

  qty-input {
    margin: 10px 0px;
  }

  .bookdetails {
    padding: 0px 0px 20px 0px;
    background-color: #FFF;
  }

  #btnreview {
    margin-top: 20px;
    position: relative;
    bottom: 0;

    &:active {
      bottom: -3px;
    }
  }
}
