


.bus-stop-selector {
  /* 38px is related to the width of the icon representing stops */

  .stop-icon {
    background-size: auto 20px;
    width: 24px;
    /* height: 24px; */
    display: inline-block;
    vertical-align: bottom;
    margin: 0 5px 0 0px;
  }

  .placeholder {
    color: $hint-color;
  }
}

/* ---------- BOOKINGS STOPS MODAL ---------- */
.stop-selector {
  /* force full window */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  ion-content.stops-list-main {
    display: flex;
    flex-direction: column;

    .map-area {
      flex: 0 0.5 45vh;
      padding: 0;
      display: flex;
      flex-direction: column;

      ui-gmap-google-map {
        flex: 1 1 auto;
        position: relative;

        div.angular-google-map {
          width: 100%;
          height: 100%;
          position: absolute;
        }
        .angular-google-map-container {
          height: 100%;
          width: 100%;
        }
      }
    }

    ion-content.stops-list {
      flex: 1 1 auto;
      position: relative;


      .item-radio{
        .radio-icon {
          color: $royal;
          font-size: $radio-font-size;
          left: 0px;
        }
        .not-selected{
          color: $hint-color;
          font-size: $radio-font-size;
          left: 0px;
          padding: 14px; /*follow radio-icon padding*/
        }
        .item-content{
          padding-right: $item-padding * 1;
          /* extend content space, override ionic default since the checkmark is no longer on the right */
        }
      }

      .fullStopDetails{
        padding-left: $item_padding_base*4;
        .time{
          font-weight: bold;
        }
        .details {
          .road {
            color: $hint-color;
          }
        }
      }

      i.stop-icon{
        left: $padding-small-horizontal*2;
        background-size: auto 20px;
        width: 24px;
        /* height: 24px; */
        display: inline-block;
        vertical-align: bottom;
        margin: 0 5px 0 0px;

        &.board{
          background: url('../img/RoutePairBigStart.svg') 0 50% no-repeat transparent;
        }
        &.alight{
          background: url('../img/RoutePairBigEnd.svg') 0 50% no-repeat transparent;
        }
      }

    }

    .num-stops,
    .select-button {
      flex: none;
    }

    .gmnoprint, .gm-style-cc {
      display:none;
    }
  }
}
