
.bus-stop-selector {
  /* 38px is related to the width of the icon representing stops */

  .stop-icon {
    background: url('../img/icon-stop-big.png') left 7px center no-repeat transparent;
    background-size: auto 20px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 5px 0 0px;
  }

  .placeholder {
    color: $hint-color;
  }
}

/* ---------- BOOKINGS STOPS MODAL ---------- */
.stop-selector {
  /* force full window */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  ion-content {
    display: flex;
    flex-direction: column;
    
    /* Our button bar has a custom height */
    bottom: $bar-height + 2 * $item-padding;

    .map-area {
      flex: 0 0 45%;

      padding: 0;
      display: flex;
      flex-direction: column;

      ui-gmap-google-map {
        flex: 1 1 auto;
        position: relative;

        div.angular-google-map {
          width: 100%;
          height: 100%;
          position: absolute;
        }
        .angular-google-map-container {
          height: 100%;
          width: 100%;
        }
      }
    }

    .stops-list {
      flex: 1 1 auto;
      /* Hide the scroll-bar in browsers */
      overflow: hidden;

    .time, .details {
      display: inline-block;
      vertical-align: top;
    }
  }


  .bar.bar-footer {
    /* overriding because the bar-footer is otherwise
      fixed-height, but we want padding around the button
      */
    height: $bar-height + 2 * $item-padding;
    padding: $item-padding;
    button {
      flex: 1 1 auto;
      position: static;
      max-width: none;
    }
  }

  .gmnoprint, .gm-style-cc {
    display:none;
  }

}
