#crowdstart-summary {
  .booking-summary {
    .card {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      .card-title {
        &.first {
          -webkit-box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.1);
          -moz-box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.1);
          box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.1);
        }
      }
    }
  }

  .booking-info {
    td {
      text-align: left;
      &.right{
        text-align: right;
      }
    }
  }

  .check-terms {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .item-no-title {
    padding-top: $font-size-base;
  }

  .withdraw-item {
    padding-top: $font-size-base;

    .fa-user {
      margin-right: $padding-x-small-horizontal;
    }
  }
}
