dynamic-signage {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em;
    padding: 1em;
    height: 120px;
    width: 200px;
    border: 1px solid $hint-color;
  }
}
