.intro-slides {
  background-color: $light;
  color: $dark;
  .swiper-slide {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    text-align: center;
    margin-bottom: $padding-large-vertical*2;
    h2 {
      color: $royal;
    }
    img {
      margin-top: 50px;
    }
    p {
      margin-top: 40px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 70%;
      font-size: $font-size-base;
      line-height: $line-height-base;
    }

  }

  button {
    position: absolute;
    right: $content-padding*2;
    bottom: $content-padding;
    z-index: $z-index-bar;
  }

  .swiper-container-horizontal {
      bottom: $padding-large-vertical*2;
  }

  .swiper-pagination-bullet {
    background: $royal;
  }
  
  .ion-ios-upload-outline {
    margin: 0 $item-padding-small;
    font-size: $font-size-large;
  }
}
