
/* Kickstarter select stops */
#pg_kickstarter_detail {
  .bar-subheader{
    height: auto;
  }
  .map-area {
    height: 250px;
    position: relative;

    ui-gmap-google-map {
      display: block;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;

      .popUpStopSelect{
        min-width: $popUpStopSelectMinWidth;
        min-height: $popUpStopSelectMinHeight;
        padding-left: $content-padding*2;
        padding-top: $content-padding;

        .button{
          margin-top: $content-padding;
        }
      }

      .angular-google-map, .angular-google-map-container {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;

        /* Hides the terms of use */
        .gmnoprint, .gm-style-cc {
          display: none;
        }
      }
    } /* ui-gmap-google-map */

    .locate-button {
      top: $content-padding;
      right: $content-padding;
      position: absolute;
    }
  }

  .button{
    margin-top: $padding-large-vertical*3;
    margin-bottom: $padding-large-vertical*2;
  }

  .progress-bar{
    margin-top: $content-padding*4;
    margin-bottom: $content-padding*4;
  }
}

.kickstarter-detail2 {
  @include transparent();
  ion-content {
    top: auto;
    max-height: 300px;
    @include desktop { &.has-tabs { top: $bar-height; } }
    @include desktop {
      // TODO: replace with variables
      top: 100px;
      max-height: none !important;
   }
  }
}

.kickstarter-stops {
  @include transparent();
  > ion-content {
    display: flex;
    flex-direction: column;
    top: auto;
    height: 300px;
    @include desktop { &.has-tabs { top: $bar-height; } }
    @include desktop {
      // TODO: replace with variables
      top: 44px;
      height: auto;
   }

   .stop-list {
     flex: 1;
     // Strip the extra margin from the list class
     margin-bottom: 0;
     // Add an edge to the scrolling list
     border-bottom-width: $item-border-width;
     border-bottom-color: $item-default-border;
     border-bottom-style: solid;
     .stop-option {
       cursor: pointer;
       // Setup togglable elements for selected items
       &.selected { .show-unselected { display: none; } }
       &:not(.selected) { .show-selected { display: none; } }
     }

     .item-radio{
        .radio-icon {
          color: $royal;
          font-size: $radio-font-size;
          left: 0px;
        }
        .not-selected{
          color: $hint-color;
          font-size: $radio-font-size;
          left: 0px;
          padding: 14px; /*follow radio-icon padding*/
        }
        .item-content{
          padding-right: $item-padding * 1;
          /* extend content space, override ionic default since the checkmark is no longer on the right */
        }
      }

    .fullStopDetails{
      padding-left: $item_padding_base*4;
      .time{
        font-weight: bold;
      }
      .details {
        .road {
          color: $hint-color;
        }
      }
    }

    i.stop-icon{
      left: $padding-small-horizontal*3;
      background-size: auto 20px;
      width: 24px;
      /* height: 24px; */
      display: inline-block;
      vertical-align: bottom;
      margin: 0 5px 0 0px;

      &.board{
        background: url('../img/RoutePairBigStart.svg') 0 50% no-repeat transparent;
      }
      &.alight{
        background: url('../img/RoutePairBigEnd.svg') 0 50% no-repeat transparent;
      }
    }
   }
  }
}
