/* Style for the kickstart help modal in kickstart list*/

.kickstart-help {
  padding: $padding-large-vertical*3;

  p{
    font-size: $font-size-base;
    color: $dark;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: $content-padding*2;
  }
}
