
/* Kickstarter select stops */
#pg_kickstarter_detail {
  .bar-subheader{
    height: auto;
  }
  .map-area {
    height: 250px;
    position: relative;

    ui-gmap-google-map {
      display: block;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;

      .popUpStopSelect{
        min-width: $popUpStopSelectMinWidth;
        min-height: $popUpStopSelectMinHeight;
        padding-left: $content-padding*2;
        padding-top: $content-padding;

        .button{
          margin-top: $content-padding;
        }
      }

      .angular-google-map, .angular-google-map-container {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;

        /* Hides the terms of use */
        .gmnoprint, .gm-style-cc {
          display: none;
        }
      }
    } /* ui-gmap-google-map */

    .locate-button {
      top: $content-padding;
      right: $content-padding;
      position: absolute;
    }
  }

  .stop-inputs {
    .bus-stop-selector:nth-of-type(1) .stop-icon {
      background: url('../img/RoutePairBigStart.svg') 0 50% no-repeat transparent;
      background-size: 24px 24px;
    }

    .bus-stop-selector:nth-of-type(2) .stop-icon {
      background: url('../img/RoutePairBigEnd.svg') 0 50% no-repeat transparent;
      background-size: 24px 24px;
    }
  }

  .button{
    margin-top: $padding-large-vertical*3;
    margin-bottom: $padding-large-vertical*2;
  }
}
