.kickstarter-list ion-content {
    display: flex;
    flex-direction: column;
    position: inherit;
    $search-height: $line-height-computed + $content-padding * 2;
    .search {
      height: $search-height;
      width: 100%;
      input {
        // HACK: re-left aligning overriding our previous ionic override
        text-align: left !important;
        padding-left: 0;
      }
      .icon {
        // Scaled and moved to taste
        font-size: 1.5em;
        padding-right: 1.5 * $content-padding;
      }
    }

    .list {
      margin-top: $search-height;
      flex: 1 1 auto;
    }

    .not-found-message {
      padding: $content-padding*4
    }

    .no-kickstarter.item {
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      text-align: center;

      h2 {
        margin-top: 30px;
      }

      p {
        margin-top: 5px;
        max-width: 18em;
      }
    }

    /* simplified progress bar in the kickstarter list */
    .progress-bar {
      // margin: $padding-large-vertical*2 auto;
      width: 95%;
      margin-left: $start-size/2;
    }
  }

/* Style for the kickstart help modal in kickstart list*/

.kickstart-help {
  padding: $padding-large-vertical*3;

  p{
    font-size: $font-size-base;
    color: $dark;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: $content-padding*2;
  }
}

.region-filter {
  flex: 0 0 ($line-height-computed + $content-padding * 2);
  display: flex;
  flex-direction: row;


  & > :nth-child(1) {
    flex: 1 1 50%;
  }
  & > :nth-child(2) {
    flex: 1 1 50%;

    select {
      padding: inherit;
      width: 100%;
      max-width:none;
      direction: ltr;
    }

    &:after {
      /* display: none;  */
    }
  }
}
