#pg_kickstarter_commit {
  .primary-button {
    margin-top: $padding-large-horizontal;
  }
  textarea {
    width: 90%;
    height: $line-height-computed*3;
    margin: $padding-small-horizontal auto;
  }

  .small-button{

  }
}
