#pg_kickstarter_recap {

  .icon{
    &.activebid{
      left: $padding-small-horizontal*2;
    }
  }
  .subTitle {
    color: $hint-color;
    line-height:  $line-height-base*2;
  }
  table {
    width: 100%;
  }
  .bus-logo {
    min-height: 4em;
    height: 20vw;
    max-height: 10em;
    img {
      padding: 1px;
      border: 1px solid lighten($normal-grey, 50%);
      max-width: 100%;
      max-height: 100%;
    }
  }
  .bus-co-info {
    padding-left: $content-padding;
  }
}
