#pg_kickstarter_commit {
  .icon{
    &.activebid{
      left: $padding-small-horizontal*2;
      align-items: flex-start;
      top: $padding-large-vertical*2;
    }
  }
  .primary-button {
    margin-top: $padding-large-vertical*2;
    margin-bottom: $padding-large-vertical*2;
  }
}
