.legal {
    div {
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 3%;
    }
    h2 {
        padding-top: 30px;
    }
    ol {
        list-style-type: decimal;
    }
    ol,
    ul {
        padding-top: 10px;
        padding-left: 15px;
        li {
            padding-top: 20px;
            padding-left: 10px;
        }
    }
}
