/* ---------- tracker PAGE ---------- */
#lite_route_tracker {

  ion-content.lite-route-tracker-content {
    display: flex;
    flex-direction: column;

    .lite-route-tracker-tab {
      flex-direction: column;
      display: flex;

      flex: 1 1 auto;
    }
  }

  .tab-item {
    text-transform: uppercase;
    &.active {
      opacity: 1;
    }
    &:not(.active) {
      opacity: 0.3;
    }
  }

  // Have the map fill the container
  ui-gmap-google-map {
    flex: 1 1 auto;
    display: block;
    position: relative;

    .angular-google-map {
      height: 100%;
      width: 100%;
      position: absolute;
      
      .angular-google-map-container {
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
      }
    }
  }

  // Position the locate me button near the bottom right
  .locate-button {
    position: absolute;
    bottom: 2* $content-padding;
    right: $content-padding;
  }
}

progress.fakeProgressBar {
  -webkit-appearance: progress-bar;
  appearance: none;
  margin: 0 0;
  height: 3px;
  background-color: #eee;
  border: none;

  &[value] {
    background-color: #eee;
  }

  &::-moz-progress-bar {
    background: lighten($hint-color, 20%);
  }

  &::-webkit-progress-value {
    background: lighten($hint-color, 20%);
  }

  &::-webkit-progress-bar {
    background: #eee;
  }
}
