.lite-route-stop {
  display: flex;

  .left {
    width: 80%;
    font-size: 12px;

    .main {
      .description {
        font-weight: 700;
        font-size: 14px;
      }

      .stop-type {
        color: rgb(253, 123, 125);

        &.board {
          color: rgb(25, 170, 110);
        }

        .fa-circle {
          font-size: 10px;
          margin-right: 4px;
        }
      }
    }

    .secondary {
      span {
        line-height: normal;
      }

      .row {
        .col {
          width: 22%;
          flex: unset;
          padding: 0px;
        }
      }


      .before {
        color: #BBB;
      }

      .current {
        text-decoration: underline;
      }
    }
  }

  .right {
    width: 20%;
    text-align: right;
    font-weight: 700;
  }
}