.lite-route-stop {
  display: flex;

  .left {
    width: 80%;
    font-size: $font-size-x-small;

    .main {
      .description {
        font-weight: $font-weight-bold;
        font-size: $font-size-base;
      }

      .stop-type {
        color: $alight-color;

        &.board {
          color: $pickup-color;
        }

        .fa-circle {
          font-size: $fa-font-size;
          margin-right: $padding-x-small-horizontal;
        }
      }
    }

    .secondary {
      span {
        line-height: normal;
      }

      .row {
        .col {
          width: 22%;
          flex: unset;
          padding: 0px;
        }
      }


      .before {
        color: #BBB;
      }

      .current {
        text-decoration: underline;
      }
    }
  }

  .right {
    width: 20%;
    text-align: right;
    font-weight: $font-weight-bold;
  }
}