.location-search {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border: none;

  &.item {
    padding-top: $padding-x-small-vertical;
    padding-bottom: $padding-x-small-vertical;
  }

  &.item-icon-left {
    padding-left: 40px;
  }

  .input-box {
    width: calc(100% - 10px);
    padding: $padding-base-vertical $padding-base-horizontal;

    .input-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-transform: capitalize;
      font-size: $font-size-small;
    }
  }

  .ion-android-close {
    display: flex;
    &::before {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}