.loginContent{
  p{
    margin: $content-padding 0px;
  }
  label{
    margin: $content-padding 0;
  }
  .checkPolicy{
    margin-top: $content-padding*3;
    margin-bottom: $content-padding*2;
    padding: $item-padding-small;
    a{
      text-decoration: underline;
    }
    .item.item-checkbox{
      border: none;
      padding: 0;
      padding-left: $content-padding*4;
      margin: $content-padding 0;
      .checkbox{
        position: absolute;
        left:-8px; /*undo ionic default*/
      }
    }
  }
  .primary-button{
    margin-bottom: $content-padding*3;
  }
}
