.login {
  p {
    padding: $content-padding*2 0;
  }
  .checkPolicy {
    margin: $content-padding*2 0;
  }
  .item-checkbox {
    border: none;
    padding: 0;
    margin:0;
    padding-left: 60px;
  }
  .button-bar {
    border: 0;
    margin: $content-padding*2 0;
    .button {
      border: 0;
    }
  }
}
