
.nav-text {
  color: #fff;
  padding-top:  33px;
}

.nav-text:hover, .nav-text:active, .tab-item-active {
    color: $energized;
}

.nav-routes {
  width: 10px;
  background-image: url($nav-routes-normal);
  background-position: center 4px;
  background-repeat: no-repeat;
  display: block;
  &:hover,
  &.tab-item-active {
    background-image: url($nav-routes-active);
    background-position: center 4px;
    background-repeat: no-repeat;
  }
}

.nav-suggest {
  background-image: url($nav-suggest-normal);
  background-position: center 4px;
  background-repeat: no-repeat;
  display: block;
  &:hover,
  &.tab-item-active {
    background-image: url($nav-suggest-active);
    background-position: center 4px;
    background-repeat: no-repeat;
  }
}

.nav-tickets {
  background-image: url($nav-tickets-normal);
  background-position: center 2px;
  background-repeat: no-repeat;
  display: block;
  &:hover,
  &.tab-item-active {
    background-image: url($nav-tickets-active);
    background-position: center 2px;
    background-repeat: no-repeat;
  }
}

.nav-kickstarter {
  background-image: url($nav-kickstarter-normal);
  background-position: center 4px;
  background-repeat: no-repeat;
  display: block;
  &:hover,
  &.tab-item-active {
    background-image: url($nav-kickstarter-active);
    background-position: center 4px;
    background-repeat: no-repeat;
  }
}


.nav-settings {
  background-image: url($nav-settings-normal);
  background-position: center 3px;
  background-repeat: no-repeat;
  display: block;
  &:hover,
  &.tab-item-active {
    background-image: url($nav-settings-active);
    background-position: center 3px;
    background-repeat: no-repeat;
  }
}
