
.nav-text {
  color: #fff;
  padding-top:  33px;
}

.nav-text:hover, .nav-text:active, .tab-item-active {
    color: $energized;
}

.nav-routes {
  background: url($menu-asset-folder+'MenuRoutesNormal.svg') center 4px no-repeat;
  display: block;
  &:hover,
  &.tab-item-active {
    background: url($menu-asset-folder+'MenuRoutesActive.svg') center 4px no-repeat;
  }
}

.nav-suggest {
  background: url($menu-asset-folder+'MenuSuggestNormal.svg') center 4px no-repeat;
  display: block;
  &:hover,
  &.tab-item-active {
    background: url($menu-asset-folder+'MenuSuggestActive.svg') center 4px no-repeat;
  }
}

.nav-tickets {
  background: url($menu-asset-folder+'MenuTicketsNormal.svg') center 2px no-repeat;
  display: block;
  &:hover,
  &.tab-item-active {
    background: url($menu-asset-folder+'MenuTicketsActive.svg') center 2px no-repeat;
  }
}

.nav-kickstarter {
  background: url($menu-asset-folder+'MenuKickstartNormal.svg') center 4px no-repeat;
  display: block;
  &:hover,
  &.tab-item-active {
    background: url($menu-asset-folder+'MenuKickstartActive.svg') center 4px no-repeat;
  }
}


.nav-settings {
  background: url($menu-asset-folder+'MenuSettingsNormal.svg') center 3px no-repeat;
  display: block;
  &:hover,
  &.tab-item-active {
    background: url($menu-asset-folder+'MenuSettingsActive.svg') center 3px no-repeat;
  }
}
