.map-search {
  @include transparent();
  > ion-content {
    display: flex;
    flex-direction: column;
    // Setup the "partial" window mobile view
    top: auto;
    @include desktop { top: $bar-height; }
    height: 190px;
    @include desktop { height: auto; }
  }
}
