
@mixin narrow-content() {
    max-width: 400px;
    margin: 0px auto;
}

@mixin desktop() {
  // Disabling for now until everyting's ready
  // Switch to this media query to activate
  // Remember to disable the width limit in beeline.scss as well
  // @media (min-width: 1024px) {
  @media (max-width: 0px) { 
    @content;
  }
}

// Gives the appearance of floating "height"
// Based on the material design guidelines 
// But with less vertical offset and more blur 
// To makes shadows visible at the tops of elements as well
// This allows the floating effect for elements at the bottom of the screen 
// Accepts integer values between 0-5
@mixin elevation($level) {
  @if $level == 0 {
    box-shadow: none;
  } @else if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
    box-shadow: 0 2px 12px rgba(0,0,0,0.16), 0 2px 12px rgba(0,0,0,0.23);
  } @else if $level == 3 {
    box-shadow: 0 5px 40px rgba(0,0,0,0.19), 0 3px 12px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 7px 56px rgba(0,0,0,0.25), 0 5px 20px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 10px 76px rgba(0,0,0,0.30), 0 8px 24px rgba(0,0,0,0.22);
  } @else {
    @error "elevation-shadow only accepts integers between 0 and 5";
  }
}