@mixin big-yellow() {
  padding: 20px 20px;
  font-size: 16px;
  line-height: 0px;
  background-color: #ffe76e;
  border: 0px;
  border-bottom: 4px solid #f7c639;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  color: #333;
  z-index: 3;

  &:active {
    border-bottom: 1px solid #f7c639;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  }

  &[disabled="disabled"] {
    background-color: #d6d6d6;
    border-bottom: 4px solid #b9b9b9;
    color: #6f6f6f;
  }
}

@mixin narrow-content() {
    max-width: 400px;
    margin: 0px auto;
}

@mixin big-yellow-fixed() {
  @include big-yellow();
  margin-left: -130px; /* Can we work around this hack? */
  width: 260px;
  left: 50%;
  position: fixed;
}

@mixin locate-me-button() {
  width: 60px;
  height: 59px;
  background: transparent url('../img/MapButtonLocateMe@2x.png') center center no-repeat;
  background-size: 60px 59px;
  position: absolute;
  bottom: calc(10% + 130px);
  right: 16px;
  margin: 0px;
  z-index: 3;
  cursor: pointer;

  &.activated {
    bottom: calc(10% + 128px);
    opacity: 0.8;
  }
}

@mixin bus-num {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #4b3863;
  color: #FFF;
  line-height: 40px;
  border-radius: 20px;
}
