// Start with our variables
// To customize Ionic override the variables in ionic's _variables.scss file.

$positive: #00B140;
$royal: #00B140;
$energized: #00B140;
$primary-button-shadow: #008D33;
$primary-button-font: #fff;

@import "scss/ionic.app.scss";
