// Start with our variables
// To customize Ionic override the variables in ionic's _variables.scss file.

$positive: #009900;
$royal: #009900;
$font-family-sans-serif: serif;

@import "scss/ionic.app.scss";


.primary-button {
  border-radius: 0;
  background-color: #DDD;
}
