
price-calculator {

  .price-table {
    width: 100%;

    &.totals {
      border-spacing: 5px;
      border-collapse: separate;
      td, th{
        width: 33%;
        vertical-align: middle;
      }
    }
  }

}
