price-calculator {
  .booking-info {
    width: 100%;
    margin-bottom: $padding-large-vertical*3;
    /* for 2 column  */
    &.prices {
      td {
        width: 50%;
      }
    }

    &.calculator{
      td{
        text-align: left;
        &.right{
          width: 20%;
          text-align: right;
        }
      }
    }

    td,
    th {
      white-space: normal;
    }

  }


  .spinner-block {
    background: $light;
    position: absolute;
    text-align: center;
    padding: 2em 0;
    width: 100%;
    left: 0;
    top: auto;

    .spinner {
      display: block;
      svg {
        height: 20vmin;
        width: 20vmin;
      }
    }
  }
  .item-subtitle {
    margin-top: $padding-large-vertical*2;
  }

  .text-wrap {
    white-space: normal
  }
}
/* .date-price-calculator{
  table {
    margin-bottom: $content-padding;
    td{
      text-align: center;
    }
  }
} */

.promoCredits{
  .small-button{
    margin-top: 0px;
  }
  .item-input-inset{
    padding: 0 $content-padding;
    .item-input-wrapper{
      padding: $item-padding-small $item-padding-base;
    }
  }

}
