

.privacy-policy {
  background: $light;
  padding: $content-padding;
  p {
    font-weight: bold;
    margin-top: 1em;
  }
  ol {
    list-style: decimal;

    li {
      margin-left: 2em;
      padding-left: 1em;
    }
  }
}
