qty-input {
    display: flex;
}
qty-input input {
    flex: 1 1 auto;
    text-align: center;

    background: $input-bg;
    border: $input-border;
    height: $input-height-base;
}
qty-input button {
    flex: 0 0 auto;
}
