.routes-view {
  $search-height: $bar-height;

  .routes-scroll {
    // Margin-top hack to get the ion content to work nicely with search bar
    margin-top: $search-height;
  }

  .list {
    height: 100%;
  }

  .progress-bar {
    width: 100%;
  }

  route-item {
    width: 90%;
  }
}
