
/* ----- General styling for route information listings ----- */
route-item {
  position: relative;
  display: flex;
  flex-direction: row;

  .bus-number {
    margin-right: 10px;
    flex: 0 0 auto;
    font-size: $font-size-small;
  }

  .stops {
    flex: 1 1 auto;
    position: relative;

    .active {
      background-color: #bdbdbd;
      color: #FFF;
      font-size: 0.8em;
      line-height: 0.9em;
      padding: 5px;
      border-radius: 4px;
      margin: 5px 0px 0px 10px;
      display: inline-block;
    }

    .line {
      width: 2px;
      height: 20px;
      background: url('../img/RoutePairSmallLine.svg') center center;
      top: 10px;
      left: 4px;
      position: absolute;
    }

    .start {
      background: url('../img/RoutePairSmallStart.svg') left center no-repeat;
    }
    .end {
      background: url('../img/RoutePairSmallEnd.svg') left center no-repeat;
    }

    .start, .end {
      line-height: 20px;
      background-size: 10px 10px;
      padding-left: 15px;
      z-index: 5;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .time {
      text-transform: lowercase;
      margin-right: 7px;
    }

    .road {
      text-transform: capitalize;
    }
  }
}
