.route-detail {
  @include transparent();


  ion-content {
    display: flex;
    flex-direction: column;
    top: auto;
    #route-detail {
      display: none;
    }
    // @include desktop { &.has-tabs { top: $bar-height; } }
    @include desktop {
      top: $bar-height;
      #route-detail {
        display: block;
      }
    }
    .booking-info {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .rides-remaining {
      display: flex;
      padding: 0.5em;
      align-items: center;
      i.icon .buy-more-button{
        flex: 0 0 auto;

      }
      .text {
        flex: 1 1 auto;
        margin-left: 10px;
      }
      button {
        line-height: 1.0;
      }
    }

  }
}


/** Ionic uses a very specific selector with iOS/Cordova **/
// .page-with-map ion-content,
// .platform-ios.platform-cordova:not(.fullscreen) .page-with-map ion-content.has-header {
//   top: auto;
// }

.platform-ios.platform-cordova:not(.fullscreen) .page-with-map ion-content.has-header {
  top: auto;
}
