
/* ---------- ROUTE LIST PAGE ---------- */
#pg_routelist {
  color: #444;

  .loader {
    width: 100%;
    height: 300px;
    background: url('../img/loader120.gif') no-repeat center center transparent;
    background-size: 120px auto;

    .txt {
      width: 100%;
      text-align: center;
      margin-top: 210px;
      position: absolute;
      font-size: 16px;
    }
  }

  .list {
    .routeinfo .stops {
      width: calc(100% - 80px);
    }

    .item-icon-right {
      padding: 0px;
    }
  }

  // Get the Region filter to be center aligned
  .item-select {
    text-align: center;
    color: #888;
    // Hide the "down caret" dropdown icon
    &:after { display: none; }
    // Get the select option to center align too
    select {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      // Remove the unecessary right padding since we're center aligning
      padding-right: 0;
      direction: ltr;
    }
  }
}
