.route-detail {
  @include transparent();
  ion-content {
    display: flex;
    flex-direction: column;
    top: auto;
    @include desktop { &.has-tabs { top: $bar-height; } }
    height: 240px;
    @include desktop { height: auto; }

    .booking-info {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

  }
}