
/* ----- General styling for route information listings ----- */
route-item {
  position: relative;
  display: block;

  .bus-number {
    margin-right: 10px;
    display: inline;
  }
  .schedule {
    color: $hint-color;
  }

  .stops {
    display: block;
    margin: 0.5em 0;
    position: relative;


    .line {
      width: 2px;
      height: 100%;
      background: url('../img/RoutePairSmallLine.svg') center center;
      top: 4px;
      left: 4px;
      position: absolute;
      transform: translate(0, 6px);
    }

    .start {
      background: url('../img/RoutePairSmallStart.svg') left 6px no-repeat;
    }
    .end {
      background: url('../img/RoutePairSmallEnd.svg') left 6px no-repeat;
    }

    .start, .end {
      line-height: 20px;
      background-size: 10px 10px;
      padding-left: 15px;
      z-index: 5;
      position: relative;
      white-space: normal;
      display: flex;

      .time {
        text-transform: lowercase;
        margin-right: 7px;
        flex: 0 0 auto;
      }

      .road {
        text-transform: capitalize;
        flex: 1 1 auto;
      }
    }
  }
}
