.routes-map-view {

  // Make a spacing between the icon and the text input
  .input-icon {
    margin-right: 8px;
  }

  // Make the clear input button more buttony
  .clear-button {
    cursor: pointer;
  }

  // Position the crosshairs in the middle of the map
  // This is done by pixel hacking so need to adjust to the image
  // TODO find a better way of doing this
  .pickup-crosshair,
  .dropoff-crosshair {
    position: absolute;
    top: 0; bottom: 56px; left: 0; right: 2px;
    margin: auto;
    width: 290px;
    height: 69px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

  }
  .pickup-crosshair {
    background-image: url('../img/MapPinStart.svg');

  }
  .dropoff-crosshair {
    background-image: url('../img/MapPinEnd.svg');

  }

  // Position the locate me button near the bottom right
  .locate-button {
    position: absolute;
    z-index: 1;
    bottom: $button-height + 3*$content-padding;
    right: $content-padding;
    margin: 0px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 2px rgba(0,0,0,0.4);

  }

  // Place the search button at the bottom of the page
  .primary-button {
    position: absolute;
    bottom: $content-padding;
  }

  // Have the map fill the container
  .angular-google-map-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

}
