.routes-map-view {

  // Have the map fill the container
  .angular-google-map-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  // Give ths spacing between the icons and the input text
  .input-icon {
    margin-right: 12px;
  }

  // Make the clear input button more buttony
  .clear-button {
    cursor: pointer;
  }

  
  // // Hide the google maps boilerplate annotations 
  // .gmnoprint, .gm-style-cc {
  //   display:none;
  // }

  // .locinputs {
  //   width: 100%;
  //   padding: 16px;
  //   position: absolute;
  //   z-index: 2;
  //   background-color: transparent;

  //   .item {
  //     height: 40px;
  //     box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  //     padding: 6px 0 5px 32px;
  //     border: 0px;

  //     .item-input {
  //       padding: 0px;
  //     }
  //   }

  //   .icon {
  //     right: 3px;
  //   }

  //   label {
  //     padding-left: 0px;
  //     background: url('../img/icon-stop-big.png') left 8px center no-repeat #FFF;
  //     background-size: 20px auto;
  //     border-bottom: 1px solid #CCC !important;
  //     margin: 0px;
  //   }

  //   input {
  //     width: 100%;
  //     height: 100%;
  //     margin: 0px;
  //     padding: 0px 5px 0px 0px;
  //   }

  //   .item.activated {
  //     background-color: transparent;
  //   }
  // }

  // .centmark {
  //   width: 37.5px;
  //   height: 40px;
  //   background: url('../img/icon-marker-big.png') center center no-repeat;
  //   background-size: 75% auto;
  //   position: fixed;
  //   left: 50%;
  //   top: 50%;
  //   margin: -38px 0px 0px -18.75px;
  //   z-index: 3;
  // }

  // .locateme {
  //   width: 40px;
  //   height: 40px;
  //   background: url('../img/icon-locateme.png') center center no-repeat #FFF;
  //   background-size: 30px auto;
  //   border-radius: 20px;
  //   box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  //   position: fixed;
  //   bottom: 90px;
  //   right: 16px;
  //   margin: 0px;
  //   z-index: 3;
  //   cursor: pointer;

  //   &:active {
  //     bottom: 89px;
  //     right: 16px;
  //     box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  //   }
  // }

  // .btnnext {
  //   @include big-yellow-fixed();
  // }

  // /* Animation styles for ngAnimate */
  // .ng-hide-remove.centmark,
  // .ng-hide-remove.locateme,
  // .ng-hide-remove.btnnext,
  // .ng-hide-remove#pclear,
  // .ng-hide-remove#dclear {
  //   -webkit-animation:0.5s growanim;
  //   animation:0.5s growanim;
  // }

  // .ng-hide-add.centmark,
  // .ng-hide-add.locateme,
  // .ng-hide-add.btnnext,
  // .ng-hide-add#pclear,
  // .ng-hide-add#dclear {
  //   -webkit-animation:0.5s shrinkanim;
  //   animation:0.5s shrinkanim;
  // }

  // @keyframes growanim {
  //   0% { opacity:0; transform: scale(0.5); }
  //   70% { transform: scale(1.02); }
  //   100% { opacity:1; transform: scale(1); }
  // }

  // @-webkit-keyframes growanim {
  //   0% { opacity:0; transform: scale(0.5); }
  //   70% { transform: scale(1.02); }
  //   100% { opacity:1; transform: scale(1); }
  // }

  // @keyframes shrinkanim {
  //   0% { opacity:1; transform: scale(1); }
  //   100% { opacity:0; transform: scale(0); }
  // }

  // @-webkit-keyframes shrinkanim {
  //   0% { opacity:1; transform: scale(1); }
  //   100% { opacity:0; transform: scale(0); }
  // }

  // .locinputs label.item.ng-hide-remove {
  //   -webkit-animation:0.3s heightanim;
  //   animation:0.3s heightanim;
  // }

  // .locinputs label.item.ng-hide-add {
  //   -webkit-animation:0.3s shortenanim;
  //   animation:0.3s shortenanim;
  // }

  // @keyframes heightanim {
  //   0% { opacity:0; padding: 0px; height:0px; }
  //   30% { opacity:1; }
  //   100% { padding: 6px 0 5px 16px; height:40px; }
  // }

  // @-webkit-keyframes heightanim {
  //   0% { opacity:0; padding: 0px; height:0px; }
  //   30% { opacity:1; }
  //   100% { padding: 6px 0 5px 16px; height:40px; }
  // }

  // @keyframes shortenanim {
  //   0% { opacity:1; padding: 6px 0 5px 16px; height:40px; }
  //   100% { opacity:0; padding: 0px; height:0px; }
  // }

  // @-webkit-keyframes shortenanim {
  //   0% { opacity:1; padding: 6px 0 5px 16px; height:40px; }
  //   100% { opacity:0; padding: 0px; height:0px; }
  // }
}