.routes-list-view {
  .item-select {
    text-align: center;
    color: #888;
    &:after { display: none; }
    select {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      padding-right: 0;
      direction: ltr;
    }
  }
}