.route-pass-expiry-modal {

  // Change the default height of the inset modal, overriding the one set in
  // beeline.scss
  @media (max-width: 1023px) {
    $route-pass-expiry-modal-inset-margin-vertical: 30%;
    height: 100% - $route-pass-expiry-modal-inset-margin-vertical * 2;
    min-height: 100% - $route-pass-expiry-modal-inset-margin-vertical * 2;
    top: $route-pass-expiry-modal-inset-margin-vertical;
  }

  .expiry-info {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .header {
      font-weight: $font-weight-medium;
    }

    .row {
      display: flex;
      justify-content: space-between;
    }

    .col {
      text-align: center;
    }

    .qty-col {
      flex: 1;
    }

    .exp-on-col {
      flex: 2;
    }
  }
}