
.search-div {
  display: flex;
  justify-content: space-between;

  &.item {
    padding-top: $padding-base-vertical;
    padding-bottom: $padding-base-vertical;
    z-index: unset;
    overflow: unset;
  }

  &.item-icon-left {
    padding-left: 40px;
    .icon {
      font-size: $font-size-base * 1.5;
    }
    .ion-android-close {
      margin-right: $padding-x-small-horizontal;
      display: flex;
      &::before {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }

  ion-spinner {
    margin-right: $padding-x-small-horizontal;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}