@import "scss/routeItem"; /* import the busnum mixin */

#pg-search {
  ui-gmap-google-map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .angular-google-map, .angular-google-map-container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .search-inputs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .clearable-input {
      input {
        margin-right: 1.5em;
      }
      .ion-android-close {
        color: #999;
        font-size: 100%;
      }
    }

    .item.item-input {
      margin: 0.5em;
    }
  }

  .go-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0.5em;
  }

  .crosshair {
    position: absolute;
    background-color: #000;
    left: 50%;
    bottom: 50%;
    color: white;
    padding: 0.5em;
  }

  .suggest-form{
    margin-top: $item-padding-base*3;
    margin-bottom: $item-padding-base*3;
  }

  .primary-button{
    margin-bottom: $item-padding-base*2;
  }

  .suggest-button{
    margin-top: $item-padding-base*2;
  }
}
