@import "scss/routeItem"; /* import the busnum mixin */

#pg_search-results {

  .item p {
    font-size: inherit;
    white-space: normal;
    margin: 1em 0;
  }

  ion-list {
    .flex-row {
      align-items: center;
    }

    .description1 {
      .text {
        background-color: #ccc;
        color: white;
        border-radius: 4px;
        padding: 5px 15px;
      }
    }

    .arrow {
      font-size: 150%;
    }

    .logo {
      max-width: 50px;
      max-height: 50px;
      vertical-align: middle;
    }

    .from {
      color: $text-gray;
      margin: 0.5em 0;
    }

    .properties {
      table th {
        text-align: right;

        i.ion-calendar {
          font-size: 30px;
        }
      }
      table td {
        text-align: left;
        vertical-align: middle;
        padding: 0 1em;
        color: $text-gray;
      }
    }
  }

  .route-suggest {
    align-items: center;
    .image-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 400px;

      .image {
        flex: 0 0 auto;
        order: 2;
        img {
          width: 150px;
        }
      }
      .text {
        flex: 1 1 auto;
        font-size: 30px;
        color: $stable;
        line-height: normal;
        white-space: normal;
        text-align: center;
      }
    }
    .suggest-button {
      margin: 1em;
    }
  }
}
