.settings {
  .account-section {
    text-align: center;
  }
}

/* Style for modal in settings - contact us and FAQ */
.settings-modal {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    p{
      font-size: $font-size-base;
      color: $base-color;
      padding-bottom: 30px;
    }

}
