#share-rides{
  p{
    margin-top: $padding-large-vertical*2;
    margin-bottom: $padding-large-vertical*2;
  }
  button{
    margin-top: $padding-large-vertical*2;
    margin-bottom: $padding-large-vertical*2;
    display: inline-block;
  }
  .referral-code{
    background-color: $light-grey;
    border: 1px $hint-color dotted;
    padding: $padding-base-vertical*4;
    margin: $padding-large-vertical*2 auto;
    text-align: center;
    font-size: $font-size-large*2;
    width: 300px;
  }
}
