
start-end-picker {
  label.item {
    margin: 0 1em 0 1em;
  }

  label.pickup, label.dropoff {
      padding-left: 30px;
      box-sizing: border-box;
  }
  label.pickup {
    background: #FFF url('../img/RoutePairBigStart.png') no-repeat 5px center;
  }
  label.dropoff {
    background: #FFF url('../img/RoutePairBigEnd.png') no-repeat 5px center;
  }

	ui-gmap-google-map, .angular-google-map, .angular-google-map-container {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.btnnext {
		width: 60%;
		height: 40px;
		background: #FFFF00;
		background-size: 75% auto;
		position: absolute;
		bottom: 50px;
		margin: 0 20% 0 20%;
		z-index: 3;
	}

	.centmark {
		width: 37.5px;
		height: 40px;
		background: url('../img/icon-marker-big.png') center center no-repeat;
		background-size: 75% auto;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -38px 0px 0px -18.75px;
		z-index: 3;
	}

	.locateme {
		width: 40px;
		height: 40px;
		background: url('../img/icon-locateme.png') center center no-repeat #FFF;
		background-size: 30px auto;
		border-radius: 20px;
		box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
		position: fixed;
		bottom: 90px;
		right: 16px;
		margin: 0px;
		z-index: 3;
		cursor: pointer;

		&:active {
			bottom: 89px;
			right: 16px;
			box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
		}
	}
}
