.start-end {
  display: flex;
  flex-direction: column;
  .end,
  .start {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    .label {
      color: $hint-color;
      margin-bottom: 0.3em;
    }
    .stop-time,
    stop-time {
      flex: 0 0 auto;
    }
    stop-img {
      flex: 0 0 auto;
      text-align: center;
      width: $stopMarkerWidth;
    }
    .stop-stop,
    stop-stop {
      flex: 1 1 auto;
      display: block;
      h4 {
        padding-top: 3px;
        line-height: $line-height-base;
        color: $normal-grey;
      }
    }
  }
  .start {
    stop-img {
      background-image: url('../static/img/RoutePairSmallLine.svg');
      background-repeat: repeat-y;
      background-position: 50% 0;
      position: relative;
      top: 7px;
      img {
        position: relative;
        top: -7px;
      }
    }
  }
}
