
#pg_suggestions {
	.inline-suggestion-map {
		width: 100%;
		height: 250px;
		position: relative;
	}
	ui-gmap-google-map, .angular-google-map, .angular-google-map-container {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

  ion-item.warning {
    background-color: #FFEE66;
    font-size: 95%;
    white-space: normal;
  }
}

.new_suggestion.modal .scroll {
	width: 100%;
	height: 100%;
	position: relative;
}
