#pg_summary {

  h3 {
    color: $hint-color;
    font-size: 100%;
  }

  .route-info {
    display: flex;
  }

  .msg {
    display: none;
  }
/*
  section {

    .edit {
      clear: both;
      text-align: right;
      border-top: 1px dashed #CCC;
      padding-top: 10px;
    }

    .btnsmall {
      width: 80px;
      height: 15px;
      padding: 15px 0px;
      font-size: 14px;
      text-decoration: none;
      line-height: 0px;
      background-color: #ffe76e;
      border: 0px;
      border-bottom: 3px solid #f7c639;
      border-radius: 20px;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
      text-align: center;
      color: #333;
      display: inline-block;
    }
  }*/

  .promo {
    display: none;
    background-color: #FFF;
    padding: 15px 16px;

    ol {
      margin-bottom: 15px;

      li {
        font-style: italic;
        padding-left: 10px;
        border-bottom: 1px dashed #CCC;
      }
    }

    form {
      input {
        width: calc(100% - 90px);
        height: 40px;
        border: 1px solid #333;
        margin-right: 5px;
        border-radius: 5px;
        padding: 3px 7px;
        font-size: 18px;
        display: inline-block;
      }

      button {
        width: 80px;
        height: 40px;
      }
    }
  }

  .booking-tnc {
    background: #FFF;

    ul {
      margin: 0.5em 0;
      li {
        list-style: disc;
        margin-left: 1em;
      }
    }
    .signage-example {
      display: block;
      margin: 1em 2em;
    }
  }

  .paytxt {
    text-align: center;
  }
}
