#tabs {
  ion-side-menu {
    ion-item {
      color: $royal;
    }
    .sub-list {
      padding-left: $item-padding * 1.5
    }
  }

  ion-side-menu-content {
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }
  }

// TODO: why?
  ion-nav-view[name="menuContent"] {
    // to avoid map glitch (make map alone on map somehow)
    background-color: rgba(0,0,0,0.01) !important;
    pointer-events: none !important;
  }

  .left-pane {
    @include desktop {
      display: block;
      position: relative;
      max-width: 500px;
      height: 100%;
      width: 100%;
    }
  }

  ui-gmap-google-map {
    height: 80%;
    width: 100%;
    display: block;
    position: absolute;
    @include  desktop {height: 100%; position: relative;}

    .angular-google-map,
    .angular-google-map-container {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  .menu-content.menu-open {
    box-shadow: none;
    width:100%;
    transform: translate3d(0px, 0, 0) !important;
    transition: all 0s ease 0s;
    z-index: -1;
    opacity: 0.2;
  }

}
