/* ---------- TICKETS PAGE ---------- */
.ticket-detail {
  ion-content {
    display: flex;
    flex-direction: column;
  }
  .item.trip-info {
    flex: 0 0 auto;
    background-color: rgba($light, 0.9);
    padding: $item-padding-small;
    h4 {
      color: $normal-grey;
      padding-bottom: $item-padding-small;
    }
    .tnc {
      padding: 0 $item-padding-base;
    }
    .ion-information-circled {
      color: $royal;
      font-size: 1.5em;
    }
  }
  .time-column {
    text-align: right;
  }
  .route-icon {
    height: 1.1em;
    vertical-align: text-bottom;
    padding-left: $item-padding-small;
  }
  .angular-google-map-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .service-cancellation {
    flex: 1 1 auto;
    .cancellation-content {
      margin: 10px 0;
      text-align: center;
      h2 {
        color: $normal-grey;
        text-align: center;
        font-weight: bold;
        padding: $item-padding-base 0;
      }
      img {
        padding: 20px 0;
      }
      p {
        text-align: left;
        padding: $item-padding-small 10px;
      }
    }
  }
}
