.tickets {
  .full {
    width: 100%;
    text-align: left;
  }

  .icon-accessory {
    color: #000;
  }
  b {
    font-size: $font-size-large;
  }

  .date {
    margin-left: $padding-base-horizontal;
  }

  .time {
    margin-left: $padding-x-small-horizontal;
  }
}
