.trip-info {
  .vehicleNo{
    text-transform: uppercase;
  }
}

.service-cancellation {
  flex: 1 1 auto;
  .cancellation-content {
    margin: $padding-large-vertical 0;
    text-align: center;
    h2 {
      color: $normal-grey;
      text-align: center;
      font-weight: bold;
      padding: $item-padding-base 0;
    }
    img {
      padding: $line-height-computed 0;
    }
    p {
      text-align: left;
      padding: $padding-base-vertical $padding-base-horizontal;
    }
  }
}

ticket-detail {
  margin: 5px;
  border: 2px solid #BFBFBF;
  border-radius: 15px;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  .item {
    margin: 5px;
    border: none;
  }
}
