.trip-info {
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: $royal;
    font-weight: 800;
  }
  .vehicleNo{
    text-transform: uppercase;
    background: $normal-grey;
    color: white;
    text-align: center;
  }
  h4 {
    text-transform: uppercase;
    color: $hint-color;
  }

  .trip-code-block {
    background: $royal;
    color: white;
    text-align: center;
    padding-top: $item-padding-base;
    padding-bottom: $item-padding-base * 2;
    > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    h5 {
      text-transform: uppercase;
      color: white;
    }
  }
}

.service-cancellation {
  flex: 1 1 auto;
  .cancellation-content {
    margin: $padding-large-vertical 0;
    text-align: center;
    h2 {
      color: $normal-grey;
      text-align: center;
      font-weight: bold;
      padding: $item-padding-base 0;
    }
    img {
      padding: $line-height-computed 0;
    }
    p {
      text-align: left;
      padding: $padding-base-vertical $padding-base-horizontal;
    }
  }
}

ticket-detail {
  margin: 5px;
  border: 2px solid #BFBFBF;
  border-radius: 15px;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  .item {
    margin: 5px;
    border: none;
  }
}
