
#pg_verify {
  background-color: $stable;

  ion-content {
    @include narrow-content();
  }

  .scroll {
    height: 100%;
    padding: 10px 16px;
    background-color: $stable;
    color: #FFF;
  }

	.overlay {
		width: 100%;
		height: 100%;
		background: url('../img/loader120.gif') no-repeat center top 80px rgba(0,0,0,0.6);
		position: absolute;
		z-index: 5;

		.txt {
			width: 100%;
			text-align: center;
			position: absolute;
			top: 205px;
			font-size: 18px;
		}
	}

	.content {
		width: 100%;
		max-width: 400px;
		padding: 10px 16px;
		margin: 0px auto;

		a {
			color: #e8d16b;
		}
	}

  .telephone {
    color: #FFF;
    font-size: 30px;
    margin: 20px auto 40px auto;
  }

  .msg {
		font-size: 16px;
		text-align: center;

		.num {
			background-color: rgba(0,0,0,0.3);
			padding: 7px;
			font-size: 18px;
			font-weight: bold;
			margin: 5px 0px;
			border-radius: 5px;
		}
	}

  .codebox {
    margin: 45px 0px 45px 0px;
    display: flex;
    flex-direction: row;
    position: relative;

    .err {
      height: 26px;
      width: 100%;
      color: #FFF;
      text-shadow: 1px 1px 1px #333;
      text-align: center;
      line-height: 26px;
      margin-bottom: 5px;
      background-color: rgba(255,50,50,0.7);
      border-radius: 5px;
      position: absolute;
      top: -30px;

      .icon {
        font-size: 24px;
        position: absolute;
      }

      .txt {
        padding-left: 25px;
      }
    }

    .cover {
      width: 100%;
      height: 100%;
      /*background-color: rgba(0,0,0,0.3);*/
      position: absolute;
      z-index: 5;
    }

    .digit {
      width: auto;
      height: 45px;
      font-size: 28px;
      min-width: 0px !important;
      margin: 0px 5px;
      text-align:center;
      line-height: 45px;
      background-color: #FFF;
      color: #000;
      display: inline-block;
      flex-grow: 1;
    }
  }

	.resend {
		font-size: 16px;
		text-align:center;
	}
}
