.welcome-page {
      background: url('../img/welcome-background.png') no-repeat center center fixed;
      background-size: cover;

  .welcome-content {
    h1 {
      margin-top: $padding-large-vertical*2;
      margin-bottom: $padding-large-vertical*3;
      color: $royal
    }

    p {
      margin: $padding-large-vertical*2 $padding-small-horizontal;
      &.small-text{
        text-align: center;
        color: $hint-color;
        font-size: $font-size-small;
      }
    }

    h2 {
      margin-top: $padding-large-vertical*3;
      margin-bottom: $padding-large-vertical*2;
      line-height: 1.5em;
    }

    label.item.item-input.signUp {
      border: 1px solid $border-grey;
    }
  }
}
