$search-bar-radius: 6px;
$search-height: 42px;

#tabs ui-gmap-google-map {
  height: 100%;
}

suggestion-item {
  display: flex;

  .left {
    flex: auto;
  }
  .day-badge {
    display: flex;
    flex-direction: row;

    div {
      background: $light-grey;
      color: $light;
      font-size: $font-size-x-x-small;
      margin-right: 5px;
      width: 15px;
      height: 15px;
      text-align: center;
      border-radius: 2px;
      vertical-align: middle;
      line-height: 15px;
      font-weight: $font-weight-bold;
    }

    div.enabled {
      background: $royal;
    }
  }
  .stops {
    display: block;
    /* Determines the amount of vertical spacing
        between the .bus-number and the stops */
    margin-top: $font-size-base * 0.8;
    position: relative;
    flex: 1 1 auto;

    .stop-icon {
      /* this value depends on the width of the image -- leaving as a constant */
      flex: 0 0 auto;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin-top: $font-size-base / 2;
      margin-right: $font-size-base / 2;
    }

    .start .stop-icon {
      background: #00C4A5;
      /*
        we want line to be:
            - the height of .start (=> height: 100%),
            - displace the left of the line to the middle of the circle
                the image is 10x10 hence left: 4px (to account for width=2px)
            - .start is inline, so it's height = $line-height-computed.
              Image is centered vertically => top = $line-height-computed / 2
              N.B. overflow must be "visible" on .start for this to work
            - positioned relative to the stop icon => .start { position: relative }
      */
    }
    .end .stop-icon {
      background: #FF6C6A;
    }

    .start, .end {
      line-height: $line-height-base;
      position: relative;
      white-space: normal;
      display: flex;

      .road {
        text-transform: capitalize;
        flex: 1 1 auto;
        white-space: initial;
        font-weight: $route-item-font-weight-small;
        color: $normal-grey;
      }
    }

    .end {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .icon-and-schedule {
    margin-top: 0.5em;
    font-weight: $route-item-font-weight-small;

    & + .icon-and-schedule {
      margin-top: 0em;
    }
  }

  .right {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-transform: uppercase;

    .value {
      font-size: 40px;
      line-height: 40px;
      font-weight: $font-weight-bold;
    }
    .suggestions {
      color: $light-grey;
      font-size: $font-size-x-small;
    }
  }
}

.your-suggestions {
  .create-suggestion-btn {
    padding: 20px 0 20px 0;
  }
}

.your-suggestions-detail {
  .header {
    font-size: 20px;
    line-height: 45px;
    font-weight: $font-weight-medium;
    color: $royal;
    text-transform: uppercase;
  }
  
  .delete {
    color: $assertive;
    margin: 25px 0;
    text-align: center;
    text-decoration: underline;
  }
}

.create-new-suggestion {
  background-color: transparent !important;
  pointer-events: none !important;
}

.create-new-suggestion ion-content {
  display: flex;
  flex-direction: column;
  background-color: transparent!important;

  @include desktop {
    top: $bar-height;

    .padding-ticket-subheader {
      padding-top: 70px;
    }

    .padding-routepass-subheader {
      padding-top: 60px;
    }

    .create-view {
      background-color: $stable;
    }
  }

  .stops-selector {
    width: 90%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
  }

  .stops-selector:nth-child(1) {
    top: 20px;
  }
  .stops-selector:nth-child(2) {
    top: 40px;
  }
  .stops-selector:nth-child(3) {
    top: 60px;
  }

  .from-to-bars {
    display: flex;
    flex-direction: column;

    .location-search {
      padding-right: 47px;
    }

    .pickup-location-bar {
      .location-search {
        border-radius: $search-bar-radius $search-bar-radius 0px 0px;
      }
    }
  
    .dropoff-location-bar {
      margin-top: -32px;
      .location-search {
        border-radius: 0px 0px $search-bar-radius $search-bar-radius;
      }
    }
  
    .switch-button {
      padding: 0px;
      width: 0px;
      margin-top: $search-height * -0.5;
      margin-right: -2px;
      color: $royal;
      transform: rotate(90deg);
      background: white;
  
      &.activated {
        opacity: 1;
      }
  
      &:active {
        border-bottom: none;
        box-shadow: none;
      }
  
      .ion-arrow-swap {
        :before {
          line-height: 20px;
        }
      }
    }
  }

  .week-checkbox {
    display: flex;
    background: $light;
  
    div {
      flex-basis: 100%;
    }
  
    ion-label {
      padding: 0;
      width: 100%;
      text-align: center;
    }
  
    label {
      padding: 0;
      display: flex;
      flex-direction: column;
      border: none;
      align-items: center;
      border-radius: 6px;
  
      &.item-checkbox .checkbox {
        position: relative;
        margin: 0;
        top: auto;
        left: auto;
        right: auto;
      }
    }
  }

  @keyframes slide-in-from-bottom {
    0% {
      transform: translateY(900px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .submit-btn {
    position: absolute;
    bottom: 25px;
  }
}
