<div class="item item-text-wrap">
  <div ng-hide="suggestHide">
    Can't find a suitable route?</br>
    <a href="#" ng-click="openSuggestionLink($event)">Suggest a new route</a>
  </div>
  <div class="section powered-by" ng-hide="powerHide">
    Powered by
    <img src="img/poweredbybeeline.svg" />
  </div>
  <div class="section built-by" ng-show="!transportCompanyId && builtByShow">
    <br>
    Built by
    <a href="#" ng-click="openLink($event, 'https://tech.gov.sg')">
      <img
        src="img/govtech_logo.png"
        alt="GovTech"
      >
    </a>
    <div class="developer-list">
      @artylope @chuasweechin @fynyky @huangkaiw3n @joelchoo
      @LoneRifle @shen-xujing @xkjyeah @yongjun21
    </div>
    <a href="#" ng-click="openLink($event, 'https://attribution.beeline.sg/CREDITS.md')">
      Built with open source software
    </a>
  </div>
</div>