# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/lib/beeline/bundle.js
www/lib/beeline/bundle.js.map
www/css/ionic.app.css
www/css/ionic.app.min.css
beeline/env.json
.io-config.json
*.DS_Store

build
.tmp-commit-message
.chcplogin
