<!DOCTYPE html>

<html ng-app="wrs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,
                                   maximum-scale=1,
                                   user-scalable=no,
                                   width=device-width">

    <title>Zooline</title>
    <!-- compiled css output -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href="css/ionic.app.css" rel="stylesheet">
    <!-- qrcode generator -->
  	<script type="text/javascript" src="js/qrcode.min.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/angular-simple-logger.js"></script>
    <script src="js/angular-google-maps.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <!-- ionic/angularjs js -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
    <script src="lib/beeline/bundle.js"></script>
    <script src="lib/beeline/wrs.js"></script>

    <style>
ui-gmap-google-map.angular-google-map {
  display: block;
  position: relative;
}

.angular-google-map-container, div.angular-google-map {
  width: 100%;
  height: 100%;
  position: absolute;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex: 1 1 auto;
}
.flex-shrink {
  flex: 0 0 auto;
}

ion-content .scroll {
  display: flex;
  flex-direction: column;
}
ion-content.overflow-scroll {
  overflow-y: auto;
}
    </style>
  </head>
  <body ng-controller="TrackingCtrl">
    </ion-view>

    <ion-side-menus>
      <ion-side-menu side="left">
        <ion-content>
          Boarding Stops:
          <ion-list>
            <ion-item ng-repeat="tripStop in trip.tripStops | filter:filterBoard track by tripStop.id"
              ng-click="zoomToStop(tripStop)"
              class="item-icon-right item-text-wrap"
              >
              {{tripStop.time | date:'h:mm a'}}<br/>
              {{tripStop.stop.description}}<br/>
              <span ng-if="tripStop.stop.label">{{tripStop.stop.label}}</span><br/>
              {{tripStop.stop.road}}
              <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
          </ion-list>

          Alighting Stops:
          <ion-list>
            <ion-item ng-repeat="tripStop in trip.tripStops | filter:filterAlight track by tripStop.id"
              ng-click="zoomToStop(tripStop)"
              class="item-icon-right item-text-wrap"
              >
              {{tripStop.time | date:'h:mm a'}}<br/>
              {{tripStop.stop.description}}<br/>
              {{tripStop.stop.road}}
              <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>

      <ion-side-menu-content>
        <ion-view>
          <ion-header class="bar bar-header bar-royal">
          <button menu-toggle="left"
            class="button button-icon icon ion-navicon"></button>
            <h1 class="title">
              {{route.label}}:
              {{route.from}} &mdash; {{route.to}}
            </h1>

          </ion-header>

          <ion-content class="content has-header flex-col">
            <span class="flex-shrink">
              Last known position {{map.lastPing.createdAt | relativeTime}}
            </span>
            <ui-gmap-google-map center="map.center"
            										pan="true"
            										zoom="map.zoom"
            										options="map.options"
            										events="map.events"
                                bounds="map.bounds"
                                dragging="map.dragging"
            										control="map.control"
            										data-tap-disabled="true"
                                class="flex-grow"
                                >

        			<ui-gmap-polyline ng-repeat="p in map.lines"
                    path="p.path"
                    stroke="p.stroke"
                    icons="p.icons"
                    ></ui-gmap-polyline>

              <ui-gmap-marker
                ng-if="map.lastPing"
                idkey="'bleh'"
                coords="{
                  latitude: map.lastPing.coordinates.coordinates[1],
                  longitude: map.lastPing.coordinates.coordinates[0],
                }"
                icon="map.busMarker.icon"
                options="map.busMarker.options"
                >
              </ui-gmap-marker>

        			<ui-gmap-markers
                models="map.markers"
                coords="'coords'"
                icon="'icon'"
                options="'options'"
                click="selectStop"
                >
              </ui-gmap-markers>

              <ui-gmap-window
                ng-if="infoStop"
                show="infoStop"
                coords="{
                  latitude: infoStop.stop.coordinates.coordinates[1],
                  longitude: infoStop.stop.coordinates.coordinates[0],
                }"
                >
                <div class="booking-stops-infowindow">
                  <b>{{infoStop.time | formatTime}}</b><br/>
                  {{infoStop.stop.description}}
                  <br>{{infoStop.stop.label}}
                  <br>{{infoStop.stop.road}}
                </div>
              </ui-gmap-window>

            </ui-gmap-google-map>

          </ion-content>
        </ion-view>
      </ion-side-menu-content>
    </ion-side-menus>
  </body>
</html>
