<div class="datepicker"  data-tap-disabled="true">
	<table>
		<thead>
			<tr>
			  <th>Sun</th>
			  <th>Mon</th>
			  <th>Tue</th>
			  <th>Wed</th>
			  <th>Thu</th>
			  <th>Fri</th>
			  <th>Sat</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="week in weeks">
			  <td ng-repeat="day in week"
					ng-click="selectDate(day)"
					ng-class="dateClasses(day)"
					data-date="{{day.date.getTime()}}"

					my-mousedown='beginSelection(day, $event)'
					my-mouseup='endSelection(day, $event)'
					my-mousemove='dragSelection(day, $event)'

					my-touchstart='beginTouch(day, $event)'
					my-touchend='endTouch(day, $event)'
					my-touchmove='moveTouch(day, $event)'
			  >
				{{day.date.getDate()}}
			  </td>
			</tr>
		</tbody>
	</table>
	<div class="monthsel">
		<i class="icon ion-chevron-left prev" ng-click="previousMonth()"></i>

		<div class="mmyyyy-holder">
			<select class="mm" ng-model="startMonth"
				ng-options="i as monthNames[i] for i in displayMonths"
			>
			</select>

			<select class="yyyy" ng-model="startYear"
				ng-options="i for i in displayYears"
			>
			</select>
		</div>

		<i class="icon ion-chevron-right next" ng-click="nextMonth()"></i>
	</div>
</div>
