
<div class="kickstarter-info">
  <p>
    Pre-order a Route Pass that contains 5 trips:
  </p>
  <div class="preorder-pass" ng-hide="passHide">
    <div class="route-pass-header">
      <h3>Route Pass</h3>
    </div>
    <div class="route-pass-body">
      <h1>{{route.notes.noPasses}}</h1>
      <p>trips</p>
      <div class="pass-additional">
      <p>
        <strong>If activated, Route Pass will be valid</strong>
      </p>
      <table>
        <tr>
          <td class="label">
            From
          </td>
          <td>
            <strong>{{route.trips[0].date | date:'dd MMM yyyy'}} ({{route.trips[0].date | date:'EEE'}})</strong>
          </td>
        </tr>
        <tr>
          <td class="label">
            To
          </td>
          <td>
            <strong>{{validTill | date:'dd MMM yyyy'}} ({{validTill | date:'EEE'}})</strong>
          </td>
        </tr>
      </table>
        <p>Valid for any {{route.notes.noPasses}} trips within the 1st month</p>
      </div>
    </div>
  </div>
  <p>
   When <strong>{{route.notes.tier[0].pax}} people</strong> pre-order the Route Pass, this route will activate.
  </p>
  <p>
      Payment for the <strong>Route Pass</strong> will only be deducted at the end of the campaign if the route meets this goal. Thereafter, you will receive the Route Pass for the activated route and you can <strong>book any {{route.notes.noPasses}} trips within the 1st month</strong>.
  </p>

  <p>
      If the route is activated, it will
  </p>
  <div class="features">
    <ul>
      <li>
      run every Mon - Fri, except public holidays
      </li>
      <li>
      operate for at least a month.
      </li>
    </ul>
  </div>
  <p>
    <span ng-if="route.daysLeft && route.daysLeft>1">This campaign ends in {{route.daysLeft}} days on <b>{{route.notes.lelongExpiry | date:'dd MMM yy'}}</b>. Your card will not be charged if the route does not activate by then. </span>
    <span ng-if="route.daysLeft && route.daysLeft==1">This campaign ends in {{route.daysLeft}} day on <b>{{route.notes.lelongExpiry | date:'dd MMM yy'}}</b>. Your card will not be charged if the route does not activate by then. </span>
    <span ng-if="!route.daysLeft">This campaign has ended.</span>
  </p>
  <p>
    You will be notified via email about the route status as well.
  </p>
  <p ng-if="route.notes.tier[0].count >= route.notes.tier[0].pax">You can still pre-order this pass even though the goal has been met to activate this route. Like the other people who pre-order, you will receive the Route Pass when the campaign ends.</p>
</div>
