
<div class="kickstarter-info">
  <p ng-hide="preorderHide">
    Pre-order a Route Pass that contains {{route.notes.noPasses}} trips:
  </p>
  <div class="preorder-pass" ng-hide="passHide">
    <div class="route-pass-header">
      <h3>Route Pass</h3>
    </div>
    <div class="route-pass-body">
      <route-item>
        <route-item-bus-number>
          {{route.label }}
        </route-item-bus-number>
      </route-item>

        <h1>{{route.notes.noPasses}}</h1>
        <h4>trips</h4>

      <div class="pass-additional">
        <table>
          <tr>
            <td class="label">
              Per Trip
            </td>
            <td>
              <strong>$ {{route.notes.tier[0].price | number: 2}}</strong>
            </td>
          </tr>
          <tr>
            <td class="label">
            Total Price
            </td>
            <td>
              <strong>$ {{route.notes.noPasses*route.notes.tier[0].price | number: 2}}</strong>
            </td>
          </tr>
        </table>
      <p class="pass-condition">
        If activated, Route Pass will be valid
      </p>
      <table>
        <tr>
          <td class="label">
            From
          </td>
          <td>
            <strong>{{route.trips[0].date | date:'dd MMM yyyy'}} ({{route.trips[0].date | date:'EEE'}})</strong>
          </td>
        </tr>
        <tr>
          <td class="label">
            To
          </td>
          <td>
            <strong>{{validTill | date:'dd MMM yyyy'}} ({{validTill | date:'EEE'}})</strong>
          </td>
        </tr>
      </table>
        <p>For any {{route.notes.noPasses}} trips of the activated route. Operates Mon-Fri, except Public Holidays. </p>
      </div>
    </div>
  </div>
  <p>
   When <strong>{{route.notes.tier[0].pax}} people</strong> pre-order the Route Pass, this route will activate.
  </p>
  <p>
      When the campaign ends, payment for the <strong>Route Pass</strong> will be deducted if the route is activated. Thereafter, you will receive the Route Pass within a week and you can use it to <strong>book any {{route.notes.noPasses}} trips on the route.</strong>.
  </p>
  <p>
    <span ng-if="route.daysLeft && route.daysLeft>1">This campaign ends in {{route.daysLeft}} days on <b>{{route.notes.lelongExpiry | date:'dd MMM yy'}}</b>. You will not be charged if the route does not activate.</span>
    <span ng-if="route.daysLeft && route.daysLeft==1">This campaign ends in {{route.daysLeft}} day on <b>{{route.notes.lelongExpiry | date:'dd MMM yy'}}</b>. You will not be charged if the route does not activate.</span>
    <span ng-if="!route.daysLeft">This campaign has ended.</span>
  </p>
  <p ng-if="route.notes.tier[0].count >= route.notes.tier[0].pax" ng-hide="preorderHide">You can still pre-order this pass even though the goal has been met to activate this route. Like the other people who pre-order, you will receive the Route Pass when the campaign ends.</p>
</div>
