<div class="lite-route-stop">
  <div class="left">
    <div class="main">
      <div class="description">{{ stop.description }}</div>
      <div>{{ stop.road }}</div>
      <div ng-if="stopTypeText" class="stop-type" ng-class="{ board: stop.canBoard }">
        <i class="fas fa-circle"></i>
        {{ stopTypeText }}
      </div>
    </div>
    <div ng-if="current === index" class="secondary">

      <div class="row" ng-repeat="row in times">
        <div ng-class="{ before: item < currentTime, current: item === after[0] }" class="col" ng-repeat="item in row">
          {{ item.tz("Asia/Singapore").format("h:mm a") }}
        </div>
      </div>

    </div>
  </div>
  <div class="right">
    <div ng-if="after && after.length > 0">{{ after[0].format("h:mm a") }}</div>
  </div>
</div>