<route-item>
  <route-item-bus-number>
    {{ route.label }}
  </route-item-bus-number>
  <route-item-description>
    {{ route.notes.description }}
  </route-item-description>
  <route-item-start-time>
    {{ route | routeStartTime | formatTime:true }}
  </route-item-start-time>
  <route-item-start-location>
    {{ route.from }}
  </route-item-start-location>
  <route-item-end-time>
    {{ route | routeEndTime | formatTime:true }}
  </route-item-end-time>
  <route-item-end-location>
    {{ route.to }}
  </route-item-end-location>
  <route-item-additional-info>

    <progress-bar backer1="route.notes.tier[0].count " price1="route.notes.tier[0].price"
      pax1="route.notes.tier[0].pax" needed="route.notes.tier[0].moreNeeded"
      ng-if="!route.isConverted">
    </progress-bar>

    <company-info-broker company-id="route.transportCompanyId"
                          company="companyInfo">
    </company-info-broker>
    <div class="icon-and-schedule">
      <span class="icon-span company-logo">
        <img class="mini-icon" ng-src="{{route.transportCompanyId | miniCompanyLogo}}">
      </span>
      <span class="mini-info">
        {{companyInfo.name}}
      </span>
    </div>

    <div class="icon-and-schedule">
      <span class="icon-span">
          <img class="mini-icon" src="img/icon_kickstarter_timeleft.svg">
        </span>
      <span class="mini-info" ng-if="route.daysLeft && route.daysLeft>1">
          Campaign ends in {{route.daysLeft}} days
        </span>
      <span class="mini-info" ng-if="route.daysLeft && route.daysLeft==1">
          Campaign ends in {{route.daysLeft}} day
        </span>
      <span class="mini-info" ng-if="route.isExpired">
          Campaign has expired
        </span>
    </div>
    <div class="icon-and-schedule">
      <span class="icon-span">
          <img class="mini-icon" src="img/icon_schedule.svg">
        </span>
      <span class="mini-info">
          Route starts on {{route.trips[0].date | date:'dd MMM yyyy' : 'Z'}} if activated
        </span>
    </div>

    <div class="icon-and-schedule item-text-wrap">
      <span class="icon-span">
          <img class="mini-icon" src="img/icon_kickstarter_status.svg">
        </span>
      <span class="mini-info">
          {{route.status}}
        </span>
    </div>
    <div class="icon-and-schedule" ng-if="bids[route.id]">
      <span class="icon-span">
        <img class="mini-icon" src="img/icon_kickstarter_activebid.svg">
      </span>
      <span class="mini-info">
          You pre-ordered a Route Pass for {{route.notes.noPasses}} trips.
        </span>
    </div>

  </route-item-additional-info>
</route-item>
