<ion-modal-view class="search-page">

  <ion-header-bar class="bar-light bar bar-header">
    <h1 class="title">Search Routes</h1>
    <button class="button button-clear icon ion-ios-close-outline" ng-click="closeModal()">
    </button>
  </ion-header-bar>

  <ion-content scroll="false">
    <div class="search-input-bar">
      <div class="location-search item item-icon-left">
        <i class="icon pickup-stop" ng-if="type === 'pickup'"></i>
        <i class="icon dropoff-stop" ng-if="type === 'dropoff'"></i>
        <div class="input-box">
          <input
            placeholder="{{ placeholder }}" 
            ng-model="data.input"
            ng-keyup="$event.keyCode === 13 && submit()"
            >
        </div>
        <ion-spinner ng-show="isFiltering"></ion-spinner>
        <i
          ng-show="!isFiltering && data.input"
          class="ion-android-close"
          on-tap="clearInput()"
        ></i>
      </div>
    </div>

    <ion-content scroll="true" class="search-results" touch-start="hideKeyboard()">
      <div
        ng-repeat="result in results"
        class="item location-result"
        on-tap="select(result)"
      >
        {{ result.ADDRESS }}
      </div>
      <div ng-if="!data.input">
        <div ng-if="data.myLocation">
          <div
            class="item item-divider"
          >
            Use My Location
          </div>
          <div
            ng-if="data.myLocation"
            class="item location-result"
            on-tap="selectMyLocation()"
          >
            {{ data.myLocation.BUILDINGNAME || data.myLocation.ROAD }}
          </div>
        </div>
        <div
          class="item item-divider"
        >
          Popular Searches
        </div>
        <div
          ng-repeat="result in defaultResults"
          class="item location-result"
          on-tap="select(result)"
        >
          {{ result.ADDRESS || result }}
        </div>
      </div>
    </ion-content>
  </ion-content>
</ion-modal-view>
