<div class="progress-bar">
  <!-- price label starts -->
  <div class="bar-label-default" ng-if="detail">
    <div class="bar-100">
      <div class="price-label" ng-class="{activated: needed==0}">
        <div class="ride-price">${{price1| number:2}}</div>
        <div class="per-ride">per trip</div>
      </div>
    </div>
  </div>
  <!-- price label ends -->

  <!-- dynamic bar starts -->
  <div class="backer-progress">
    <div class="backer-high" ng-style="{
             width: (percentage * 100) + '%',
             }">
    </div>
  </div>
  <!-- dynamic bar starts -->

  <!-- default base bar starts -->
  <div class="bar-default" ng-style="{
              width: (pax1/pax1)*100 + '%'}">
    <div class="start-marker" ng-class="{started: backer1>0}"></div>
    <div class="bar-100">
      <div class="milestone">
        <div class="milestone-outline"  ng-class="{reached: needed==0}">
          <div class="milestone-inset"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- default base bar ends -->

  <!-- dynamic join starts here -->
  <div ng-if="detail" class="high-joined" ng-style="{
            width:
(backer1/pax1)*200 + '%',
            }">
      <span class="line"></span>
      <div>{{backer1}} pax<br />pre-ordered</div>
  </div>

  <!-- dynamic join line ends here -->

  <!-- number needed section start -->
  <div ng-if="detail" class="needed-label-default">
    <!-- full mark -->
    <div class="bar-100">
        <div class="needed-label">
        <span class="line"></span>
        <div>{{needed}} more</div>
        <div>pax needed</div>
      </div>
    </div>
  <!-- number needed section ends -->
</div>
