<ion-modal-view class="stop-selector">
  <ion-header-bar class="bar bar-royal">
    <h1 class="title">
      {{title}}
    </h1>
    <button class="button button-clear icon ion-ios-close-outline"
        ng-click="closeStopSelectModal()">
   </button>
  </ion-header-bar>

  <ion-content scroll="false">
    <div class="map-area">
      <ui-gmap-google-map center="map.center"
                          zoom="map.zoom"
                          bounds="map.bounds"
                          control="map.control"
                          options="map.options"
                          data-tap-disabled="true">
        <ui-gmap-marker ng-repeat="stop in busStops"
                        idkey="stop.id"
                        coords="{
                          latitude: stop.coordinates.coordinates[1],
                          longitude: stop.coordinates.coordinates[0],
                        }"
                        options="markerOptions"
                        ng-click="selectStop($event, stop)"></ui-gmap-marker>

        <ui-gmap-marker ng-if="selectedStop"
                        idkey="'selectedStopPin'"
                        coords="{
                          latitude:  selectedStop.coordinates.coordinates[1],
                          longitude: selectedStop.coordinates.coordinates[0],
                        }"
                        options="pinOptions">
        </ui-gmap-circle>
      </ui-gmap-google-map>
    </div>

    <div class="item item-divider num-stops">{{busStops.length}} stops available</div>

    <ion-scroll class="stops-list">
      <ion-list>
        <ion-radio  ng-repeat="stop in busStops"
                    ng-model="model"
                    ng-value="stop.id"
                    ng-click="selectStop($event, stop)"
                    class="item-text-wrap item-icon-left"
                    icon="icon ion-ios-checkmark">
          <div class="fullStopDetails">
            <div class="time">{{stop.time | formatTime}}</div>
            <div class="details">
              <div class="description">{{stop.description}}</div>
              <div class="road">{{stop.road}}</div>
            </div>
          </div>
        </ion-radio>
      </ion-list>
    </ion-scroll>

    <div class="item select-button">
      <button class="button primary-button button-item"
              ng-disabled="!model"
              ng-click="selectStop($event, selectedStop)">
        {{title}}
      </button>
    </div>

  </ion-content>
</ion-modal-view>
