<div class="item item-icon-right bus-stop-selector"
     editable="false"
     ng-click="showList()">
  <select ng-options="stop.id as (formatTime(stop.time) + ' - ' + stop.description + ' ' + stop.road) for stop in busStops"
          ng-model="model"
          ng-required="ngRequired"
          name="name"
          hidden
          aria-hidden="true">
  </select>
  <span class="stop-icon"></span>
  <span ng-if="!selectedStop" class="placeholder">
    {{placeholder}}
  </span>
  <span ng-if="selectedStop">
    {{displayFn(selectedStop)}}
  </span>
  <i class="icon ion-ios-arrow-down"></i>
</div>
