<ion-modal-view class="stop-selector has-subheader">
  <ion-header-bar class="bar bar-stable">
    <h1 class="title">
      {{title}}
    </h1>
    <button class="button button-clear icon ion-android-close"
        ng-click="closeStopSelectModal()">
   </button>
  </ion-header-bar>

  <div class="bar bar-subheader">
    <ui-gmap-google-map
      center="map.center"
      zoom="map.zoom"
      bounds="map.bounds"
      control="map.control"
      options="map.options"
      data-tap-disabled="true"
    >
      <ui-gmap-marker
        ng-repeat="stop in busStops"
        idkey="stop.id"
        coords="{
          latitude: stop.coordinates.coordinates[1],
          longitude: stop.coordinates.coordinates[0],
        }"
        options="markerOptions"
        ng-click="selectStop($event, stop)"
      ></ui-gmap-marker>

      <ui-gmap-marker
        ng-if="selectedStop"
        idkey="'ohhalalala'"
        coords="{
          latitude:  selectedStop.coordinates.coordinates[1],
          longitude: selectedStop.coordinates.coordinates[0],
        }"
        options="pinOptions">
      </ui-gmap-circle>
    </ui-gmap-google-map>
    <div class="ion-list-header">{{busStops.length}} stops available</div>
  </div>

  <ion-content class="big-container">
    <ion-list class="stops-list">
      <ion-radio
          ng-repeat="stop in busStops"
          ng-model="model"
          ng-value="stop.id"
          ng-click="selectStop($event, stop)"
          >
        <div class="time">{{stop.time | formatTime}}</div>
        <div class="details">
          <div>{{stop.description}}</div>
          <div>{{stop.road}}</div>
        </div>
      </ion-radio>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <div class="buttons">
      <button class="button button-block button-positive"
              ng-disabled="!model"
              ng-click="selectStop($event, selectedStop)"
      >
        {{title}}
      </button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
