<div class="item item-icon-right bus-stop-selector"
     ng-click="showList()">
  <select ng-options="stop.id as (formatTime(stop.time) + ' - ' + stop.description + ' ' + stop.road) for stop in busStops"
          ng-model="ngModel"
          ng-required="ngRequired"
          name="name"
          hidden
          aria-hidden="true">
  </select>
  <span class="stop-icon"></span>
  <span ng-if="!ngModel" class="placeholder">
    {{placeholder}}
  </span>
  <span ng-if="ngModel">
    {{ngModel.time | formatTime}}&nbsp;&nbsp;{{ngModel.description}}
  </span>
  <i class="icon ion-ios-arrow-down"></i>
</div>
