<div>
  <!-- START: All routes -->
  <!-- hide it if search bar is not empty -->
  <div class="item item-divider" ng-if="data.mixedRoutes.length > 0">
    Routes
  </div>
  <!-- hide route item if search bar is not empty -->
  <ion-item
    ng-repeat="route in data.mixedRoutes track by route.id"
    class="item-text-wrap"
  >
    <regular-route
      route="route"
      ng-if="!route.tags.includes('crowdstart') && !route.tags.includes('lite')" 
      ui-sref="tabs.route-detail({ routeId: route.id})">    
    </regular-route>
    <crowdstart-route
      route="route"
      ng-if="route.tags.includes('crowdstart')"
      ui-sref="tabs.crowdstart-detail({ routeId: route.id })">
    </crowdstart-route>
    <lite-route
      route="route"
      ng-if="route.tags.includes('lite')"
      ui-sref="tabs.lite-detail({ label: route.label })">
    </lite-route>
  </ion-item>
  <!-- END: All routes -->

  <div ng-hide="suggestHide" class="item text-center item-text-wrap suggest-route">
    <!-- No results found message -->
    <div
      ng-if="disp.routes.length === 0 &&
            disp.liteRoutes.length === 0 &&
            disp.crowdstartRoutes.length === 0"
      class=""
    >
      Sorry, we could not find any routes matching your search query.
    </div>
    <div
      ng-if="disp.routes.length !== 0 ||
            disp.liteRoutes.length !== 0 ||
            disp.crowdstartRoutes.length !== 0"
    >
      Can't find a suitable route?
    </div>

    <button
      class="primary-button" 
      ui-sref="tabs.create-new-suggestion({
        pickUpLocation: data.pickUpLocation,
        dropOffLocation: data.dropOffLocation,
      })"
    >
      Suggest a new route
    </button>
  </div>
</div>
