<div ng-if="disp.searchRoutes">
  <!-- Available Routes Section -->
  <div
    class="item item-divider"
    ng-if="data.filteredLiteRoutes.length > 0 || data.filteredRoutes.length > 0"
  >
    Available Routes
  </div>
  <ion-item
    ng-repeat="route in data.filteredRoutes | limitTo:30 track by route.id"
    ui-sref="tabs.route-detail({ routeId: route.id })"
    class="item-text-wrap"
  >
    <regular-route route="route"></regular-route>
  </ion-item>

  <!-- Available Lite Routes Section -->
  <ion-item
    ng-repeat="route in data.filteredLiteRoutes | limitTo:10 track by route.id"
    ui-sref="tabs.lite-detail({ label: route.label })"
  >
    <lite-route route="route"></lite-route>
  </ion-item>

  <!-- Available Crowdstart Routes -->
  <div
    class="item item-divider"
    ng-if="data.filteredCrowdstartRoutes.length > 0"
  >
    Crowdstart Routes
  </div>
  <ion-item
    ng-repeat="route in data.filteredCrowdstartRoutes | limitTo:30 track by route.id"
    class="item-text-wrap item-icon-right"
    ui-sref="tabs.crowdstart-detail({ routeId: route.id})"
  >
    <kickstart-route route="route"></kickstart-route>
  </ion-item>
  <powered-by-beeline></powered-by-beeline>
  <!-- No results found message -->
  <p
    ng-if="data.filteredRoutes.length === 0 &&
          data.filteredLiteRoutes.length === 0 &&
          data.filteredCrowdstartRoutes.length === 0"
    class="not-found-message text-center"
  >
    Sorry, we could not find any routes matching.
  </p>
</div>
