
<div ng-if="disp.yourRoutes">
  <!-- if you has no routes -->
  <div class="item item-text-wrap no-items"
      ng-if="!hasPersonalRoutes()">
    <img src="./img/bgTickets.svg"></img>
    <h2>No Personal Routes</h2>
    <button class="primary-button" ui-sref="tabs.routes">
      Search For Routes
    </button>
  </div>

  <!-- START: Recently Booked Routes Section -->
  <div class="item item-divider" ng-if="data.routesWithRidesRemaining.length > 0
                     || data.recentRoutes.length > 0">
    Your Recently Booked Routes
  </div>
  <ion-item
    ng-repeat="route in data.routesWithRidesRemaining | limitTo:10 track by route.id"
    ui-sref="tabs.route-detail({
      routeId: route.id
    })"
    ng-if="data.routesWithRidesRemaining.length > 0"
  >
    <regular-route route="route"></regular-route>
  </ion-item>
  <ion-item
    ng-repeat="route in data.recentRoutes | limitTo:10 track by route.id"
    ng-if="data.recentRoutes.length > 0"
    ui-sref="tabs.route-detail({
      routeId: route.id,
      pickupStopId:  route.boardStopStopId,
      dropoffStopId: route.alightStopStopId,
    })"
    class="item-text-wrap"
  >
    <regular-route route="route"></regular-route>
  </ion-item>
  <!-- END: Recently Booked Routes Section -->

  <!-- START: Crowdstart Routes Section -->
  <div
    class="item item-divider"
    ng-if="data.backedCrowdstartRoutes.length > 0"
  >
    Your Crowdstart Pre-orders
  </div>
  <ion-item
    ng-repeat="route in data.backedCrowdstartRoutes | limitTo:10 track by route.id"
    ng-if="data.backedCrowdstartRoutes.length > 0"
    class="item-text-wrap"
    ui-sref="tabs.crowdstart-detail({ routeId: route.id })">
    <kickstart-route route="route"></kickstart-route>
  </ion-item>
  <!-- END: Crowdstart Routes Section -->

  <!-- START: Bookmarked Tracking Routes Section -->
  <div class="item item-divider" ng-if="data.subscribedLiteRoutes.length > 0">
    Your Bookmarked Tracking Routes
  </div>
  <ion-item
    ng-repeat="route in data.subscribedLiteRoutes | limitTo:10 track by route.label"
    ng-if="data.subscribedLiteRoutes.length > 0"
    ui-sref="tabs.lite-detail({
      label: route.label
    })"
    class="item-text-wrap"
  >
    <lite-route route="route"></lite-route>
  </ion-item>
  <!-- END: Bookmarked Tracking Routes Section -->

</div>
