<div id="price-calculator">
  <!--Selected Dates<br>-->
  <div><b>{{booking.selectedDates.length}} day(s)</b> were selected.</div>
  <div class="item-subtitle">Selected Dates </div>
  <div ng-show="isCalculating" class="spinner-block">
    <ion-spinner></ion-spinner>
    Calculating prices...
  </div>
  <table class="booking-info prices">
    <thead>
      <tr ng-if="booking.selectedDates.length != 0">
        <th>Selected Dates</th>
        <th>
          Price per trip
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="booking.selectedDates.length == 0">
        <td colspan="2">Please select your trip dates</td>
      </tr>
      <tr ng-if="errorMessage">
        <td colspan="2" class="text-left">
          <i class="icon ion-alert-circled padding-right"></i> {{errorMessage}}
        </td>
      </tr>
      <tr ng-if="booking.selectedDates.length > 0" ng-repeat="pinfo in priceInfo.pricesPerTrip">
        <td>
          {{pinfo.startDate | date:'dd MMM (EEE)'}}
          <div ng-if="pinfo.bookingInfo.notes" class="trd ip-notes">
            <i class="ionicon ion-information-circled"></i> {{pinfo.bookingInfo.notes}}
          </div>
        </td>
        <td>${{pinfo.price | number:2}}</td>
      </tr>
    </tbody>
  </table>

  <table class="booking-info prices" ng-if="booking.selectedDates.length > 0">
    <tbody>
      <tr>
        <th>Total Trips</th>
        <!-- <th>Passengers</th> -->
        <th>Total Amount</th>
      </tr>
      <tr>
        <td>{{priceInfo.tripCount || 0}}</td>
      <!--   <td>1</td> -->
        <td>{{(priceInfo.totalBeforeDiscount || 0) | currency}}</td>
      </tr>
    </tbody>
  </table>

<!--   <div class="promoCredits" ng-if="showCredits &&
    ( (booking.route.ridesRemaining && booking.route.ridesRemaining > 0) ||
      (userCredits && userCredits > 0) ||
      (referralCredits && referralCredits > 0)
    )">
    <div class="item-subtitle">Credits and Route Pass</div>
    <ul class="list">
      <ion-toggle ng-model="booking.useRouteCredits" toggle-class="toggle-royal" ng-if="booking.route.ridesRemaining && booking.route.ridesRemaining > 0">
        Use my Route Pass ({{ booking.route.ridesRemaining }} trips remaining)
      </ion-toggle>
      <ion-toggle ng-model="booking.useReferralCredits" toggle-class="toggle-royal" ng-if="referralCredits && referralCredits > 0">
        Use my Welcome Credits ({{ referralCredits || 0 | currency}} remaining)
      </ion-toggle>
      <ion-toggle ng-model="booking.applyCredits" toggle-class="toggle-royal" ng-if="userCredits && userCredits > 0">
        Use my General Credits ({{ userCredits || 0 | currency}} remaining)
      </ion-toggle>


      <li class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Enter Promo Code">
        </label>
        <button type="submit" class="button button-royal small-button">
          Apply
        </button>
      </li>
    </ul>
  </div> -->
  <div class="item-subtitle">Amount to Pay </div>
  <table class="booking-info calculator" ng-if="booking.selectedDates.length > 0">
    <tbody>
      <tr>
        <td>Total Amount</td>
        <td class="right">{{(priceInfo.totalBeforeDiscount || 0) | currency}}</td>
      </tr>
      <tr ng-if="priceInfo.routeCredits && priceInfo.routeCredits.length > 0" ng-repeat="routeCredit in priceInfo.routeCredits">
        <td>Route pass - Using {{ ridesUsed }} of {{ booking.route.ridesRemaining}} trips remaining</td>
        <td class="right">{{(-routeCredit.debit || 0) | currency}}</td>
      </tr>
      <tr ng-if="priceInfo.referralCredits && priceInfo.referralCredits.length > 0" ng-repeat="referralCredit in priceInfo.referralCredits">
        <td>Welcome Credits (use for up to 50% of the remaining transaction)<br />Using {{ referralCredit.debit || 0 | currency }} of {{ referralCredits || 0 | currency }}</td>
        <td class="right">{{(-referralCredit.debit || 0) | currency}}</td>
      </tr>
      <tr ng-if="priceInfo.credits && priceInfo.credits.length > 0" ng-repeat="credits in priceInfo.credits">
        <td>Credits - Using {{ credits.debit || 0 | currency }} of {{ userCredits || 0 | currency }} </td>
        <td class="right">{{(-credits.debit || 0) | currency}}</td>
      </tr>
      <tr ng-if="priceInfo.discounts && priceInfo.discounts.length > 0" ng-repeat="discount in priceInfo.discounts">
        <td>{{discount.discount.description}}: {{discount.discount.code}}</td>
        <td class="right">
          {{(-discount.debit || 0) | currency}}
        </td>
      </tr>
      <tr>
        <td class="total-sum" ><b>Total Amount Due</b></td>
        <td class="total-sum right"><b>{{ (priceInfo.totalDue || 0) | currency}}</b></td>
      </tr>
      <!-- FIXME: include vouchers, discounts here -->
    </tbody>
  </table>
</div>
