<div id="price-calculator">
  <div ng-show="isCalculating" class="spinner-block">
    <ion-spinner></ion-spinner>
    Calculating prices...
  </div>

  <table class="booking-info calculator" ng-if="booking.selectedDates.length > 0">
    <tbody>
      <tr>
        <td>{{booking.selectedDates.length}} Ticket{{ booking.selectedDates.length > 1 ? 's' : '' }}{{booking.price ? ' x ' + (booking.price | currency) : ''}}</td>
        <td class="right">{{(priceInfo.totalBeforeDiscount || 0) | currency}}</td>
      </tr>
      <tr ng-if="priceInfo.routePass && priceInfo.routePass.length > 0">
        <td>Using {{ ridesUsed }} route pass{{ ridesUsed > 1 ? 'es' : '' }}</td>
        <td class="right">{{totalRoutePassesUsed | currency}}</td>
      </tr>
      <tr ng-if="priceInfo.discounts && priceInfo.discounts.length > 0" ng-repeat="discount in priceInfo.discounts">
        <td>
          {{discount.discount.description}}<span ng-if="booking.promoCode">: {{discount.discount.code}}
          <i class="icon ion-close-circled" ng-click="removePromoCode()"></i></span>
        </td>
        <td class="right">
          {{(-discount.debit || 0) | currency}}
        </td>
      </tr>
      <tr ng-if="priceInfo.referralCredits && priceInfo.referralCredits.length > 0" ng-repeat="referralCredit in priceInfo.referralCredits">
        <td>Welcome Credits (use for up to 50% of the remaining transaction)<br />Using {{ referralCredit.debit || 0 | currency }} of {{ referralCredits || 0 | currency }}</td>
        <td class="right">{{(-referralCredit.debit || 0) | currency}}</td>
      </tr>
      <tr ng-if="priceInfo.credits && priceInfo.credits.length > 0" ng-repeat="credits in priceInfo.credits">
        <td>Credits - Using {{ credits.debit || 0 | currency }} of {{ userCredits || 0 | currency }} </td>
        <td class="right">{{(-credits.debit || 0) | currency}}</td>
      </tr>
      <tr>
        <td class="total-sum left" ><b>Total</b></td>
        <td class="total-sum right"><b>{{ (priceInfo.totalDue || 0) | currency}}</b></td>
      </tr>
      <!-- FIXME: include vouchers, discounts here -->
    </tbody>
  </table>
</div>
