<div class="coinfo">
  <h4>Operated By:</h4>
  <div class="contact">
    <img ng-src="{{company.id | companyLogo}}">
    <div class="name">{{company.name}}</div>
    <div class="email">{{company.email}}</div>
  </div>
</div>
<div>
  <h4>Features</h4>
  <ul>
    <li ng-repeat="feature in company.featuresParsed track by $index">
      {{feature.txt}}
    </li>
  </ul>

  <div class="sign">
    <div class="img">Signage example:
    <img ng-src="img/terms-sign.png" width="200" class="signage-example"></div>
    Please look out for the Beeline sign at the front of the bus.
    <div class="clear"></div>
  </div>
  <div class="item"
      ng-click="showTerms()">
    Terms and Conditions of Booking
    <a class="item-icon-right">
      <i class="icon ion-ios-arrow-right"></i>
    </a>
  </div>
</div>
