<ion-modal-view class="stop-selector">
  <ion-header-bar class="bar bar-royal">
    <h1 class="title">
      {{title}}
    </h1>
    <button class="button button-clear icon ion-ios-close-outline"
        ng-click="close()">
   </button>
  </ion-header-bar>

  <ion-content class="stops-list-main" scroll="false">
    <div class="map-area">
      <ui-gmap-google-map center="map.center"
                          zoom="map.zoom"
                          bounds="map.bounds"
                          control="map.control"
                          options="map.options"
                          data-tap-disabled="true">
        <my-location></my-location>
        <ui-gmap-marker ng-repeat="stop in busStops"
                        idkey="stop.id"
                        coords="stop.coordinates"
                        options="markerOptions"
                        ng-click="selectStop($event, stop)">
        </ui-gmap-marker>

        <ui-gmap-marker ng-if="data.selectedStop"
                        idkey="'selectedStopPin'"
                        coords="data.selectedStop.coordinates"
                        options="pinOptions">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>

    <div class="item item-divider num-stops">{{busStops.length}} stops available</div>

    <ion-content class="stops-list" delegate-handle="stopsListScroll">
      <ion-list>
        <ion-radio  ng-repeat="stop in busStops"
                    ng-model="data.selectedStop"
                    ng-value="stop"
                    class="item-text-wrap item-icon-left"
                    icon="icon ion-ios-checkmark">
          <i class="icon ion-ios-circle-outline not-selected" ng-show="data.selectedStop !== stop"></i>
          <div class="fullStopDetails">
            <div class="time">{{stop.time | formatTime}}</div>
            <div class="details">
              <div class="description">{{stop.description}}</div>
              <div class="road">{{stop.road}}</div>
            </div>
          </div>
        </ion-radio>
      </ion-list>
    </ion-content>

    <div class="item select-button">
      <button class="button primary-button button-item"
              ng-disabled="!data.selectedStop"
              ng-click="close()">
        {{title}}
      </button>
    </div>

  </ion-content>
</ion-modal-view>
