<ion-modal-view>
  <ion-header-bar class="bar-royal bar bar-header">
    <h1 class="title">Contact Us</h1>
    <button class="button button-clear icon ion-ios-close-outline" ng-click="contactUsModal.hide()">
    </button>
  </ion-header-bar>
  <ion-content>
    <ion-item class="item item-text-wrap">
      <div class="settings-modal">
        <p>
          If you face any issues with the app or have suggestions that can help us improve {{o.APP.NAME}}, please contact us at:
        </p>
        <div ng-show="o.CONTACTS.PHONE">{{o.CONTACTS.PHONE}}</div>
        <div beeline-bind-html="contactus.feedbackEmail"></div>
        <div beeline-bind-html="contactus.grabUrl"></div>
      </div>
    </ion-item>
  </ion-content>
</ion-modal-view>
