<ion-modal-view>
  <ion-header-bar class="bar-royal bar bar-header">
    <h1 class="title">Contact Us</h1>
    <button class="button button-clear icon ion-android-close"
        ng-click="contactUsModal.hide()">
   </button>
  </ion-header-bar>
  <ion-content>
    <ion-item class="item item-text-wrap">
    <br />
    <p>
    For feedback, business enquiries, and any other matters, contact us at:
    </p>
    <br />
    <p class="text-center">feedback@beeline.sg</hp>
    <br />
  </ion-item>
  </ion-content>
</ion-modal-view>
