<ion-modal-view>
  <ion-header-bar class="bar-royal bar bar-header">
    <h1 class="title">FAQ</h1>
    <button class="button button-clear icon ion-ios-close-outline" ng-click="faqModal.hide()">
    </button>
  </ion-header-bar>
  <ion-content class="faq">
    <div class="item item-divider">
      About Beeline
    </div>
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        What is Beeline?
      </p>
      <p class="answer">Beeline is Singapore’s first marketplace for crowdsourced bus services. Our bus routes are derived from insights that we obtain from analysing transportation data and community demand. Private bus operators can make use of these findings to bring
        convenient, comfortable and direct transportation alternative to those who want them the most, at affordable prices.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        What makes the Beeline marketplace different?
      </p>
      <p class="answer">We understand that finding comfortable transportation to work or school can be stressful, and we think that there should be an easier way. With the Beeline marketplace, operators can list their services and make them available to you instantly.</p>
      <ul class="answer">
        <li>Ultimately, we want Beeline to be</li>
        <li><strong>Adaptive</strong> - Our routes should adjust based on your demand</li>
        <li><strong>Affordable</strong> - A ride on Beeline should cost you less than a taxi ride</li>
        <li><strong>Comfortable</strong> - Rides on Beeline should be fast and direct</li>
        <li><strong>Convenient</strong> - You can book in advance and pay for your trip via the mobile app</li>
        <li><strong>Dependable</strong> - Know when your bus arrives with GPS Tracking</li>
        <li><strong>Empowering</strong> - User suggested routes activated by community demand</li>
      </ul>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Does Beeline run buses of its own?
      </p>
      <p class="answer">No, Beeline does not run any buses. We simply provide a matching and booking platform, and our partner bus operators decide which routes to service and how much each ride will cost.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        How can I view the available routes and book a ride?
      </p>
      <p class="answer">You can view the list of bus routes available via the Beeline app. </p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        What if there is no routes suitable for me?
      </p>
      <p class="answer">You can suggest a route by doing so at our website <a class="link royal" href="https://www.beeline.sg" target="_blank">www.beeline.sg</a>.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Can I request more than one route, or the same route at a different time?
      </p>
      <p class="answer">Yes, definitely. Being a demand-driven, shared transit marketplace, your feedback to beeline.sg will shape the routes made available. But please note that activation of routes depends on actual demand and whether participating bus companies are
        willing to run each route.</p>
    </div>
    <!-- question end -->
    <div class="item item-divider">
      Booking and Pricing
    </div>
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        How much does one ride cost?
      </p>
      <p class="answer">Prices will be determined by participating bus operators, and they may vary by route. Please check the Beeline app for details.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        What days do the bus services operate on?
      </p>
      <p class="answer">Most bus services operate on weekdays, Mondays to Fridays, except Public Holiday. Schedule for each service is clearly listed on the app. You will only be able to book the days that the bus service is running.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Will there be discounts if I book more trips?
      </p>
      <p class="answer">Not at the moment. We are working to bring you new features and better services.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        How do I pay for my rides?
      </p>
      <p class="answer">You can pay via credit card when you make your booking on the Beeline app. Bus drivers will not be able to accept EZLink and cash payments on the buses. Seats are limited and should be reserved prior to the rides. </p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Are there any refunds if I miss my bus?
      </p>
      <p class="answer">No. No refunds will be provided if you miss the bus.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        How far in advance can I book a ride?
      </p>
      <p class="answer">You can book the ride as long as the seats are open for booking as indicated in the calendar of each route. Booking window for each route will be determined by the bus operators.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        How would I know that my bus trip had been booked successfully?
      </p>
      <p class="answer">You will receive an e-ticket on the app after the trip has been booked.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Can I cancel or modify my bookings?
      </p>
      <p class="answer">No. We do not allow cancellations or modifications once a booking is made.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Why can’t I see my e-ticket after making a booking?
      </p>
      <p class="answer">This could be due to a bug. Please try refresh the page and check if the ticket shows up. If the problem persists, please send us an email at feedback@beeline.sg and we will get back to you as soon as possible.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        What happens when a route is fully booked for any given day?
      </p>
      <p class="answer">If all seats have been booked, you will not be able to make a booking for that trip. Hence, you will not be able to take the bus.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Can I book my trip on the day of the ride?
      </p>
      <p class="answer">This depends on the booking window set by the bus operator for each route.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Can I use my account to book multiple seats on the service?
      </p>
      <p class="answer">Not at the moment. We’re sorry this is not possible! If anyone you know is interested to try Beeline with you, get them to visit the website and sign up.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Can I book tickets for other people?
      </p>
      <p class="answer">If you already booked a ticket for yourself on that trip, you will not be able to book on behalf of another person for that trip.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Can I log in to multiple devices using the same account?
      </p>
      <p class="answer">No, you can only log in on one device at any one time using your mobile no.</p>
    </div>
    <!-- question end -->
    <div class="item item-divider">
      Taking the Bus
    </div>
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        How do I know if the bus is coming?
      </p>
      <p class="answer">You can track your bus on a map on the ticket.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        What if I cannot see the bus on the app’s bus tracking feature on the day of service?
      </p>
      <p class="answer">This could be due to a technical error. Please continue to wait for the bus at the designated stop. If there is a service cancellation, you will be notified via SMS and on your ticket in the Beeline app. </p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        How can I identify the bus?
      </p>
      <p class="answer">Each bus will have a Beeline sign placed at the front windscreen. If the vehicle number is provided by the driver, it will also be reflected in the ticket.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        What should I do when I board the bus?
      </p>
      <p class="answer">Just show your ticket to the driver, get a seat and enjoy the ride.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        How would I know if the bus will not turn up due to a breakdown?
      </p>
      <p class="answer">If there is a service cancellation, you will be notified via SMS and on your ticket.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        What if I forget my phone and is unable to show the bus driver my ticket?
      </p>
      <p class="answer">You won’t be allowed to board the bus.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Will the bus wait for me if I am late?
      </p>
      <p class="answer">No. To ensure that all users get to their destinations on time, all buses will strictly follow their schedules. Please be punctual.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Can I board a Beeline bus if I did not make a booking?
      </p>
      <p class="answer">No. All seats are by reservation only to ensure that everyone who has bought a ticket gets a seat (and a comfortable ride).</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        What happens when the bus does not turn up?
      </p>
      <p class="answer">If the bus does not turn up, the bus company operating the route is responsible to make a full refund for that trip. Please allow up to 1 month for the bus company to process the refund.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        Are your buses reliable?
      </p>
      <p class="answer">We partner only with trusted bus operators. But please understand that buses may still break down once in awhile, and operators will try to provide a replacement bus in such cases. If that is not possible, bus companies will notify you as soon as possible so that you can make alternative travel plans.</p>
    </div>
    <!-- question end -->
    <!-- question start -->
    <div class="item item-text-wrap">
      <p class="question">
        What happens if the bus breaks down during the service?
      </p>
      <p class="answer">Please refer to the terms and conditions of the bus operator providing the service. You may view their respective terms and conditions when you are booking the route or in your ticket.</p>
    </div>
    <!-- question end -->
  </ion-content>
</ion-modal-view>
