<ion-modal-view>
  <ion-header-bar class="bar-royal bar bar-header">
    <h1 class="title">Privacy Policy</h1>
    <button class="button button-clear icon ion-ios-close-outline" ng-click="modal.hide()">
    </button>
  </ion-header-bar>
  <ion-content class="main">
    <div  class="item item-text-wrap legal">
      <h2>Grab Privacy Statement</h2><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: normal;">This Privacy
      Notice (&#8220;Notice&#8221;) describes how GrabTaxi Holdings Pte Ltd and its respective
      subsidiaries, associate companies and jointly controlled entities (&#8220;GrabTaxi
      Group&#8221;) use your Personal Data.<br><br></span><o:p></o:p>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Collection of
      Personal Data</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">&#8220;Personal Data&#8221;
      means information about you, from which you are identifiable, including but not
      limited to your name, identification card number, birth certificate number,
      passport number, nationality, address, telephone number, fax number, bank
      details, credit card details, race, gender, date of birth, marital status,
      resident status, education background, financial background, personal
      interests, email address, your occupation, your designation in your GrabTaxi
      Group, your GrabTaxi Group details, the industry in which you work in, any
      information about you which you have provided to GrabTaxi Group in registration
      forms, application forms or any other similar forms and/or any information
      about you that has been or may be collected, stored, used and processed by
      GrabTaxi Group from time to time and includes sensitive personal data such as
      data relating to health, religious or other similar beliefs.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">The provision of
      your Personal Data is voluntary. However if you do not provide GrabTaxi Group
      your Personal Data, GrabTaxi Group will not be able to process your Personal
      Data for the Purposes and Additional Purposes outlined below.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">If you are an
      agent, vendor, supplier or service provider, provision of your Personal Data is
      mandatory and failure to provide your Personal Data, may be a breach of laws or
      regulatory requirements, and may cause GrabTaxi Group to be unable to engage
      you to provide services or products or issue payments to you for products or
      services provided.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: bold;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: normal;">In addition to
      the Personal Data you provide to GrabTaxi Group directly, GrabTaxi Group may
      collect your Personal Data from a variety of sources such as:</span><o:p></o:p></h4>

      <ul><li><h4 style="margin: 0cm 0cm 15pt 36pt; text-align: left; text-indent: -18pt; font-weight: bold;" align="left"><!--[if !supportLists]--><span style="font-weight: bold;"><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;"></span></span><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: normal;">Fill up application or registration forms or
      other similar forms;</span><o:p style="font-weight: normal;"></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 36pt; text-align: left; text-indent: -18pt; font-weight: bold;" align="left"><!--[if !supportLists]--><span style="font-weight: normal;"><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;"></span></span><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: normal;">From publicly available sources such as
      directories,</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 36pt; text-align: left; text-indent: -18pt; font-weight: bold;" align="left"><!--[if !supportLists]--><span style="font-weight: normal;"></span><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: normal;">From GrabTaxi Group&#8217;s social media pages, if you
      follow, like or are a fan of such pages;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 36pt; text-align: left; text-indent: -18pt; font-weight: bold;" align="left"><!--[if !supportLists]--><span style="font-weight: normal;"></span><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: normal;">From credit reporting agencies;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 36pt; text-align: left; text-indent: -18pt; font-weight: bold;" align="left"><!--[if !supportLists]--><span style="font-weight: normal;"></span><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: normal;">When you interact and communicate with GrabTaxi
      Group at any events or activities;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 36pt; text-align: left; text-indent: -18pt; font-weight: bold;" align="left"><!--[if !supportLists]--><span style="font-weight: normal;"></span><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: normal;">When you enter contests organized by GrabTaxi
      Group,</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 36pt; text-align: left; text-indent: -18pt; font-weight: bold;" align="left"><!--[if !supportLists]--><span style="font-weight: normal;"><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;"></span></span><!--[endif]--><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: normal;">From various entities or divisions under GrabTaxi
      Group; or</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 36pt; text-align: left; text-indent: -18pt; font-weight: bold;" align="left"><!--[if !supportLists]--><span style=""></span><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: normal;">By using GrabTaxi Group websites, which includes
      all websites operated by GrabTaxi Group and under the names of its respective
      brands (&#8220;Websites&#8221;). Your personal data may also be collected from cookies used
      on the Websites.</span><o:p></o:p></h4></li></ul>















      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: bold;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Purposes of
      Processing</span><o:p></o:p></h4><h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">GrabTaxi Group
      may use and process your Personal Data for business and activities of GrabTaxi
      Group which shall include, without limitation the following (&#8220;Purpose&#8221;):</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Where you are a
      customer of the services provided by GrabTaxi Group:</span><o:p></o:p></h4>

      <ul><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      perform the GrabTaxi Group&#8217;s obligations in respect of any contract entered
      into with you;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      provide you with any service you have requested;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      process your subscriptions and to deliver the services to you;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Where
      you have requested to download and use the GrabTaxi, MyTeksi or GrabShuttle App (&#8220;App&#8221;), to
      process your request, to deliver the App to you and to provide you a license
      for the use of the App;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      process your participation in any events, activities, focus groups, research
      studies, contests, promotions, polls, surveys or any productions;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      process, manage or verify your application for subscription with the GrabTaxi
      Group and to provide you the benefits offered to subscribers;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      validate your bookings and process payments relating to any products or
      services you have requested;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      understand and analyses our sales as well as your needs and preferences;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      develop, enhance and provide products and services to meet your needs;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      process exchanges or product returns;</span><o:p></o:p></h4></li></ul>



















      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Where you are an
      agent, vendor, supplier, partner, contractor or service provider:</span><o:p></o:p></h4>

      <ul><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">For
      the purposes of engaging you to provide services or products;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      facilitate or enable any checks as may be required by GrabTaxi Group in order
      to engage you;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      process payments relating to any products or services you have provided;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      contact you or your GrabTaxi Group;</span><o:p></o:p></h4></li></ul>







      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">General:</span><o:p></o:p></h4>

      <ul><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      respond to questions, comments and feedback from you;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      communicate with you for any of the purposes listed in this Notice;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">For
      internal administrative purposes, such as auditing, data analysis, database
      records;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">For
      purposes of detection, prevention and prosecution of crime;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">For
      GrabTaxi Group to comply with its obligations under law;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">And
      you agree and consent to GrabTaxi Group using and processing your Personal Data
      for the Purposes and in the manner as identified in this Notice.</span><o:p></o:p></h4></li></ul>











      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Marketing and
      promotional purposes</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">GrabTaxi Group
      may also use and process your data for other purposes such as (&#8220;Additional
      Purposes&#8221;):</span><o:p></o:p></h4>

      <ul><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      send you alerts, newsletters, updates, mailers, promotional materials, special
      privileges, festive greetings from GrabTaxi Group, its partners, sponsors or
      advertisers;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      notify and invite you to events or activities organized by GrabTaxi Group, its
      partners, sponsors or advertisers;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      process your registration to participate in or attend an event or activity and
      to communicate with you regarding your attendance at the event or activity;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">To
      share your Personal Data amongst its subsidiaries, associate companies and
      jointly controlled entities as well as with its agent, vendor, supplier,
      partner, contractor or service provider who may communicate with you to market
      their products, services, events or promotions.</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">by
      way of post, telephone call, short message service (SMS), by hand and/or by
      email.</span><o:p></o:p></h4></li></ul>









      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: bold;">Unsubscribe and
      Revocation of Consent</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">If you wish to
      unsubscribe to the processing of your Personal Data for Additional Purposes by
      GrabTaxi Group, please click on the link &#8220;Unsubscribe&#8221; which is embedded in the
      relevant email in order not to receive any email in the future.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">If you wish to
      revoke the consent that GrabTaxi Group has obtained from you for the Purposes
      stipulated herein, please notify GrabTaxi Group using the contact details
      stated below.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: bold;">Transfer of
      Personal Data</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Your Personal
      Data may be transferred to, stored, used and processed in a jurisdiction other
      than your home nation or otherwise in the country, state and city in which you
      are present while using any services provided by GrabTaxi Group (&#8220;Alternate
      Country&#8221;), to companies under GrabTaxi Group which are located outside of your
      home nation or Alternate Country and/or where GrabTaxi Group&#8217;s servers are
      located outside of your home nation or Alternate Country. You understand and
      consent to the transfer of your Personal Data out of your home nation or
      Alternate Country as described herein.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: bold;">Disclosure to
      Third Parties</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Your personal
      data may be transferred, accessed or disclosed to third parties for the
      Purposes and Additional Purposes. Further, GrabTaxi Group may engage other
      companies, service providers or individuals to perform functions on its behalf,
      and consequently may provide access or disclose to your Personal Data to such
      service providers or third parties. The third parties include, without
      limitation:</span><o:p></o:p></h4>

      <ul><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">GrabTaxi
      Group partners, which include parties with whom GrabTaxi Group collaborates
      with for certain events, programs and activities;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Event
      management companies and event sponsors;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Marketing
      research companies;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Service
      providers, including, information technology (IT) service providers for
      infrastructure, software and development work;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Professional
      advisors and external auditors, including legal advisors, financial advisors
      and consultants;</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Other
      entities within GrabTaxi Group; and</span><o:p></o:p></h4></li><li><h4 style="margin: 0cm 0cm 15pt 18pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Governmental
      authorities to comply with statutory, regulatory and governmental requirements.</span><o:p></o:p></h4></li></ul>













      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Your Personal
      Data may also be shared in connection with a corporate transaction, such as a
      sale of a subsidiary or a division, merger, consolidation, or asset sale, or in
      the unlikely event of winding-up.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: bold;">Access &amp;
      Correction Requests and Inquiries, Limiting the Processing of Personal Data</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Subject to any
      exceptions under applicable laws of your home nation or Alternate Country, you
      may request for access to and/or request correction of your Personal Data,
      request to limit the processing of your Personal Data for the Additional
      Purposes and/or make any inquiries regarding your Personal Data by contacting:</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 0.0001pt; text-align: left; line-height: normal; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">GrabTaxi Holdings Pte Ltdc/o Group Legal
      &amp; Corporate Compliance</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 0.0001pt; text-align: left; line-height: normal; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">6 Shenton Way,</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 0.0001pt; text-align: left; line-height: normal; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">#32-01 OUE Downtown,</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 0.0001pt; text-align: left; line-height: normal; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Singapore 068809</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 0.0001pt; text-align: left; line-height: normal; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Email: </span><a href="mailto:dataprotection@grabtaxi.com"><span style="font-family: &quot;Calibri&quot;,sans-serif; color: rgb(17, 85, 204);">dataprotection@grabtaxi.com</span></a><a name="_uegy26gmk8hf"></a><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 0.0001pt; text-align: left; line-height: normal; font-weight: normal;" align="left"><o:p>&nbsp;</o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">Subject to any
      laws of your home nation or Alternate Country, GrabTaxi Group reserves the
      right to impose a fee for access of your Personal Data in the amounts as
      permitted therein.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">In respect of
      your right to access and/or correct your Personal Data, GrabTaxi Group has the
      right to refuse the your requests to access and/or make any correction to your
      Personal Data for the reasons permitted under law, such as where the expense of
      providing access to you is disproportionate to the risks to your or another
      person&#8217;s privacy.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">If you do not
      wish for your Personal Data to be collected via cookies on the Websites, you
      may deactivate cookies by adjusting your internet browser settings to disable,
      block or deactivate cookies, by deleting your browsing history and clearing the
      cache from your internet browser.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: bold;">Links to
      Third-Party Websites</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">The Websites may
      contain links to third parties&#8217; websites. Please note that GrabTaxi Group is
      not responsible for the collection, use, maintenance, sharing, or disclosure of
      data and information by such third parties. If you provide information directly
      to such sites, the privacy policy and terms of service on those sites are
      applicable and GrabTaxi Group is not responsible for the information processing
      practices or privacy policies of such sites.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: bold;">Personal
      Information from Minors and Other Individuals</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">As a parent or
      legal guardian, please do not allow the minor (individuals under 18 (eighteen)
      years of age) under your care to submit Personal Data to GrabTaxi Group. In the
      event that such Personal Data is provided to GrabTaxi Group, you hereby consent
      to the processing of the minor&#8217;s Personal Data and personally accept and agree
      to be bound by this Notice and take responsibility for his or her actions.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">In some
      circumstances you may have provided personal data relating to other individuals
      (such as your spouse, family members or friends) and in such circumstances you
      represent and warrant that you are authorized to provide their personal data to
      GrabTaxi Group and you have obtained their consent for their personal data be
      processed and used in the manner as set forth in this Notice.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: bold;">Acknowledgement
      and Consent</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">By communicating
      with GrabTaxi Group, using GrabTaxi Group&#8217;s services, purchasing products from
      GrabTaxi Group or by virtue of your engagement with GrabTaxi Group, you
      acknowledge that you have read and understood this Notice and agree and consent
      to the use, processing and transfer of your Personal Data by GrabTaxi Group as
      described in this Notice.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left; font-weight: normal;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif;">GrabTaxi Group
      shall have the right to modify, update or amend the terms of this Notice at any
      time by placing the updated Notice on the Websites. By continuing to
      communicate with GrabTaxi Group, by continuing to use GrabTaxi Group&#8217;s services,
      purchasing products from GrabTaxi Group or by your continued engagement with
      GrabTaxi Group following the modifications, updates or amendments to this
      Notice, such actions shall signify your acceptance of such modifications,
      updates or amendments.</span><o:p></o:p></h4>

      <h4 style="margin: 0cm 0cm 15pt; text-align: left;" align="left"><span style="font-family: &quot;Calibri&quot;,sans-serif; font-weight: normal;">In the event of any conflict between the English
      and other language versions, the English version shall prevail.</span><o:p></o:p></h4>
    </div>
  </ion-content>
</ion-modal-view>
