<ion-modal-view>
    <ion-header-bar class="bar-royal bar bar-header">
        <h1 class="title">Terms of Use</h1>
        <button class="button button-clear icon ion-ios-close-outline"
              ng-click="modal.hide()">
        </button>
    </ion-header-bar>
    <ion-content>
        <ion-item class="item item-text-wrap legal">

            <h2>General</h2>
            <h2>Nature of this Service</h2>
            <h2>Proprietary Rights</h2>
            <h2>Content</h2>
            <h2>Disclaimer of Warranties and Liability</h2>
            <h2>Hyperlinks to Third Party Sites</h2>
            <h2>Hyperlinks to the Contents from Third Party Websites</h2>
            <h2>Governing Law</h2>
        </ion-item>
    </ion-content>
</ion-modal-view>
