<ion-modal-view>
  <ion-header-bar class="bar-royal bar bar-header">
    <h1 class="title">Login</h1>
    <button class="button button-clear icon ion-ios-close-outline" ng-click="modal.hide()">
    </button>
  </ion-header-bar>
  <ion-content ng-form="form.validation">
    <ion-item class="item-text-wrap item item-divider">
      Please log in with your telephone number
    </ion-item>

    <ion-item class="item-input item-icon-left">
      <i class="ionicon ion-ios-telephone"></i> +65
      <input ng-model="data.telephone" name="telephone" ng-required="true"
          ng-pattern="phonePattern" placeholder="XXXX XXXX" type="tel">
    </ion-item>

    <div class="item item-text-wrap has-error" ng-show="form.validation.telephone.$invalid
            && form.validation.telephone.$dirty">
      The phone no. you provide does not appear to be in the correct format.
      Please provide a valid 8-digit phone no. starting with the number 8 or 9.
    </div>

    <ion-item class="item item-text-wrap">
      This use of this app is subject to our
        <a ng-click="showPrivacyPolicy()">Privacy Policy</a>
        and
        <a ng-click="showTermsOfUse()">Terms of Use</a>.
        <br/>
        <br/>
      <ion-checkbox ng-model="acceptPolicy" ng-required="true">
        I accept the Privacy Policy and Terms of Use
      </ion-checkbox>
    </ion-item>

    <ion-item class="item-text-wrap">
      <button class="button-positive button button-block" ng-click="accept()"
          ng-disabled="form.validation.$invalid">
          Log in
      </button>
      <button class="button-default button button-block" ng-click="modal.hide()">
        Cancel
      </button>
    </ion-item>

  </ion-content>
</ion-modal-view>
