<ion-modal-view>
  <ion-header-bar class="bar bar-stable"><h1 class="title">Privacy Policy</h1></ion-header-bar>
  <ion-content class="privacy-policy">
    <p>General</p>
    <ol>
    <li>These Terms of Use govern your access to and use of our services, including this website, the application contained in this website, email notifications and Application Programme Interface (API) (collectively, the “Beeline Service” or this "Service”). This Service is owned and operated by the Info-communications Development Authority of Singapore ("IDA").</li>

    <li>By accessing or using any part of this Service, you unconditionally agree and accept to be legally bound by these Terms of Use. If you do not agree to these Terms of Use, please do not use this Service or any part of this Service.</li>

    <li>In case of any violation of these Terms of Use, IDA reserves the right to seek all remedies available under the law and in equity for such violations. These Terms of Use apply to access and use of this Service or any part of this Service, both now and in the future.</li>

    <li>IDA reserves the right to change these Terms of Use from time to time at its sole discretion. All changes will be posted on this page, and your use of this Service or any part of this Service after such changes have been posted will constitute your agreement to the modified Terms of Use and all of the changes. You should therefore read this page carefully each time you access or use any part of this Service.</li>
    </ol>
    <p>Nature of this Service</p>
    <ol start="5">
    <li>This Service facilitates crowd-sourcing road transport routes and the booking of transport services along those routes. IDA DOES NOT provide, own or operate any transport services. When making a booking through this Service, you are entering into a contract with your selected transport service provider. IDA is NOT responsible for the fulfilment and quality of transport services available through this Service.</li>

    <li>Transport services, including provision of transport, booking amendments, cancellation and payment disputes, will be provided by your selected transport service provider in accordance with the Booking Policy of your selected transport service provider. The Booking Policy of your selected transport service provider is presented at the point of booking and in the email notification confirming your booking.</li>
    </ol>
    <p>Proprietary Rights</p>
    <ol start="7">
    <li>The materials available on or through the Service, including any software, text and images (the “Contents"), are protected by copyright, trademark and other forms of proprietary rights. All rights, title and interest in the Contents are owned by, licensed to, or controlled by IDA.</li>
    </ol>

    <p>Content</p>
    <ol start="8">

    <li>Unless otherwise provided, the Contents shall not be reproduced, republished, uploaded, posted, transmitted or otherwise distributed in any way, without the prior written permission of IDA.</li>

    <li>You may use, hyperlink, copy and distribute the Contents found on this website solely for personal, internal, non-commercial, informational purposes only. You may download one copy of any information provided in this website onto a single computer for your own personal non-commercial use provided that you keep intact all accompanying copyright and other proprietary notices. You may not display, distribute or otherwise use any of the Content found on this website for any commercial purpose unless you receive specific prior written consent from IDA.</li>

    <li>Modification of any of the Contents or use of the Contents for any other purpose will be a violation of IDA's copyright and other intellectual property rights. Graphics and images on this website are protected by copyright and may not be reproduced or appropriated in any manner without the prior written permission of their respective copyright owners.</li>

    <li>The design and layout of the Contents are protected by intellectual property and other laws and may not be copied or imitated in whole or in part. No logo, graphic, sound, image or search engine from this website may be copied or transmitted unless with the prior express permission of IDA. </li>
    </ol>
    <p>Disclaimer of Warranties and Liability</p>

    <ol start="12">
    <li>
    This Service is provided on an "as is" and “as available” basis without warranties of any kind. To the fullest extent permitted by law, IDA does not make any representations or warranties of any kind whatsoever in relation to the Service and hereby disclaims all express, implied and/or statutory warranties of any kind to you or any third party, whether arising from usage or custom or trade or by operation of law or otherwise, including but not limited to any representations or warranties: <br>

    a.  as to the accuracy, completeness, correctness, currency, timeliness, reliability, availability, security, non-infringement, title, merchantability, quality or fitness for any particular purpose of the Service; and<br>

    b.  that the Contents available through this website or any functions associated therewith will be uninterrupted or error-free, or that defects will be corrected or that this website and the server is and will be free of all viruses and/or other malicious, destructive or corrupting code, programme or macro.
    </li>

    <li>IDA shall also not be liable to you or any third party for any damage or loss of any kind whatsoever and howsoever caused, including but not limited to any direct or indirect, special or consequential damages, loss of income, revenue or profits, lost or damaged data, or damage to your computer, software or any other property, whether arising directly or indirectly from – <br>
    a.  your access to or use of this Service or any part of this Service;<br>
    b.  any loss of access to our use of this Service or any part of this Service, howsoever caused; <br>
    c.  any inaccuracy or incompleteness in, or errors or omissions in the transmission of, the Contents;<br>
    d.  any delay or interruption in the transmission of the Contents, whether caused by delay or interruption in transmission over the internet or otherwise; or <br>
    e.  any decision made or action taken by you or any third party in reliance upon the Service,<br>

    regardless of whether IDA has been advised of the possibility of such damage or loss. <br><br>

    For the avoidance of doubt, IDA DOES NOT provide, own or operate any transport services, and makes no representation or warranty of any kind whatsoever in relation to any transport services provided by the transport service provider you select through this Service (including but not limited to any representations or warranties as to the timeliness, reliability, availability, quality or fitness for any particular purpose of the transport services provided by the transport service provider you select through this Service).  <br><br>

    For the avoidance of doubt, IDA hereby disclaims all liability to you or any third party for any damage or loss of any kind whatsoever and howsoever caused, including but not limited to any direct, indirect, special or consequential damages, loss of income, revenue or profits, lost or damaged data, or damage to any property, whether arising directly or indirectly from your use of the transport services provided by the transport service provider you select through this Service. <br><br>
    </li>
    </ol>

    <p>No Representations</p>

    <ol start="14">

    <li>Without prejudice to the generality of the disclaimers stated above, you agree that the Contents as provided by this Service, including but not limited to any information relating to – <br>
    a.  IDA’s statutory duties, functions and powers; and <br>
    b.  IDA’s regulatory policies, frameworks, projects, initiatives, plans, schemes, objectives and instruments, <br>
    shall not be construed as constituting any promise or representation by IDA to you or any third party that IDA will or will not adopt any particular course of action or confer any particular benefit upon you or any third party. The Contents shall not preclude, limit or constrain IDA’s exercise of its rights, powers and discretion in any way nor compel, require or oblige IDA to exercise its rights, powers and discretion in any particular manner or to achieve any particular outcome.   </li>

    <li>You further agree that you shall not rely on any of the Contents to claim or assert any form of legitimate expectation against IDA, whether procedural or substantive in nature, in respect of any action that IDA may or may not take in the exercise of its discretion as a public authority.  </li>

    <li>IDA reserves the right to change, modify, add to, derogate from or vary its position in respect of any regulatory policies, frameworks, projects, initiatives, plans, schemes, objectives and instruments referred to on this website at any time in IDA’s sole and absolute discretion without prior notice to you. </li>

    <li>You shall obtain your own professional and/or legal advice and conduct all necessary due diligence, including but not limited to making such other investigations or seeking clarifications as may be appropriate, as regards any decision or action that you intend to take in relation to any matter concerning the Contents.</li>
    </ol>

    <p>Right of Access</p>
    <ol start="18">
    <li>IDA reserves the right to update or modify this Service from time to time. IDA further reserves all rights to deny or restrict access to this Service to any particular person, or to block access from a particular Internet address to this Service, at any time, without ascribing any reasons whatsoever.</li>
    <li>You agree that you will not:<br>
    a.  use any device, software or routine to interfere or attempt to interfere with the proper working of this Service; and<br>
    b.  take any action that imposes an unreasonable or disproportionately large load on IDA's servers
    Hyperlinks to Third Party Sites </li>

    <li>The Contents contain hyperlinks to websites which are not maintained nor controlled by IDA. IDA shall not be responsible for the content of any hyperlinked website or any hyperlink contained in a hyperlinked web site, and shall not be liable for any damages or loss arising from access to those websites. Use of the hyperlinks and access to such hyperlinked websites are entirely at your own risk. </li>

    <li>All hyperlinks to other websites are provided as a convenience to you as a user of this Service. The inclusion of any hyperlink does not imply endorsement by IDA of such websites. In no circumstances shall IDA be considered to be associated or affiliated in whatever manner with any trade or service marks, logos, insignia or other devices used or appearing on websites to which the Contents are hyperlinked. </li>
    </ol>

    <p>Hyperlinks to the Contents from Third Party Websites</p>
    <ol start="22">
    <li>Except as set forth below, caching and hyperlinks to, and the framing of any of the Contents are prohibited.</li>
    <li>You may hyperlink to the Home Page of websites provided by the Service, upon prior notification to IDA in writing. You must make a specific request for, and secure permission from IDA prior to hyperlinking to, or framing, any of the Contents, or engaging in similar activities. IDA reserves the right to impose conditions when permitting any hyperlinking to, or framing of or any of the Contents. </li>

    <li>Your hyperlinking to, or your framing of any of the Contents constitute acceptance of these Terms of Use. This is deemed to be the case even after the posting of any changes or modifications to these Terms of Use. If you do not accept these Terms of Use, you must discontinue linking to, or framing of any of the Contents. </li>

    <li>In no circumstances shall IDA be considered to be associated or affiliated in any manner with any trade or service marks, logos, insignia or other devices used or appearing on websites that link to any of the Contents.</li>

    <li>IDA reserves all rights to disable any links to, or frames of any site containing inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topics, names, material or information, or material or information that violates any written law, any applicable intellectual property, proprietary, privacy or publicity rights. </li>

    <li>IDA reserves the right to disable any unauthorised links or frames and disclaims any responsibility for the content available on any other site reached by links to or from any of the Contents. </li>
    </ol>

    <p>Governing Law</p>
    <ol start="28">
    <li>
    These Terms of Use shall be governed and construed in accordance with laws of Singapore.</li>
    </ol>
  </ion-content>
</ion-modal-view>
