<ion-modal-view>
  <ion-header-bar class="bar-royal bar bar-header">
    <h1 class="title">Privacy Policy</h1>
    <button class="button button-clear icon ion-ios-close-outline"
        ng-click="privacyPolicyModal.hide()">
   </button>
  </ion-header-bar>
  <ion-content>
    <ion-item class="item item-text-wrap legal">
    <div>
          <h2>Government Agency Privacy Statement</h2>
          <ol >
            <li>This is a Government Agency website.</li>
            <li> We may use "cookies", where a small data file is sent to your device to store and track information about you when you enter our websites. The cookie is used to track information such as the number of users and their frequency of use, profiles of users and their preferred sites. While this cookie can tell us when you enter our sites and which pages you visit, it cannot read data off your hard disk.</li>
            <li>You can choose to accept or decline cookies. Most devices automatically accept cookies, but you can usually modify your device settings to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</li>
            <li>If you provide us with personally identifiable data
              <ol>
                <li>We may share necessary data with other Government agencies, so as to serve you in the most efficient and effective way unless such sharing is prohibited by law.</li>
                <li>We will NOT share your personal data with non-Government entities, except where such entities have been authorised to carry out specific Government services.</li>
                <li>For your convenience, we may also display to you data you had previously supplied us or other Government Agencies. This will speed up the transaction and save you the trouble of repeating previous submissions. Should the data be out-of-date, please supply us the latest data.</li>
              </ol>
            </li>
            <li>To safeguard your personal data, all electronic storage and transmission of personal data is secured with appropriate security technologies.</li>
            <li>This site may contain links to non-Government sites whose data protection and privacy practices may differ from ours. We are not responsible for the content and privacy practices of these other websites and encourage you to consult the privacy notices of those sites.</li>
            <li>Please contact 1800 211 0777 (ida_qsm@ida.gov.sg) if you:
              <ol>
                <li>have any enquires or feedback on our data protection policies and procedures,</li>
                <li>need more information on or access to data which you have provided to us in the past.</li>
              </ol>
            </li>
          </ol>
        </div>
      </ion-item>
  </ion-content>
</ion-modal-view>
