<ion-modal-view>
  <ion-header-bar class="bar-royal bar bar-header">
    <h1 class="title">Route Pass</h1>
    <button class="button button-clear icon ion-ios-close-outline" ng-click="closeModal()">
    </button>
  </ion-header-bar>
  <ion-content scroll="auto">
    <div class="item item-text-wrap">
      <div>
        <p>
          Passes can be used for future bookings of this route.
        </p>
        <div class="radios">
          <ion-radio ng-repeat="schedule in book.priceSchedules" ng-model="book.routePassChoice" class="item-text-wrap item-icon-left" icon="icon ion-ios-checkmark" ng-value="$index">
            <i class="icon ion-ios-circle-outline not-selected" ng-show="book.routePassChoice !== $index"></i>
            <div class="priceDetails" ng-if="schedule.quantity === 1">{{schedule.quantity}} ticket (${{schedule.unitPrice | floatRoundUp | number:2}} per trip)</div>
            <div class="priceDetails" ng-if="schedule.quantity !== 1">{{schedule.quantity}} passes (approx. ${{schedule.unitPrice | floatRoundUp | number:2}} per trip)
              <div>save {{schedule.discountPercent}}%</div>
            </div>
          </ion-radio>
        </div>

        <!-- If quantity is 1, then we are jumping to summary page -->
        <div ng-if="(book.priceSchedules[book.routePassChoice].quantity == 1)">
          <div class="buttons">
            <button class="primary-button button" ng-click="proceed()">
              Proceed
            </button>
          </div>
        </div>
        <!-- End if quantity == 1 -->

        <!-- If quantity is > 1, then user must accept route pass terms -->
        <div ng-if="(book.priceSchedules[book.routePassChoice].quantity != 1)">
          <div class="check-terms">
            <!-- <h4 class="item" will add margin-bottom 4px by ionic scss-->
            <div class="item item-divider"><h4>Terms and Conditions</h4></div>
            <div class="item item-text-wrap text-center" ng-if="!routePassTerms.error && !routePassTerms.html">
              <p class="padding-bottom">
                Loading...
              </p>
              <ion-spinner icon="ios"></ion-spinner>
            </div>
            <div class="item item-text-wrap" ng-if="routePassTerms.error">
              <i class="icon ion-alert-circled"></i> There was a problem loading the terms and conditions. Please check your Internet connection.
            </div>
            <div class="item item-text-wrap features tnc" ng-bind-html="routePassTerms.html"></div>
            <ion-checkbox
              ng-model="book.acceptPolicy">
              I read and agree to the above terms and would like to proceed.
            </ion-checkbox>
            <!-- only show this if not 1-ticket chosen and no credit card saved -->
            <ion-checkbox
              ng-model="book.savePaymentChecked"
              ng-if="!book.hasSavedPaymentInfo">
              Yes, I want to save this payment method for fast checkout in the future.
            </ion-checkbox>
          </div>

          <div class="buttons">
            Total: <fancy-price value="book.priceSchedules[book.routePassChoice].price"></fancy-price>
            <p class="text-center" ng-if="book.hasSavedPaymentInfo">
              This payment will be charged to your <br /><b>{{book.brand}}</b> ending in <b> {{book.last4Digits}}</b>.
            </p>
            <button class="primary-button button" ng-click="proceed()"
                ng-if="!book.hasSavedPaymentInfo"
                ng-disabled="!book.acceptPolicy || book.isProcessing">
              Proceed
            </button>
            <button class="primary-button button" ng-click="proceed()"
                ng-if="book.hasSavedPaymentInfo"
                ng-disabled="!book.acceptPolicy || book.isProcessing">
              Confirm and Pay
            </button>
          </div>
          <!-- End if quantity != 1 -->
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>

<!-- [{"quantity":1, "price": 5.6},
  {"quantity":5, "price": 4.8, "discount": 20%}...] -->
