<ion-modal-view>
  <ion-header-bar class="bar-royal bar bar-header">
    <h1 class="title">Share Rides, Get Rides</h1>
    <button class="button button-clear icon ion-ios-close-outline" ng-click="shareReferralModal.hide()">
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="item item-text-wrap">
      <p>{{ referralSharing.instructions_msg }}</p>
      <label class="item item-input">
        <p>
        {{ referralSharing.invitation_msg + referralSharing.invitation_msg_url + user.referralCode.code }} 
        </p>
      </label>
      <p>
        <button ng-if="!hasCordova" class="button button-block button-royal" ngclipboard data-clipboard-text="{{ referralSharing.invitation_msg + referralSharing.invitation_msg_url + user.referralCode.code }}">Copy to Clipboard</button>
        <button ng-if="hasCordova" class="button button-block button-royal" ng-click="cordovaShare()">Share</button>
      </p>

    </div>
  </ion-content>
</ion-modal-view>


