<ion-view title="Payment History" class="booking-history">

  <ion-content scroll="false">
    <div class="tabs tabs-top tabs-icon-left tabs-light tabs-striped tabs-color-royal" ng-if="transactions.length > 0">
      <a class="tab-item"
         on-tap="setActiveTab('payments')"
         ng-class="{active: activeTab==='payments'}">
         <span class="tab-title">Paid</span>
      </a>
      <a class="tab-item"
         on-tap="setActiveTab('refunds')"
         ng-class="{active: activeTab==='refunds'}">
         <span class="tab-title">Refunded</span>
      </a>
    </div>

    <ion-content class="tab-content">
      <ion-list>
        <div class="card" ng-repeat="transaction in transactions track by transaction.id" ng-if="tabMatches(transaction) && transaction.totalAmount > 0">

          <!-- TRANSACTION HEADER -->
          <div class="item item-divider transaction-header transaction-row">
            <div class="col-left transaction-status table-cell">
              <div ng-if="transaction.type !== 'refundPayment'" class="balanced transaction-button">Paid</div>
              <div ng-if="transaction.type === 'refundPayment'" class="refund transaction-button">Refund</div>
            </div>
            <div class="table-cell transaction-number">Txn #{{transaction.id}}</div>
            <div class="table-cell transaction-cost" ng-if="transaction.totalAmount">${{ transaction.totalAmount | number: 2 }}</div>
          </div>

          <!-- TRANSACTION DETAILS -->
          <div class="item transaction-details">

            <!-- ----------------------------------------------------- -->
            <!-- ----------------------------------------------------- -->
            <!-- Transaction Datetime -->
            <!-- ----------------------------------------------------- -->
            <!-- ----------------------------------------------------- -->
            <div class="transaction-row">
              <div class="col-left row-header table-cell">
                Txn Date
              </div>

              <div class="row-content table-cell item-text-wrap">
                {{ transaction.createdAt | formatDateddMMMYYYY }} {{ transaction.createdAt | formatTime }}
              </div>
            </div>

            <!-- ----------------------------------------------------- -->
            <!-- ----------------------------------------------------- -->
            <!-- Payment Details -->
            <!-- ----------------------------------------------------- -->
            <!-- ----------------------------------------------------- -->
            <div class="transaction-row" ng-repeat="payment in transaction.itemsByType.payment track by payment.id" ng-if="payment.payment.data.source.funding === 'credit'">
                <div class="col-left row-header table-cell">
                  Card
                </div>

                <div class="row-content table-cell item-text-wrap">
                  **** **** **** {{payment.payment.data.source.last4}}
                </div>
            </div>

            <!-- ----------------------------------------------------- -->
            <!-- ----------------------------------------------------- -->
            <!-- Route details -->
            <!-- ----------------------------------------------------- -->
            <!-- ----------------------------------------------------- -->
            <div class="transaction-row">
              <div class="col-left row-header table-cell">
                Route
              </div>

              <div class="row-content table-cell item-text-wrap">
                {{ transaction.route.label }} by {{ transaction.route.transportCompany.name }}
              </div>
            </div>

            <!-- ----------------------------------------------------- -->
            <!-- ----------------------------------------------------- -->
            <!-- Item details -->
            <!-- ----------------------------------------------------- -->
            <!-- ----------------------------------------------------- -->
            <div class="transaction-row" ng-if="transaction.itemDetail">
              <div class="col-left row-header table-cell">
                Item
              </div>

              <div class="row-content table-cell item-text-wrap">
                {{ transaction.itemDetail }}
              </div>
            </div>
          </div>
        </div>
      </ion-list>

      <div class="feedback" ng-if="hasResults()">
        <i class="far fa-credit-card"></i>
        <div class="message">You don't have any {{ activeTab }}<div>
      </div>
    </ion-content>
  </ion-content>
</ion-view>
