<ion-view class="routes-view" view-title="Routes" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <!-- Search Filter  -->
    <search-input query-text="data.queryText" is-filtering="data.isFiltering" ph="Search Routes"></search-input>
    <!-- Scrollable routes list -->
    <ion-content class="routes-scroll">

      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="refreshRoutes(true)"
      ></ion-refresher>

      <ion-list>
        <!-- Error message if problem getting routes data -->
        <div class="item item-text-wrap" ng-if="error">
          <i class="icon ion-alert-circled"></i>
          There was a problem fetching the routes from the server.
          Please try again later and let us know at <!--email_off-->feedback@beeline.sg<!--/email_off--> if the problem persists.
        </div>
        <!-- repeat 5 times -->
        <ion-item ng-repeat="a in [1,2,3,4,5]" ng-if="!data.routesAvailable">
          <animated-route></animated-route>
        </ion-item>

        <!-- Recent Routes Section -->
        <div
          class="item item-divider"
          ng-if="data.activatedCrowdstartRoutes &&
                 data.activatedCrowdstartRoutes.length > 0"
        >
          Your Routes
        </div>
        <ion-item
          ng-repeat="route in data.activatedCrowdstartRoutes"
          ui-sref="tabs.route-detail({
            routeId: route.id,
            pickupStopId:  data.recentRoutesById[route.id].boardStopStopId,
            dropoffStopId: data.recentRoutesById[route.id].alightStopStopId,
          })"
          ng-if="data.activatedCrowdstartRoutes &&
                 data.activatedCrowdstartRoutes.length > 0"
          class="item-icon-right"
        >
          <regular-route route="route"></regular-route>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <!-- Recently booked routes -->
        <div class="item item-divider" ng-if="data.recentRoutes.length > 0">
          Recently Booked Routes
        </div>
        <ion-item
          ng-repeat="route in data.recentRoutes"
          ui-sref="tabs.route-detail({
            routeId: route.id,
            pickupStopId:  data.recentRoutesById[route.id].boardStopStopId,
            dropoffStopId: data.recentRoutesById[route.id].alightStopStopId,
          })"
          class="item-text-wrap item-icon-right"
        >
          <regular-route route="route"></regular-route>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <!-- Route you may like -->
        <!-- hide it if search bar is not empty -->
        <div class="item item-divider" ng-if="data.routesYouMayLike.length > 0 && !data.queryText">
          Routes You May Like
        </div>
        <!-- hide route item if search bar is not empty -->
        <ion-item
          ng-repeat="route in data.routesYouMayLike"
          ng-if="!data.queryText"
          ui-sref="tabs.route-detail({
            routeId: route.id
          })"
          class="item-text-wrap item-icon-right"
        >
          <regular-route route="route"></regular-route>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <!-- Backed Crowdstart Routes -->
        <div
          class="item item-divider"
          ng-if="data.backedCrowdstartRoutes.length > 0"
        >
          Your Crowdstart Pre-orders
        </div>
        <ion-item
          ng-repeat="route in data.backedCrowdstartRoutes"
          class="item-text-wrap item-icon-right"
          ui-sref="tabs.crowdstart-recap({ routeId: route.id })">
          <kickstart-route route="route"></kickstart-route>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <!-- Available Routes Section -->
        <div
          class="item item-divider"
          ng-if="data.liteRoutes.length > 0 || data.routes.length > 0"
        >
          Available Routes
        </div>
        <ion-item
          ng-repeat="route in data.routes"
          ui-sref="tabs.route-detail({ routeId: route.id })"
          class="item-text-wrap item-icon-right"
        >
          <regular-route route="route"></regular-route>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <!-- Available Lite Routes Section -->
        <ion-item
          ng-repeat="route in data.liteRoutes"
          ui-sref="tabs.lite-detail({ label: route.label })"
          class="item-icon-right"
        >
          <lite-route route="route"></lite-route>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <!-- Available Crowdstart Routes -->
        <div
          class="item item-divider"
          ng-if="data.crowdstartRoutes.length &&
                 data.crowdstartRoutes.length > 0"
        >
          Crowdstart Routes
        </div>
        <ion-item
          ng-repeat="route in data.crowdstartRoutes"
          class="item-text-wrap item-icon-right"
          ui-sref="tabs.crowdstart-detail({ routeId: route.id})"
        >
        <kickstart-route route="route"></kickstart-route>
      </ion-list>

      <powered-by-beeline></powered-by-beeline>

      <!-- No results found message -->
      <p
        ng-if="data.routes.length === 0 &&
              data.liteRoutes.length === 0 &&
              data.crowdstartRoutes.length === 0 &&
              data.placeQuery"
        class="not-found-message text-center"
      >
        Sorry, we could not find any routes matching "{{data.queryText}}".
      </p>
    </ion-content>

  </ion-content>

</ion-view>
