<ion-view class="route-detail page-with-map">
  <ion-nav-title>{{data.label}}</ion-nav-title>
  <ion-nav-buttons side="left">
    <menu-hamburger ng-if="disp.showHamburger"></menu-hamburger>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <route-share route-type="'normal'" route-id="data.routeId"></route-share>
  </ion-nav-buttons>
  <div class="bar bar-subheader popup">
    
    <div class="rides-remaining">
        <div class="operator popup-left popup-top">
          <span class="icon-span company-logo">
            <img class="mini-icon" ng-src="{{data.route.transportCompanyId | miniCompanyLogo}}">
          </span>
          {{data.company.name}}
        </div>
        <div class="ticket-price popup-right popup-top">
          <span ng-if="data.price">
            $<span ng-bind="data.price"></span> per trip
          </span>
        </div>

        <div ng-if="data.isLoggedIn && data.passCount > 0" class="route-pass-remaining popup-left">
          <i class="fas fa-ticket-alt"></i>
          <span class="text route-pass-button"
                ng-if="data.passCount === 1"
                ng-click="popupRoutePassExpiry()"><a><u>{{ data.passCount || 0 }} Route Pass</u></a></span> 
          <span class="text route-pass-button"
                ng-if="data.passCount > 1"
                ng-click="popupRoutePassExpiry()"><a><u>{{ data.passCount || 0 }} Route Passes</u></a></span>
        </div>

        <div ng-if="(data.passCount > 0 || data.routeSupportsRoutePass)" class="buy-route-pass popup-right">
          <span class="route-pass-button"
          ng-if="data.routeSupportsRoutePass"
          ng-click="buyMore()">
          <a><u>Buy Passes to save more</u></a>
        </span>
        </div>
      </div>

    <div class="ticket-popunder" ng-if="data.hasNextTripTicket">
      <button class="ticket-target" ng-click="viewTicket()">
        <i class="fas fa-tag"></i><span class="ticket-text">View Ticket</span>
      </button>
    </div>
  </div>

  <ion-content scroll="false">
    <div class="padding-ticket-subheader" ng-if="data.hasNextTripTicket"></div>
    <div class="padding-routepass-subheader" ng-if="data.isLoggedIn && (data.passCount > 0 || data.routeSupportsRoutePass)"></div>
    <div class="booking-view">
      <form name="stopsForm" class="stops-selector">
        <div class="item item-icon-left item-icon-right board-stop-selector stop-selector" on-tap="choosePickup()">
          <i class="icon pickup-stop"></i>
          <span class="placeholder" ng-hide="data.pickupStop">Select pickup stop</span>
          <span ng-show="data.pickupStop" ng-model="data.pickupStop" ng-bind="(data.pickupStop.time|formatTime) + ' - ' + data.pickupStop.description" ng-required="true"></span>
          <i class="icon ion-ios-arrow-right arrow-icon"></i>
        </div>
        <div class="item item-icon-left item-icon-right alight-stop-selector stop-selector" on-tap="chooseDropoff()">
          <i class="icon dropoff-stop"></i>
          <span class="placeholder" ng-hide="data.dropoffStop">Select dropoff stop</span>
          <span ng-show="data.dropoffStop" ng-model="data.dropoffStop" ng-bind="(data.dropoffStop.time|formatTime) + ' - ' + data.dropoffStop.description" ng-required="true"></span>
          <i class="icon ion-ios-arrow-right arrow-icon"></i>
        </div>
      </form>
      <div class="booking-info">
        <span ng-if="data.hasNextTripTicket">
          You have already booked this trip.
        </span>
        <span ng-if="data.boardStopInvalid">
          The pickup stop is unavailable.
        </span>
        <span ng-if="data.alightStopInvalid">
          The dropoff stop is unavailable.
        </span>
        <countdown ng-if="!data.hasNextTripTicket" board-time="data.nextTrip && data.nextTrip.boardTime" booking-ends="data.bookingEnds"></countdown>

        <button class="button primary-button book-button"  ng-disabled="stopsForm.$invalid || !data.nextTrip.seatsAvailable || data.hasNextTripTicket || disp.isBooking || data.bookingEnds || data.boardStopInvalid || data.alightStopInvalid" ng-click="bookNextTrip()">
          <span ng-if="data.nextTrip.seatsAvailable">Book Next Trip{{ ' '+(data.nextTrip.date.getTime() | date:'dd MMM' : 'Z')+' '}}<span ng-show="data.nextTrip.date">{{'('+(data.nextTrip.date.getTime() | date:'EEE' : 'Z')+')'}}</span></span>
          <span ng-if="!data.nextTrip.seatsAvailable">Tickets are sold out</span>
        </button>

        <button class="button button-clear button-royal advance-button"
          ui-sref = "tabs.route-dates({
            routeId: data.routeId,
            boardStop: data.pickupStop.id,
            alightStop: data.dropoffStop.id,
          })"
          ng-disabled="stopsForm.$invalid">
          <u>Advance Booking</u>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
