<ion-view id="pg_summary" view-title="Review Purchase">
  <ion-content class="booking-summary">
    <ion-refresher pulling-text="Pull to refresh..."
                   on-refresh="refreshPrices()"
                   ng-if="user">
    </ion-refresher>

    <section class="card">
      <h3 class="item card-title first">
        Promo Code
      </h3>

      <div class="promo-code item">
        <input type="text"
              class="button"
              placeholder="Promo Code"
              ng-model="book.promoCodeEntered">
        </input>

        <button class="button primary-button"
                ng-click="enterPromoCode()">
          Apply
        </button>
      </div>
      <div class="text-center">
        <ion-spinner ng-show="book.isVerifying"></ion-spinner>
      </div>
      <div class="item feedback assertive item-text-wrap">{{book.feedback}}</div>

      <div class="item-divider no-text"></div>
    </section>

    <section class="card" ng-if="(book.route.ridesRemaining && book.route.ridesRemaining > 0)">
      <div class="item route-pass-use">
        <h3 class="card-title">
          Use Route Pass
        </h3>

        <ion-toggle class="route-pass-toggle" ng-model="book.applyRoutePass" toggle-class="toggle-royal">
        </ion-toggle>
      </div>
      <div class="item-divider no-text"></div>
    </section>


    <section class="card" id="priceCalc">
      <h3 class="item card-title">
        Payment
      </h3>
      <price-calculator class="item" booking="book" price="book.price">
      </price-calculator>
      <div class="item-divider no-text"></div>
    </section>


    <section class="card">
      <company-tnc company-id="book.route.transportCompanyId"
                   features="book.features"
                   title-text="'Operated By'"></company-tnc>

      <div class="item booking-checkbox">
        <ion-checkbox class="checkbox-text item-text-wrap" ng-model="disp.termsChecked">
          Yes, I have read and agree to the Booking Policy.
        </ion-checkbox>
      </div>
      <div class="item-divider no-text"></div>

      <div ng-if="!book.hasSavedPaymentInfo && !disp.zeroDollarPurchase && isLoggedIn">
        <div class="item booking-checkbox">
          <ion-checkbox
            class="checkbox-text item-text-wrap"
            ng-model="disp.savePaymentChecked">
            Yes, I want to save this payment method for fast checkout in the future.
          </ion-checkbox>
        </div>
        <div class="item-divider no-text"></div>
      </div>
    </section>

    <section class="card">
      <div class="item item-text-wrap item-no-title">
        <div class="buttons">
          <!-- BUY TICKET BUTTON -->
          <!-- Note that book.routePassChoice === null is not the same as
                !book.routePassChoice because when book.routePassChoice is 0
                one is truthy and one is falsey
           -->
          <div ng-if="isLoggedIn">
            <div class="warning-text assertive" ng-if="isLoggedIn && book.hasInvalidDate">
              You have invalid booking dates. Please re-select your dates.
            </div>
            <div class="warning-text" ng-if="isLoggedIn && !book.hasInvalidDate && !disp.termsChecked">
              Please accept the terms and conditions before purchasing
            </div>
            <div class="warning-text" ng-if="isLoggedIn && !book.hasInvalidDate && disp.termsChecked && book.hasSavedPaymentInfo"> 
              This payment will be charged to your <b>{{user.savedPaymentInfo.sources.data[0].brand}}</b> ending in <b> {{user.savedPaymentInfo.sources.data[0].last4}} </b>.
            </div>
            <div class="warning-text" ng-if="isLoggedIn && !book.hasInvalidDate && disp.termsChecked && !book.hasSavedPaymentInfo">
              Please ensure that your credit card is ready for the next step in the booking process.
            </div>
            <button class="primary-button button" ng-click="payHandler()"
                    ng-disabled="!disp.termsChecked || isPaymentProcessing || book.hasInvalidDate || isPreviewCalculating || book.price===undefined">
              <span ng-if="!book.hasSavedPaymentInfo">Complete purchase</span>
              <span ng-if="book.hasSavedPaymentInfo">Confirm and Pay</span>
            </button>
            <div class="text-link-div">
              <a ng-class="(!disp.termsChecked || isPaymentProcessing || book.hasInvalidDate || isPreviewCalculating) ? 'text-link-disabled' : ''"
                  ng-click="payHandler(true)">
                  Use a different card for this payment
              </a>
            </div>
          </div>

          <!-- LOGIN BUTTON -->
          <div ng-if="!isLoggedIn">
            <div class="warning-text">
              Please log in to proceed
            </div>
            <button class="primary-button button" ng-click="login()"
                    ng-if="!book.user">
              Log In
            </button>
          </div>

        </div>
      </div>
    </section>
    <p class="padding-bottom"></p>
  </ion-content>
</ion-view>
