<ion-view view-title="Crowdstart Route Details"
 can-swipe-back="false" class="crowdstart-detail page-with-map">
 <ion-nav-title>Crowdstart {{ book.route.label }}</ion-nav-title>
 <ion-nav-buttons side="left">
   <menu-hamburger ng-if="disp.showHamburger"></menu-hamburger>
 </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <route-share ng-if="book.routeId !== 'preview'" route-type="'crowdstart'" route-id="book.routeId"></route-share>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="item progress-bar-item">
      <progress-bar backer1="book.route.notes.tier[0].count || 0"
        price1="book.route.notes.tier[0].price"
        pax1="book.route.notes.tier[0].pax"
        detail=true
        needed="book.route.notes.tier[0].moreNeeded">
      </progress-bar>
    </div>

    <div class="item item-icon-left item-text-wrap" ng-if="book.route.isExpired">
        <i class="icon activebid">
            <img src="img/icon_crowdstart_status.svg">
        </i>
        Campaign has expired.
        <span ng-if="book.route.isActived">Route is activated.</span>
        <span ng-if="!book.route.isActived">Route is not activated.</span>
    </div>

    <div class="item item-text-wrap">

      <div class="icon-and-schedule">
        <span class="icon-span">
          <img class="mini-icon" ng-src="{{ disp.company.id | miniCompanyLogo }}">
        </span>
        <span class="mini-info" ng-if="disp.company">
          {{ disp.company.name }}
        </span>
        <span class="mini-info float-right" ng-if="book.route.notes.tier[0].price">
          ${{ book.route.notes.tier[0].price | number:2 }} per trip
        </span>
      </div>

      <div class="icon-and-schedule">
        <span class="icon-span">
          <img class="mini-icon" src="img/icon_crowdstart_timeleft.svg">
        </span>
        <span class="mini-info" ng-if="book.route">
          {{ book.route.schedule }}
        </span>
      </div>

      <div class="icon-and-schedule" ng-if="book.route.daysLeft">
        <span class="icon-span">
          <img class="mini-icon" src="img/icon_schedule.svg">
        </span>
        <span class="mini-info" ng-if="book.route.daysLeft && book.route.daysLeft>1">
          Campaign ends in {{book.route.daysLeft}} days
        </span>
        <span class="mini-info" ng-if="book.route.daysLeft && book.route.daysLeft==1">
          Campaign ends in {{book.route.daysLeft}} day
        </span>
        <span class="mini-info" ng-if="book.route.isExpired">
          Campaign has expired
        </span>
      </div>

      <div class="icon-and-schedule">
        <span class="icon-span">
          <img class="mini-icon" src="img/icon_crowdstart_status.svg">
        </span>
        <span class="mini-info">
          Trips start on {{book.route.trips[0].date | date:'dd MMM yyyy' : 'Z'}} if crowdstarted
        </span>
      </div>

    </div>

    <ion-item class="item-icon-right stops-button" ng-click="showStops()">
      <i class="fas fa-circle"></i>
      <span class="view-stops">View Stops</span>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <div class="item item-text-wrap text-center">

      <button class="button primary-button " ng-if="disp.bidded === false" ui-sref="tabs.crowdstart-summary({
                      routeId: book.routeId,
                      bidPrice: book.bidOptions[0].price
                    })">
                    Join Crowdstart
      </button>

      <div ng-if="disp.bidded === true" class="assertive">
        <i class="fas fa-user"></i> You've joined this crowdstart route.
      </div>

      <button class="button button-clear button-royal view-info-button"
        ui-sref = "tabs.crowdstart-summary({
          routeId: book.routeId,
          bidPrice: book.bidOptions[0].price,
          bidded: disp.bidded
        })"
        ng-if="disp.bidded">
        <u>View Info</u>
      </button>
    </div>

  </ion-content>
</ion-view>
