<ion-view id="pg_kickstarter_summary" view-title="Join Crowdstart" hide-back-button="false" can-swipe-back="false">

  <ion-content class="has-header kickstarter-summary">

    <section class="card text-center" ng-if="disp.bidded">
      <div class="item withdraw-item">
        <div class="assertive"><i class="fas fa-user"></i> You've joined this crowdstart route.</div>

        <button class="button button-clear button-royal view-info-button"
          on-tap="popupWithdraw()">
          <u>Withdraw my pre-order</u>
        </button>
      </div>
      <div class="item-divider no-text"></div>
    </section>

    <section class="card">
      <h3 class="item card-title">
        How to activate a route
      </h3>

      <div class="item item-text-wrap">

        <kickstart-info route="book.route"
         pass-hide="false"
         preorder-hide="true"
        ></kickstart-info>

      </div>
      <div class="item-divider no-text"></div>
    </section>

    <company-tnc
      company-id="book.route.transportCompanyId"
      notes-hide="true"></company-tnc>

    <section class="card" ng-if="!disp.bidded">
      <h3 class="item card-title">
        Future Payment
      </h3>

      <div class="item item-text-wrap">
        <table class="booking-info">
          <tr>
            <td>{{priceInfo.tripCount || 0}} Trips Route Pass</td>
            <td class="right">${{priceInfo.totalDue | number:2}}</td>
          </tr>
          <tr class="total-sum">
            <td class="total-sum"><b>Total</b></td>
            <td class="total-sum right"><b>${{priceInfo.totalDue | number:2}}</b></td>
          </tr>
        </table>
      </div>
      <div class="item-divider no-text"></div>
    </section>

    <section class="card" ng-if="!disp.bidded">
      <div class="item item-text-wrap" ng-if="!isLoggedIn || !book.isBid">
        <div class="checkTerms">
          <ion-checkbox ng-model="book.acceptPolicy">
            Yes, I have read and agree to the above terms.
          </ion-checkbox>
        </div>
      </div>
      <div class="item-divider no-text"></div>
    </section>

    <section class="card" ng-if="!isLoggedIn" ng-if="!disp.bidded">
      <div class="item item-text-wrap" ng-if="!isLoggedIn">
        <p class="text-center">
          You are not logged in. Please enter your mobile number to complete pre-order.
        </p>

        <button class="button primary-button" ng-click="login()" ng-disabled="!book.acceptPolicy || waitingForPaymentResult">
          Log In
        </button>
      </div>
      <div class="item-divider no-text"></div>
    </section>

    <section class="card" ng-if="isLoggedIn && !book.isBid && !disp.bidded">
      <div class="item item-text-wrap text-center item-no-title" ng-if="isLoggedIn && !book.isBid">

        <div ng-if="!data.hasCreditInfo">
          <p class="text-center">
            Please add your card details for future payment when the route activates.
          </p>
          <!-- will be prompted to add card -->
          <button class="button primary-button" ng-click="createBid()" ng-disabled="!book.acceptPolicy || waitingForPaymentResult">
            Confirm Pre-order
          </button>
        </div>
        <div ng-if="data.hasCreditInfo">
          <p class="text-center">
            This payment will be charged to your <br /><b>{{data.brand}}</b> ending in <b> {{data.last4Digits}}</b> if route is activated.
          </p>
          <button class="button primary-button"
                  ng-click="createBid()"
                  ng-disabled="!book.acceptPolicy || waitingForPaymentResult">
            Pre-order Route Pass
          </button>
          <div class="text-link-div">
            <a ng-click="updateSavingCard()" ng-if="book.acceptPolicy && !waitingForPaymentResult">
             Use a different card for this payment</a>
          </div>
        </div>
      </div>
      <div class="item-divider no-text"></div>
    </section>
  </ion-content>
</ion-view>
