<ion-view class="kickstarter-list" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="showHelpPopup()">
        <i class="icon ion-ios-help-outline"></i>
     </button>
  </ion-nav-buttons>

  <ion-nav-title>Crowdstart Routes</ion-nav-title>
  <ion-content scroll="false">
    <!-- Search Filter  -->
    <search-input query-text="data.queryText" is-filtering="data.isFiltering" ph="Search Crowdstart Routes"></search-input>

    <ion-content class="list">
      <div class="item item-text-wrap item-icon-left" ng-if="data.error">
        <i class="icon ion-alert-circled"></i>
        There was a problem fetching information from the server. Please try again later.
      </div>
      <div class="item item-text-wrap no-kickstarter" ng-if=" data.backedKickstarter &&
                                                              data.kickstarter &&
                                                              data.backedKickstarter.length==0 &&
                                                              data.kickstarter.length==0">
        <img src="./img/bgnokickstarter.svg">
        <h2>No new Crowdstart route</h2>
        <p>There are no new Crowdstart routes at the moment.</p>
      </div>
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshRoutes()">
      </ion-refresher>
      <!-- recently bid Crowdstart -->
      <div class="item item-divider" ng-if="data.filteredbackedKickstarter.length > 0">
        Your Crowdstart pre-orders
      </div>

      <ion-item ng-repeat="route in data.filteredbackedKickstarter" class="item-text-wrap item-icon-right" ui-sref="tabs.crowdstart-recap({
                     routeId: route.id
                   })">
        <kickstart-route route="route"></kickstart-route>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>


      <!-- available Crowdstart -->
      <div class="item item-divider" ng-if="data.filteredKickstarter.length > 0">
        Available Crowdstart Routes ({{data.filteredKickstarter.length}})
      </div>

      <div>
        <ion-item ng-repeat="route in data.filteredKickstarter" class="item-text-wrap item-icon-right" ui-sref="tabs.crowdstart-detail({
                                    routeId: route.id
                                   })">
         <kickstart-route route="route"></kickstart-route>
         <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </div>

      <p ng-if="data.filteredbackedKickstarter.length === 0 && data.filteredKickstarter.length === 0
        && data.filterText" class="not-found-message text-center">
          Sorry, we could not find any Crowdstart routes matching "{{data.filterText}}".
      </p>

      <powered-by-beeline></powered-by-beeline>

    </ion-content>

  </ion-content>
</ion-view>
