<map-poly-route route-path="mapObject.routePath"></map-poly-route>
<map-curved-route
  ng-if="mapObject.curvedPath"
  start="mapObject.curvedPath.board"
  end="mapObject.curvedPath.alight">
</map-curved-route>
<!-- for lite route -->
<ui-gmap-marker
  ng-repeat="stop in mapObject.stops"
  idKey="stop.id"
  coords="stop.coordinates"
  options="stop.canBoard ? (stop.canAlight ? map.markerOptions.normalMarker : map.markerOptions.boardMarker) : map.markerOptions.alightMarker"
  click="applyTapBoard(stop)"
></ui-gmap-marker>
<ui-gmap-window ng-if="disp.popupStop"
                coords="disp.popupStop.coordinates"
                show="disp.popupStop"
                closeClick="closeWindow">
  <div class="popUpStopSelect">
    <b ng-if="!isArray(disp.popupStop.time)">{{formatStopTime(disp.popupStop.time)}}<br/></b>
    {{disp.popupStop.description}}<br/>{{disp.popupStop.road}}<br/>
  </div>
</ui-gmap-window>
<ui-gmap-marker idkey="'boardstop'"
                ng-if="mapObject.boardStop.stop"
                coords="mapObject.boardStop.stop.coordinates"
                options="map.markerOptions.startMarker"></ui-gmap-marker>
<ui-gmap-marker idkey="'alightstop'"
                ng-if="mapObject.alightStop.stop"
                coords="mapObject.alightStop.stop.coordinates"
                options="map.markerOptions.endMarker"></ui-gmap-marker>
<ui-gmap-marker ng-if="mapObject.chosenStop"
                idkey="'selectedStopPin'"
                coords="mapObject.chosenStop.coordinates"
                options="mapObject.chosenStop.canBoard ? (mapObject.chosenStop.canAlight ? map.markerOptions.normalPinMarker : map.markerOptions.startMarker) : map.markerOptions.endMarker">
</ui-gmap-marker>
<map-bus-icon ng-repeat="recentPings in mapObject.allRecentPings track by $index"
              idkey="'bus-icon' + $index"
              ng-if="recentPings.isRecent"
              pings="recentPings.pings"
              overlay="$index + 1"></map-bus-icon>
