<ion-view class="route-detail">
  <ion-content scroll="false">
    <div class="item item-icon-left item-icon-right" on-tap="choosePickup()">
      <i class="icon pickup-stop"></i>
      <span class="placeholder" ng-hide="data.pickupStop">Select pickup stop</span>
      <span ng-bind="data.pickupStop"></span>
      <i class="icon ion-ios-arrow-right"></i>
    </div>
    <div class="item item-icon-left item-icon-right" on-tap="chooseDropoff()">
      <i class="icon dropoff-stop"></i>
      <span class="placeholder" ng-hide="data.dropoffStop">Select dropoff stop</span>
      <span ng-bind="data.dropoffStop"></span>
      <i class="icon ion-ios-arrow-right"></i>
    </div>
    <div class="booking-info">
      <span ng-if="data.passCount === 0">
        You don't have any credits remaining
      </span>
      <span ng-if="data.passCount === 1">
        You have 1 credit remaining
      </span>
      <span ng-if="data.passCount >= 1">
        You have {{ data.passCount }} credits remaining
      </span>
      <button class="button primary-button" on-tap="bookNext()">
        Book next trip
      </button>
      As low as $4.30 per trip
    </div>
  </ion-content>
</ion-view>