<ion-view class="create-new-suggestion" hide-back-button="true">
  <ion-nav-buttons side="left">
    <menu-hamburger></menu-hamburger>
  </ion-nav-buttons>
  <ion-nav-title>Search Routes</ion-nav-title>
  <ion-content scroll="false">

    <div class="create-view">
      <div class="from-to-bars stops-selector">
        <location-search query-location="data.pickUpLocation" ph="Pick Up Address" icon="pickup" class="pickup-location-bar"></location-search>
        <from-to-bars drop-off-location="data.dropOffLocation" pick-up-location="data.pickUpLocation"></from-to-bars>
        <location-search query-location="data.dropOffLocation" ph="Drop Off Address" icon="dropoff" class="dropoff-location-bar"></location-search> 
      </div>

      <button 
        class="primary-button submit-btn" 
        ng-click="search()" 
        ng-disabled="!data.pickUpLocation && !data.dropOffLocation">
        Search
      </button>
    </div>

  </ion-content>
</ion-view>
