<ion-view class="route-detail page-with-map" hide-back-button="true" ng-init="activeTab = 0">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button"
       ui-sref="tabs.routes"
       ng-if="!data.showSideMenu">
       <i class="icon ion-ios-arrow-back"></i>
    </button>
    <button menu-toggle="left" class="button button-icon icon ion-navicon"  ng-if="data.showSideMenu"></button>
  </ion-nav-buttons>
  <ion-nav-title>{{disp.navTitle}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <route-share is-normal-route="true" route-id="data.routeId"></route-share>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <div ng-show="activeTab==0" class="bookingView">
      <form name="stopsForm">
        <div class="rides-remaining" ng-if="data.passCount > 0 || data.routeSupportsRoutePass" >
            <i class="icon">
                <img src="img/icon_kickstarter_activebid.svg">
            </i>
            <span class="text" ng-if="data.passCount > 0 || (data.routeSupportsRoutePass && data.isLoggedIn)">You have {{ data.passCount || 0 }} pass(es) remaining for this route</span> <!-- Use by DD/MM/YY. -->
            <span class="text" ng-if="!book.isLoggedIn"></span>
            <span class="buy-more-button"
              ng-if="data.routeSupportsRoutePass"
              ng-click="buyMore()">
              <button class="button button-positive button-small button-outline"><i class="ion-ios-cart"></i>&nbsp;Buy more</button>
            </span>
            <span ng-if="!data.routeSupportsRoutePass" class="buy-more-button"></span>
        </div>

        <div class="item item-icon-left item-icon-right" on-tap="choosePickup()">
          <i class="icon pickup-stop"></i>
          <span class="placeholder" ng-hide="data.pickupStop">Select pickup stop</span>
          <span ng-model="data.pickupStop" ng-bind="data.pickupStop.description" ng-required="true"></span>
          <i class="icon ion-ios-arrow-right"></i>
        </div>
        <div class="item item-icon-left item-icon-right" on-tap="chooseDropoff()">
          <i class="icon dropoff-stop"></i>
          <span class="placeholder" ng-hide="data.dropoffStop">Select dropoff stop</span>
          <span ng-model="data.dropoffStop" ng-bind="data.dropoffStop.description" ng-required="true"></span>
          <i class="icon ion-ios-arrow-right"></i>
        </div>
      </form>
      <div class="booking-info">
        <span ng-if="data.nextTrip.hasNextTripTicket">
          You have already booked this trip.
        </span>
        <span ng-if="data.boardStopInvalid">
          The pickup stop is not available for this trip.
        </span>
        <span ng-if="data.alightStopInvalid">
          The dropoff stop is not available for this trip.
        </span>
        <countdown board-time="data.nextTrip && data.nextTrip.boardTime" booking-ends="data.bookingEnds"></countdown>
        <button class="button primary-button" ng-click="bookNext()" ng-if="!data.nextTrip.hasNextTripTicket"
          ng-disabled="stopsForm.$invalid || !data.nextTrip.seatsAvailable || data.nextTrip.hasNextTripTicket || disp.isBooking || data.bookingEnds || data.boardStopInvalid || data.alightStopInvalid">
          <span ng-if="data.nextTrip.seatsAvailable">Book Next Trip{{ ' '+(data.nextTrip.date.getTime() | date:'dd MMM' : 'Z')+' '}}<span ng-show="data.nextTrip.date">{{'('+(data.nextTrip.date.getTime() | date:'EEE' : 'Z')+')'}}</span></span>
          <span ng-if="!data.nextTrip.seatsAvailable">Tickets are sold out</span>
        </button>
        <button class="button primary-button" ng-click="toggle()" ng-if="data.nextTrip.hasNextTripTicket">
           View Ticket <b>></b>
        </button>
        <span ng-if="data.price">
          $<span ng-bind="data.price"></span> per trip
        </span>
        <button class="button button-clear button-royal"
          ui-sref = "tabs.route-dates({
            routeId: data.routeId,
            boardStop: data.pickupStop.id,
            alightStop: data.dropoffStop.id,
          })"
          ng-disabled="stopsForm.$invalid">
          <u>Advance Booking</u>
        </button>
      </div>
    </div>
    <div ng-show="activeTab===1" class="ticketView">
      <div class="booking-info trip-info">
        <div class="row">
          <div class="col col-20">
            <span class="bus-number">{{data.label}}</span>
          </div>
          <div class="col">
            <h4>Trip Code </h4>
            <trip-code class="trip-code" code="disp.tripCode" ng-if="disp.tripCode">
            </trip-code>
            <span ng-if="!disp.tripCode">Not available</span>
          </div>
          <div class="col">
            <h4>Vehicle No.</h4>
            <div ng-if="disp.vehicle" class="vehicleNo" ng-bind="disp.vehicle">
            </div>
            <div ng-if="!disp.vehicle">
              Not provided
            </div>
          </div>
          <div class="col">
            <h4>Passenger</h4>
            <div ng-bind="data.user.name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="route-info">
            <div class="start">
              <span class="time" ng-bind="ticket.boardStop.time | date:'h:mm a' : '+0800'"></span><img class="route-icon" src="./img/RoutePairSmallStart.svg" />
              <div class="routeDetailDesc">{{ticket.boardStop.stop.description}}, {{ticket.boardStop.stop.road}}</div>
            </div>
            <div class="end">
              <span class="time" ng-bind="ticket.alightStop.time | date:'h:mm a' : '+0800'"></span><img class="route-icon" src="./img/RoutePairSmallEnd.svg" />
              <div class="routeDetailDesc">{{ticket.alightStop.stop.description}}, {{ticket.alightStop.stop.road}}</div>
            </div>
          </div>
        </div>
        <button class="button primary-button" ng-click="toggle()">
           <b><</b> Buy More Tickets
        </button>
      </div>
   </div>

  </ion-content>
</ion-view>
