<ion-view view-title="Route Info"
  hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button"
            ui-sref="tabs.lite-detail({
              label: data.label,
            })"
            class="item-icon-right">
       <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <more-info company-id="data.companyId"
               features="data.features">
    </more-info>

  </ion-content>
</ion-view>
