<ion-view on-touch="hideTooltip()" class="lite-detail" view-title="Route Details">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button"
       ui-sref="tabs.routes">
       <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <daily-trips-broker trip-label="book.route.label"
                 daily-trips="book.todayTrips">
    </daily-trips-broker>
    <form class="stops-form" name="stopsForm">
      <!-- <booking-breadcrumbs step="0" class="flex-shrink"></booking-breadcrumbs> -->
      <in-service-window available-trips="book.todayTrips"
                         in-service-window="book.inServiceWindow">
      </in-service-window>
      <div class="route-info">
        <div class="item item-icon-left item-text-wrap" ng-if="!book.hasTrips">
          <span class="icon ion-android-alert"></span>
          There is no bus service scheduled for today.
        </div>
        <div class="item item-icon-left item-text-wrap" ng-if="book.hasTrips && book.inServiceWindow===false">
          <span class="icon ion-android-alert"></span>
          The bus service will only be available from {{ book.route.startTime | formatTime}} to {{ book.route.endTime | formatTime}}.
        </div>
        <div class="item item-icon-left item-text-wrap" ng-if="book.hasTrips && book.inServiceWindow && disp.hasTrackingData === false">
          <span class="icon ion-android-alert"></span>
          The bus location tracking is not available at the moment.
        </div>
        <div class="item item-icon-left item-text-wrap" ng-if="disp.statusMessages.trim()">
          <span class="icon ion-android-alert"></span>
          {{disp.statusMessages.trim()}}
        </div>
        <fake-progress-bar max="100" interval="100"></fake-progress-bar>
        <route-item class="lite item"  ng-class="{'lite-tracked': book.isSubscribed}" hide-additional-info="!disp.showTooltip">
          <route-item-bus-number>
            {{ book.route.label }}
          </route-item-bus-number>
          <route-item-description>
            {{ book.route.notes.description }}
          </route-item-description>
          <route-item-start-time>
            {{ book.route.startTime | formatTime:true }}
          </route-item-start-time>
          <route-item-start-location>
            {{ book.route.from }}
          </route-item-start-location>
          <route-item-end-time>
            {{ book.route.endTime  | formatTime:true }}
          </route-item-end-time>
          <route-item-end-location>
            {{ book.route.to }}
          </route-item-end-location>
          <route-item-additional-info>
            <div class="corner-triangle">
              <a>
                <span class="tooltiptext"> Tracking Only Route </span>
              </a>
            </div>
          </route-item-additional-info>
        </route-item>
      </div>

      <company-info-broker company-id="book.route.transportCompanyId"
                            company="disp.companyInfo">
      </company-info-broker>

      <div class="lite-form">
        <div class="item-text-wrap">
          <div class="item item-icon-right"
               ui-sref="tabs.lite-more-info({
                 companyId: book.route.transportCompanyId,
                 label: book.route.label})">
            More Information
            <i class="icon ion-ios-arrow-right"></i>
          </div>
        </div>

        <section class="item item-text-wrap"
                 ng-if="!isLoggedIn">
          <p class="text-center">
            You are not logged in. Please enter your mobile number to bookmark this route.
          </p>
          <button class="button primary-button"
                  ng-click="login()">
            Bookmark Route
          </button>
        </section>

        <section class="item item-text-wrap"
                 ng-if="isLoggedIn && !book.isSubscribed">
                 <p class="text-center">
                  By clicking on the button below, you can bookmark this route in your trips list.
                 </p>
          <button class="button primary-button"
                  ng-click="showConfirmationPopup()"
                  ng-disabled="book.waitingForSubscriptionResult">
            Bookmark Route
          </button>
        </section>

        <section class="item item-text-wrap"
                 ng-if="isLoggedIn && book.isSubscribed">
          <button class="button primary-button"
                  ui-sref="tabs.tickets">
            View Routes
          </button>
          <div class="untrack-link">
            <a ng-click="promptUntrack()">Unbookmark this route</a>
          </div>
        </section>
      </div>
    </form>
  </ion-content>
</ion-view>
