<ion-view class="lite-detail page-with-map" view-title="Route Details"
  hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button"
       ui-sref="tabs.tickets">
       <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <daily-trips-broker trip-label="book.route.label"
                 daily-trips="book.todayTrips">
    </daily-trips-broker>
    <form class="stops-form" name="stopsForm">
      <in-service-window available-trips="book.todayTrips"
                         in-service-window="book.inServiceWindow">
      </in-service-window>
      <div class="route-info">
        <div class="item item-icon-left item-text-wrap" ng-if="!book.hasTrips">
          <span class="icon ion-android-alert"></span>
          There is no bus service scheduled for today.
        </div>
        <div class="item item-icon-left item-text-wrap" ng-if="book.hasTrips && book.inServiceWindow===false">
          <span class="icon ion-android-alert"></span>
          The bus service will only be available from {{ book.route.startTime | formatTime}} to {{ book.route.endTime | formatTime}}.
        </div>

        <div class="item item-icon-left item-text-wrap" ng-if="book.hasTrips && book.inServiceWindow && disp.hasTrackingData === false">
          <span class="icon ion-android-alert"></span>
          The bus location tracking is not available at the moment.
        </div>
        <div class="item item-icon-left item-text-wrap" ng-if="disp.statusMessages.trim()">
          <span class="icon ion-android-alert"></span>
          {{disp.statusMessages.trim()}}
        </div>
        <fake-progress-bar max="100" interval="100"></fake-progress-bar>
        <lite-route class="item" route="book.route" is-subscribed="book.isSubscribed"></lite-route>
      </div>

      <company-info-broker company-id="book.route.transportCompanyId"
                            company="disp.companyInfo">
      </company-info-broker>

      <div class="lite-form">
        <div class="item-text-wrap">
          <div class="item item-icon-right"
               ui-sref="tabs.lite-tracker-more-info({
                 companyId: book.route.transportCompanyId,
                 label: book.route.label})">
            More Information
            <i class="icon ion-ios-arrow-right"></i>
          </div>
        </div>

        <section class="item item-text-wrap"
                 ng-if="isLoggedIn && book.isSubscribed">
          <div class="untrack-link">
            <a ng-click="promptUntrack()">Unbookmark this route</a>
          </div>
        </section>
      </div>
    </form>
  </ion-content>
</ion-view>
