
<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view id="tabs">
  <ion-side-menus>

    <!-- Main content, usually <ion-nav-view> -->
    <ion-side-menu-content>
      <div ng-if="isMenuOpen()" class="touch-disabled"></div>
      <div class="left-pane">
        <ion-nav-bar class="bar-light">
          <ion-nav-back-button class="button button-clear back-button">
            <i class="icon ion-ios-arrow-back"></i>
          </ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
      </div>

      <ui-gmap-google-map
        center="map.center"
        pan="true"
        zoom="map.zoom"
        bounds="map.bounds"
        dragging="map.dragging"
        control="map.control"
        options="map.options"
        data-tap-disabled="true"
      >
          <my-location></my-location>
          <ui-view name="map-area"></ui-view>
      </ui-gmap-google-map>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
      <header class="bar bar-header bar-royal">
      </header>
      <ion-content class="has-header left-menu-column" scroll="false">
        <a class="item" menu-close ui-sref="tabs.yourRoutes" ui-sref-active="active" ng-if="disp.isLoggedIn">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Your Routes
        </a>
        <a class="item" menu-close ui-sref="tabs.tickets" ui-sref-active="active" ng-if="disp.isLoggedIn">
          <i class="fa fa-ticket-alt fa-fw" aria-hidden="true"></i>&nbsp; Your Tickets
        </a>
        <a class="item" menu-close ui-sref="tabs.your-suggestions" ui-sref-active="active" ng-if="disp.isLoggedIn">
          <i class="fa fa-ticket-alt fa-fw" aria-hidden="true"></i>&nbsp; Your Suggestions
        </a>
        <a class="item" menu-close ui-sref="tabs.routes" ui-sref-active="active">
          <i class="fa fa-bus fa-fw" aria-hidden="true"></i>&nbsp; Search Routes
        </a>
        <a class="item" menu-close ui-sref="tabs.settings" ui-sref-active="active">
          <i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings
        </a>
        <a class="item" menu-close ng-if="!disp.isLoggedIn" ng-click="login()">
          <i class="fa fa-sign-in-alt fa-fw" aria-hidden="true"></i>&nbsp; Log In
        </a>
        <powered-by-beeline class="powered-by-beeline" suggest-hide="true" power-hide="false" built-by-show="true"></powered-by-beeline>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>
</ion-view>
