
<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view id="tabs">
  <ion-side-menus>

    <!-- Main content, usually <ion-nav-view> -->
    <ion-side-menu-content>
      <div class="left-pane">
        <ion-nav-bar class="bar-royal">
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
      </div>

      <ui-gmap-google-map
        center="map.center"
        pan="true"
        zoom="map.zoom"
        bounds="map.bounds"
        dragging="map.dragging"
        control="map.control"
        options="map.options"
        data-tap-disabled="true"
      >
          <my-location></my-location>
          <ui-view name="map-area"></ui-view>
      </ui-gmap-google-map>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
      <header class="bar bar-header bar-stable">
      </header>
      <ion-content class="has-header">
        <ion-list>
          <ion-item menu-close ui-sref="tabs.routes">
            <i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp; Search Routes
          </ion-item>
          <ion-item menu-close ui-sref="tabs.routes">
            <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; All Routes
          </ion-item>
          <ion-item menu-close ui-sref="tabs.crowdstart">
            <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Crowdstart Routes
          </ion-item>
          <!--My routes section  -->
          <h2 class="item item-divider" ng-if="data.myBookingRoutes.length > 0 || data.myLiteRoutes.length > 0">My Routes</h2>
          <ion-item  class="sub-list" ng-repeat="item in data.myBookingRoutes" menu-close  ng-if="data.myBookingRoutes.length > 0"
            ui-sref="tabs.my-booking-routes({
              routeId: item.id,
              pickupStopId:  item.boardStopStopId,
              dropoffStopId: item.alightStopStopId,
            })">
            <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; {{item.label}}
          </ion-item>
          <ion-item  class="sub-list" ng-repeat="item in data.myActivatedCrowdstartRoutes" menu-close  ng-if="data.myActivatedCrowdstartRoutes.length > 0"
            ui-sref="tabs.my-booking-routes({
              routeId: item.id
            })">
            <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; {{item.label}}
          </ion-item>
          <ion-item  class="sub-list" ng-repeat="item in data.myLiteRoutes" menu-close  ng-if="data.myLiteRoutes.length > 0"
            ui-sref="tabs.my-lite-routes({
              label: item.label
            })">
            <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; {{item.label}}
          </ion-item>
          <ion-item menu-close ui-sref="tabs.tickets">
            <i class="fa fa-ticket fa-fw" aria-hidden="true"></i>&nbsp; Tickets
          </ion-item>
          <ion-item menu-close ui-sref="tabs.settings">
            <i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>
</ion-view>
