
<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view id="tabs">
  <ion-tabs class="tabs-icon-top tabs-calm">

    <ion-tab title="Routes"
             class="nav-text nav-routes"
             href="#/tabs/routes">
     <ion-nav-bar class="bar-royal">
       <ion-nav-back-button></ion-nav-back-button>
     </ion-nav-bar>
      <ion-nav-view name="tab-routes"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Trips"
            class="nav-text nav-tickets"
             href="#/tabs/tickets">
      <ion-nav-bar class="bar-royal">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view name="tab-tickets"></ion-nav-view>
    </ion-tab>

    <!-- this tab is hidden too -->
    <ion-tab title="Crowdstart"
            class="nav-text nav-kickstarter"
             href="#/tabs/crowdstart"
             hidden="false">
      <ion-nav-bar class="bar-royal">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view name="tab-crowdstart"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings"
             class="nav-text nav-settings"
             href="#/tabs/settings">
      <ion-nav-bar class="bar-royal">
        <ion-nav-back-button>Back</ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

    <!-- This tab is hidden -->
    <ion-tab title="Booking"
             href="#/tabs/booking"
             hidden="true">
      <ion-nav-bar class="bar-royal">
        <ion-nav-back-button>
        </ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view name="tab-booking"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Lite"
             href="#/tabs/lite"
             hidden="true">
      <ion-nav-bar class="bar-royal">
        <ion-nav-back-button>
        </ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view name="tab-lite"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Search"
             href="#/tabs/search"
             hidden="true">
      <ion-nav-bar class="bar-royal">
        <ion-nav-back-button>
        </ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
  <ui-gmap-google-map
    center="map.center"
    pan="true"
    zoom="map.zoom"
    bounds="map.bounds"
    dragging="map.dragging"
    control="map.control"
    options="map.options"
    data-tap-disabled="true"
  >
      <my-location></my-location>
      <ui-view name="map-area"></ui-view>
  </ui-gmap-google-map>
  <div class="message-locate-div" ng-show="true || disp.routeMessage.trim()">
    <div class="announcement">
      <span class="icon ion-chatbox-working"></span>
        <div class="message">
          {{disp.routeMessage.trim()}}
        </div>
    </div>
  </div>

</ion-view>
