<ion-view class="tickets" view-title="Your Tickets" hide-back-button="true">
  <ion-nav-buttons side="left">
    <menu-hamburger></menu-hamburger>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..."
                   on-refresh="refreshTickets(true)"
                   ng-if="user">
    </ion-refresher>

    <div class="item item-text-wrap no-items" ng-if="!user">
      <img src="./img/bgTickets.svg">
      <h2>You are not logged in</h2>
      <p>Log in to see your upcoming trips!</p>
      <button class="primary-button" on-tap="logIn()">
        Log In
      </button>
    </div>

    <!-- if no tickets -->
    <div class="item item-text-wrap no-items"
         ng-if="user &&
                tickets.today &&
                tickets.today.length === 0 &&
                tickets.soon &&
                tickets.soon.length === 0">
      <div class="item item-text-wrap" ng-if="error">
        <i class="icon ion-alert-circled"></i>
        There was a problem fetching your tickets from the server.
        Please try again later.
      </div>

      <img src="./img/bgTickets.svg">
      <h2>No upcoming trips</h2>
      <p>Your tickets will appear here when you book a trip!</p>
      <button class="primary-button" ui-sref="tabs.routes">
        Search For Routes
      </button>
    </div>

    <!-- if there are tickets -->
    <div class="list"
         ng-if="user &&
                tickets.today.length > 0 ||
                tickets.soon.length > 0" >
      <div class="item item-text-wrap" ng-if="error">
        <i class="icon ion-alert-circled"></i>
        There was a problem fetching your tickets from the server.
        Please try again later.
      </div>

      <div ng-if="tickets.today.length > 0"
           class="item item-divider">Today's Trips</div>
      <button ng-if="tickets.today.length > 0"
         class="item item-icon-right full"
         ng-repeat="ticket in tickets.today"
         on-tap="popupTicketModal(ticket)">
        <b>{{ ticket.boardStop.trip.route.label }}</b>
        <span class="date">{{ ticket.boardStop.time | date:'EEE, d MMM y' : '+0800' }}</span> <span class="time">{{ ticket.boardStop.time | date:'h:mm a' : '+0800' | lowercase }}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </button>
      <div ng-if="tickets.soon.length > 0"
           class="item item-divider">Upcoming Trips</div>
      <a ng-if="tickets.soon.length > 0"
         class="item item-icon-right"
         ng-repeat="ticket in tickets.soon"
         on-tap="popupTicketModal(ticket)">
         <b>{{ ticket.boardStop.trip.route.label }}</b>
        <span class="date">{{ ticket.boardStop.time | date:'EEE, d MMM y' : '+0800' }}</span> <span class="time">{{ ticket.boardStop.time | date:'h:mm a' : '+0800' | lowercase }}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>

  </ion-content>
</ion-view>
