<ion-view class="your-suggestions" view-title="Your Suggestions">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-close"></button>
    </ion-nav-buttons>
    <ion-content>

      <ion-item class="item-text-wrap">
        <suggestion-item></suggestion-item>
      </ion-item>
      <ion-item>
        <span class="header">Generated route</span>
        <crowdstart-route
          route="{label: '123'}">
      </ion-item>
  
    </ion-content>
  </ion-view>
``  