<ion-view class="your-suggestions" view-title="Your Suggestions">
  <ion-nav-buttons side="left">
    <menu-hamburger></menu-hamburger>
  </ion-nav-buttons>
  <ion-content>

    <div class="item item-divider">Your Suggestions</div>

    <ion-item ng-repeat="suggestion in data.suggestions" class="item-text-wrap">
      <suggestion-item suggestion="suggestion" ui-sref="tabs.your-suggestions-detail({ suggestionId: suggestion.id })">
      </suggestion-item>
    </ion-item>

    <button class="primary-button create-suggestion-btn" ui-sref="tabs.create-new-suggestion">
      Create new suggestion
    </button>

  </ion-content>
</ion-view>
