<ion-view class="your-suggestion-detail" view-title="View Suggestion" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button"
            ui-sref="tabs.your-suggestions"
            class="item-icon-right">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  
  <ion-content>

    <ion-item class="item-text-wrap">
      <suggestion-item suggestion="data.suggestion"></suggestion-item>
    </ion-item>

    <ion-item>
      <div ng-if="data.routes === null" class="loading-bar">
        <div>Generating Crowdstart Route...</div>
        <progress-bar display-label="false" backer1="loadingBar.counter" pax1="loadingBar.timer"></progress-bar>
      </div>

      <span ng-if="data.routes.length === 0">No suggested routes found!</span>

      <div ng-if="data.routes.length > 0">
        <span class="header">{{ data.routes[0].id ? 'Crowdstarted Route' : 'Generated route' }}</span>
        <crowdstart-route
          ng-repeat="route in data.routes" 
          route="route"
          ng-click="saveCrowdstartPreview(route)"
          ui-sref="tabs.crowdstart-detail({ routeId: route.id ? route.id : 'preview' })">
        </crowdstart-route>
      </div>
    </ion-item>

    <div class="action-link" on-tap="showSimilarRoutes()">View Similar Routes</div>
    <div class="action-link delete" on-tap="popupDeleteConfirmation()">Delete Suggestion</div>

  </ion-content>
</ion-view>