<div class="new_suggestion modal" data-tap-disabled=true>
  <ion-header-bar class="bar-stable">
    <h1 class="title">New Suggestion</h1>
    <button class="item-icon-right" ng-click="cancel()">
      <span class="icon ion-android-close"></span>
    </button>
  </ion-header-bar>
  <ion-content>
    <start-end-picker
          is-valid="newSuggestion.time != ''"
          start-point="newSuggestion.startPoint"
          end-point="newSuggestion.endPoint"
          prompt="Make Suggestion!"
          onsubmit="submitSuggestion(newSuggestion)"
          style="width: 100%; height: 100%; top:0 ;left: 0 ; position: absolute">
      <!-- FIXME: duplicate code here -->
      <label class="item item-select">
        <i class="icon ion-clock"></i>
        Time at Destination:
        <select ng-model="newSuggestion.time">
          <option value=""></option>
          <option value="00:00">00:00 - 02:00</option>
          <option value="02:00">02:00 - 04:00</option>
          <option value="04:00">04:00 - 06:00</option>
          <option value="06:00">06:00 - 08:00</option>
          <option value="08:00">08:00 - 10:00</option>
          <option value="10:00">10:00 - 12:00</option>
          <option value="12:00">12:00 - 14:00</option>
          <option value="14:00">14:00 - 16:00</option>
          <option value="16:00">16:00 - 18:00</option>
          <option value="18:00">18:00 - 20:00</option>
          <option value="20:00">20:00 - 22:00</option>
        </select>
      </label>
    </start-end-picker>
  </ion-content>
</div>
